$promotion-add-input-width:  auto;

.promotion-add{
  min-height:auto;

  .input,
  .textarea{
    display:block;
    width:100%;
  }

  &-notice{
    color: #c2c2c2;
  }

  &-box{
    margin-bottom:0.2rem;
    width:auto;
    span{
      color: $dark-text;
    }
  }

  &-form{
    margin:0;
    padding:$gap;
  }

  &-amount{
    font-size:24px;
    color:$red;
  }

  &-btn{
    padding:$gap;
    border-top:1px dashed #dcdee8;
    text-align:center;
    @extend %display-flex;
    justify-content: space-around;
    -webkit-box-pack:justify;

    .button{
      display:block;
      margin:0;
      width:47%;
    }
  }

  &-fromto{
    float: left;
    padding:0 0.05rem;
  }

  &-date{
    width:100%;
    float:none;
    margin-bottom:0.1rem;

    .input{
      width:100%;
    }

    i{
      @include absolute(top 0 right 5px);
    }
  }

  &-pic{
    @include size(auto, 1rem);
    width:47%;
    margin-bottom: $gap;
    float:left;

    &:last-child{
      float:right;
      margin-left:0;
    }

    a{
      @include size(100%, 100%);
      text-align: center;
      line-height: 1rem;
    }

    input{
      position: absolute;
      font-size: 130px;
      overflow: hidden;
      top: 0;
      opacity: 0;
      left: 0;
      width: 100%;
    }
  }

   &-setrule .form-select{
    width:$promotion-add-input-width;
    flex:1;
  }

  &-rules{
    padding-left:0.85rem;

    .form-title{
      display:block;
    }

    p,
    input{
      float: none;
    }

    p{
      padding:0 0.1rem;

      &:first-of-type{
        padding-left:0;
      }
    }


    &-box{
      position:relative;
      float: left;
      width:50%;
      margin-right:0;
      margin-bottom:0.1rem;
      @extend %display-flex;

      span{
        @include absolute(left 0.1rem top 0);
      }

      &:first-of-type{
        padding-right:3%;
      }

      &:last-of-type{
        padding-left:3%;

        span{
          left:0.25rem;
        }
      }


      input{
        padding-left:0.3rem;
      }
    }
  }

  &-addrule{
    a{
      @include size(100%, 0.38rem);
      //margin-left:0.75rem;
      line-height:0.38rem;
    }
  }

  &-require{
    margin: 30px 0;
    .input{
      height: 105px;
    }
  }

  &-dashedline{
    padding:30px 0 0;
  }

}

