$promotion-add-input-width:  auto;

.promotion-add{
  min-height:auto;

  .input,
  .textarea{
    width:100%;
  }

  &-notice{
    color: #c2c2c2;
  }

  &-box{
    margin-bottom:0.2rem;
    width:auto;
    span{
      color: $dark-text;
    }
  }

  &-form{
    margin:0;
    padding:0 $gap;

    .form-item{
      display:flex;
    }
  }

  &-amount{
    font-size:24px;
    color:$red;
  }

  &-btn{
    padding:$gap $gap*2;
    border-top:1px dashed #dcdee8;
    text-align:center;
    display:flex;
  }

  &-fromto{
    float: left;
    padding:0 0.05rem;
  }

  &-date{
    flex:1;

    .input{
      width:100%;
    }

    i{
      @include absolute(top 0 right 5px);
    }
  }

  &-pic{
    @include size(auto, 1rem);
    margin-bottom: $gap;
    flex:1;

    &:last-child{
      margin-left: 0.2rem;
    }

    a{
      @include size(100%, 100%);
      text-align: center;
      line-height: 1rem;
    }

    input{
      position: absolute;
      font-size: 130px;
      overflow: hidden;
      top: 0;
      opacity: 0;
      left: 0;
      width: 100%;
    }
  }

   &-setrule .form-select{
    width:$promotion-add-input-width;
    flex:1;
  }

  &-rules{
    p,input{
      float: left;
    }
    p{
      padding:0 0.1rem;

      &:first-of-type{
        padding-left:0;
      }
    }

    .input{
      width: 100%;
    }
  }

  &-addrule{
    a{
      @include size(1.9rem, 0.38rem);
      margin-left:0.75rem;
      line-height:0.38rem;
    }
  }

  &-require{
    margin: 30px 0;
    .input{
      height: 105px;
    }
  }

  &-dashedline{
    padding:30px 0 0;
  }

}

