.promotion-tab{
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #bec2d3;
  display: flex;
  flex-wrap: wrap;

  .promotion-operate{
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;

    li{
      width: 33.33%;
    }

    a{
      position: relative;
      width: 100%;

      &:after{
        content: "";
        width: 0.01rem;
        position: absolute;
        right: 0;
        top: 0.15rem;
        color: #363636;
        height: 0.2rem;
        background: #eaeaea;
      }
    }

    li:last-child a:after{
      width: 0;
    }
  }
  .promotion-status{
    display:none;
  }
}

