.promotion-fee{
  min-height:0;

  &-chart{
    @include size(100%, auto);
    padding-left:0;
    padding-top:0;

    &-detail{
      @include size(3rem, 3rem);
      @include relative(top 0 left 0);
      margin:0 auto;
    }

    &-text{
      margin:-$gap $gap $gap;

      dd,
      dt{
        @include size(100%, 0.3rem);
        padding:0;
      }

      dt{
        margin-bottom:$gap;
        font-size:$font-size-xlarge;
      }

      dd{
        height:0.2rem;
        padding-left:0;
        margin-bottom:0.05rem;
        font-size:$font-size-medium;
      }
    }
  }

  &-lists{
    margin:0;
    border:0;
    border-bottom:0;

    &-tab{
      display:table;
      width:100%;
      background:#f9f9f9;

      a{
        @include size(33.33%, 0.5rem);
        padding:0 0.1rem;
        min-width:auto;
        line-height: 1.5;
        float:none;
        display:table-cell;
        vertical-align:middle;
        box-sizing:border-box;

        &.curr,
        &:hover{
          background: #ebf4f8;
          color: $base-color;

          &:after{
            @include size(0, 0);
            @include absolute(bottom 0 left 50%);
            content:"";
            display:block;
            border-style:solid;
            border-width:5px;
            border-color:transparent transparent $base-color;
            margin-left:-5px;
          }
        }
      }
    }

    dt{
      display:none;
    }

  }

  &-item{
    position:relative;
    padding:0 $gap 0.6rem;
    border-bottom:1px solid $grey-border;
    color:$dark-text;

    p{
      font-size:$font-size-base;
      line-height:0.2rem;
    }

    &-name,
    &-amount,
    &-price,
    &-date,
    &-status{
      float:none;
      width:33%;
      order:0;
    }

    &-name{
      @include size(100%, auto);
      padding:0.05rem 0;
      margin-bottom:0.05rem;
      border-bottom:1px solid $light-border;
      line-height:0.3rem;
      font-size:$font-size-base;
      @extend %display-flex;

      p{
        width:60%;
        padding-right:$gap;
      }


      p:last-child{
        width:40%;
        padding:0;
        font-size:10px;
        color:$light-text;
        text-align:right;
      }
    }

    &-amount{
      @include absolute(bottom 0 right $gap);
      width:25%;
      margin:0.05rem 0;
      text-align:center;
    }

    &-price,
    &-date,
    &-status{
      float:left;
    }

    &-date{
      text-align:center;
      color:$light-text;
    }

    &-status{
      text-align:right;
    }

    strong{
      font-weight:400;
      color:$base-color;
    }

  }

  &-bar{
    @include size(100%, 7px);
    position:relative;
    margin:0;
    overflow:hidden;
    border-width:1px;
    border-style:solid;
    border-radius:10px;

    i{
      @include absolute(top 0 left 0);
      display:block;
      height:10px;
      text-indent:-9999px;
    }

    &-enough{
      border-color:$base-color;

      i{
        background:$base-color;
      }
    }

    &-enough{
      border-color:$base-color;

      i{
        background:$base-color;
      }

      & + p{
        color:$base-color;
      }
    }

    &-less{
      border-color:#8dc63f;
      color:#8dc63f;

      i{
        background:#8dc63f;
      }

      & + p{
        color:#8dc63f;
      }
    }

    &-none{
      border-color:#bec2d3;
      color:#bec2d3;

      i{
        background:#bec2d3;
      }

      & + p{
        color:#bec2d3;
      }
    }
  }

}
