.promotion-liby,
.promotion-mine{

  /*promotion-cont*/
  .promotion-cont{
    padding: 0 $gap;

    li{
      margin: $gap 0 0;
      width: 100%;
      height: auto;
      border: 1px;
      float: none;

      a{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      a{
        &:hover{
          color:$dark-text;
        }
      }

      .tit,
      .time{
        margin-top: 0.05rem;
        font-size: 12px;
      }

    }
  }
}
