.store-list{
  background:$white-background;
  min-height:$catalog-height;

  &-bar{
    position:relative;
    width:750px;
    margin:100px auto;
    font-size:$font-size-medium;
  }

  &-target,
  &-completion,
  &-progress{
    float:left;
  }

  &-target{
    margin-top:-20px;
    color:$base-color;
    text-align:center;

    span{
      display:block;
      font-size:28px;
    }
  }

  &-completion{
    margin-top:-18px;
    color:#b1b1b1;

    span{
      font-size:40px;
    }
  }

  &-progress{
    @include size(550px, 15px);
    position:relative;
    margin:0 $gap;
    background:#ebebeb;
    border-radius:10px;

    &-curr{
      @include absolute(top 0 left 0);
      display:block;
      height:15px;
      border-radius:10px;

      background: -webkit-gradient(linear, 0 0, 100% 0, from(#49beea), to(#30dab5));
      background: -moz-linear-gradient(left, #49beea, #30dab5);
      background: -o-linear-gradient(left, #49beea, #30dab5);
      background: -ms-linear-gradient(#49beea 0%,#30dab5 100%);
      -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#49beea',endColorstr='#30dab5',grandientType=1);
      box-sizing:border-box;

      &:after{
        @include size(10px, 10px);
        @include absolute(top -7px right -12px);
        content:"";
        display:block;
        border:8px solid #30dab5;
        border-radius:100%;
        background:#fff;
      }
    }

    &-text{
      @include absolute(top -90px left auto);
      @include size(90px, auto);
      padding:5px;
      margin-left:-45px;
      border:1px solid #30dab5;
      border-radius:5px;
      color:#30dab5;
      text-align:center;

      span{
        display:block;
        font-size:28px;
      }

      &:before{
        @include size(0, 0);
        @include absolute(bottom -10px left 50%);
        content:"";
        margin-left:-5px;
        border-width:5px;
        border-style:solid;
        border-color:#30dab5 transparent transparent;
      }

      &:after{
        @include size(0, 0);
        @include absolute(bottom -8px left 50%);
        content:"";
        margin-left:-4px;
        border-width:4px;
        border-style:solid;
        border-color:#fff transparent transparent;
      }
    }
  }

  &-filter{
    margin:$gap;
    color:$dark-text;

    &-area{
      float:left;
      margin-right:5px;
    }

    &-search{
      float:right;

      .input{
        width:230px;
      }
    }

    span,
    .input{
      display:inline-block;
      vertical-align:middle;
    }
  }

  &-content{
    margin:$gap;
    border:1px solid $grey-border;
    color:$grey-text;
    border-bottom:0;
    clear:both;
  }

  &-title{
    height:40px;
    line-height:40px;
    overflow:hidden;
    background:#f9f9f9;
    border-bottom:1px solid $light-border;

    .store-list-item-serial{
      line-height:40px;

      &:before{
        display:none;
      }
    }
  }

  &-item{
    padding:$gap 0;
    width:100%;
    color:$dark-text;
    overflow:hidden;
    border-bottom:1px solid $light-border;

    &-serial,
    &-detail,
    &-target,
    &-action{
      float:left;
      width:12.5%;
      text-align:center;
    }

    &-serial{
      position:relative;
      width:10%;
      height:85px;

      span{
        @include size(18px, 18px);
        @include absolute(top 50% left 50%);
        display:block;
        margin-left:-9px;
        margin-top:-9px;
        line-height:21px;
        text-align:center;
        color:#fff;
        font-size:11px;  //fix firefox bug;
      }

      &:before{
        @include size(40px, 40px);
        @include absolute(top 50% left 50%);
        content:"\e63d";
        font-family:"iconfont";
        margin-top:-28px;
        margin-left:-20px;
        line-height:40px;
        font-size:39px;
        color:$light-text;
      }
    }

    &1 &-serial{
      &:before{
        color:#07aaeb;
      }
    }
    // &1 &-status{
    //   color:#07aaeb;
    // }

    &2 &-serial{
      &:before{
        color:#f7941d;
      }
    }
    // &2 &-status{
    //   color:#f7941d;
    // }

    &3 &-serial{
      &:before{
        color:#8dc63f;
      }
    }
    // &3 &-status{
    //   color:#8dc63f;
    // }

    &-detail{
      width:65%;
      text-align:left;

      img{
        @include size(85px,85px);
        display:block;
        float:left;
        margin-right:$gap*2;
      }
    }

    &-action{
      a{
        display:block;
        margin-bottom:5px;
        text-align:center;
      }
    }

    &-txt{
      color:$dark-text;
      line-height:20px;
    }

    &-target strong{
      font-size:22px;
    }

    &-status,
    &-title{
      margin-bottom:5px;
    }
  }
}

