.breadcrumb{
  @include size($base-width, 38px);
  margin:0 auto;
  line-height:38px;
  color:$grey-text;

  span,
  a{
    display:inline-block;
    vertical-align:middle;
    color:$grey-text;

    &:hover{
      color:$blue-text;
    }
  }

  i{
    margin-left:-4px;
    font-size:$font-size-base;
  }
}
