.chart-box{
  position:relative;
}
.chart-title{
  @include absolute(top 15% left 0);
  @include size(100%, 20px);
  text-align:center;
  color:#898989;
}
.chart-detail{
  height:100%;
}
.chart-other{
  @include size(100%, 40px);
  margin-top:-50px;
  text-align:center;
  font-size:$font-size-medium;
}
.chart-finish{
  margin-bottom:5px;
  &-blue{
    .with-bg{
      padding:2px 5px;
      border:1px solid $base-color;
      background:$base-background;
      color:$white-text;
    }
    .with-border{
      padding:2px 5px;
      border:1px solid $base-color;
      color:$base-color;
    }
  }
}
