$footer-grey:#a1a1a1;
.footer{
  width: 100%;
  overflow: hidden;
  background: #fff;

  &-content{
    width: 800px;
    margin: 0 auto;
    padding:15px 0;
    overflow: hidden;
    border-bottom: 1px solid #dbdbdb;

    dl{
      width: 16.6666%;
      float: left;   
    }
    dt{
      text-align: center;
      padding: 6px 0;
      font-size: 14px;
      color:$footer-grey;
    }

    dd{
      text-align: center;
      padding: 6px 0;
      font-size: 12px;
    }
  }

  &-copyright{
    text-align: center;
    color:$footer-grey;
    margin:15px 0;
  }

  a{
    color:$footer-grey;

    &:hover{
      color:$base-color;
    }
  }
}

