.index-order{
  @include size($box-left-width+$gap, 300px+$gap);
  position:relative;
  overflow:hidden;
  border-right:$gap solid $light-background;
  border-bottom:$gap solid $light-background;

  &-tab{
    @include size(100%, 78px);
    position:relative;
    border-bottom:1px solid $grey-border;

    li{
      @include size(100px, 78px);
      position:relative;
      float:left;
      padding:17px 0;
      border-right:1px solid $grey-border;
      text-align:center;
      line-height:22px;
      cursor:pointer;

      &:last-child{
        border:0;
      }

      &.curr{
        background:$base-background url(#{$background-root}/bg/bg-header.png) no-repeat;
        background-size:50%;

        &:after{
          @include size(0, 0);
          @include absolute(bottom -10px left 50%);
          content:"";
          display:block;
          border-style:solid;
          border-width:5px;
          border-color:$base-color transparent transparent;
          margin-left:-5px;
        }

        p{
          color:$white-background;

          &:first-child{
            font-size:24px;
          }
        }
      }
    }
  }

  &-count{
    font-size:$font-size-xlarge;
  }

  &-lists{

  }

  &-item{
    @include size(100%, 85px);
    padding:12px;
    border-bottom:1px solid $grey-border;

    &:last-child{
      border:0;
    }
  }

  &-img,
  &-address,
  &-quantity,
  &-amount{
    float:left;
  }

  &-img{
    width:150px;
    overflow:hidden;
    padding-right:$gap;

    img{
      @include size(62px, 62px);
      display:block;
      float:left;
      border:1px solid $dark-border;

      &:last-child{
        float:right;
      }
    }
  }

  &-address{
    width:260px;
    padding:5px 0;
    padding-right:$gap;
  }
  &-quantity{
    width:70px;
    padding:5px 0;
    text-align:center;
    line-height:18px;
  }
  &-amount{
    float:right;
    width:140px;
    padding:5px 0;
    text-align:center;
    line-height:18px;
  }
}
