.index-star{
  @include size($box-right-width, 370px);
  position:relative;
  margin-right:$gap;
  margin-bottom:$gap;
  background:$white-background;
  overflow:hidden;

  &-item{
    padding:12px;
    height:64px;
    border-bottom:1px solid #ebebeb;

    &:last-child{
      border:0;
    }

    img{
      @include size(40px, 40px);
      float:left;
    }
  }

  &-detail,
  &-target{
    line-height:22px;
  }


  &-detail{
    float:left;
    margin:0 $gap;
  }

  &-target{
    float:right;
    padding-left:35px;
    position:relative;

    .icon{
      @include absolute(left 0 top 5px);
    }
  }
}
