.index-tool{
  @include size($box-right-width, 180px);
  margin-right:$gap;
  margin-bottom:$gap;
  background:$white-background;

  &-title{
    height:30px;
    padding-left:$gap;
    line-height:30px;
    background:#f0fafe;
  }

  &-lists{
      @include size(100%, 75px);

    li{
      @include size(25%, 75px);
      float:left;
      text-align:center;
      border-right: 1px solid $grey-border;

      &:nth-child(4n){
        border-right:0;
      }

      &:first-child,
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4){
        border-bottom: 1px solid $grey-border;
      }
    }
  }
}
