.index-wallet{
  @include size($box-left-width, 250px);
  position:relative;
  margin-left:$gap;
  margin-bottom:$gap;
  background:$white-background;
  overflow:hidden;

  &-content{

    li{
      @include size(100%/3, 198px);
      float:left;
      border-right:1px solid $grey-border;
      text-align:center;

      &:last-child{
        border:0;
      }
    }

    .icon{
      display:block;
      margin:40px auto 10px;
    }
  }

  &-count{
    font-size:$font-size-xlarge;
  }
}
