
%ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
%block-a{
  display:block;
  height:100%;
  box-sizing:border-box;
}
%section-title{
  height:40px;
  line-height:40px;
  font-size:$font-size-xlarge;
  color:#656565;
  background:$light-background;
}

//mobile
%section-title-mobile{
  height:0.45rem;
  padding:0 0.15rem;
  line-height:0.55rem;
  font-size:$font-size-medium;
}


// %display-flex{
//   display:-webkit-box;
//   display:-webkit-flex;
//   display:flex;
// }


// %flex1{
//   -webkit-box-flex: 1;
//   -moz-box-flex: 1;
//   -ms-flex: 1;
//   flex:1;
// }

// %flex-column{
//   -webkit-box-orient: vertical;
//   -moz-box-orient: vertical;
//   box-orient: vertical;
//   flex-direction: column;
// }
