%ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
%block-a{
  display:block;
  height:100%;
  box-sizing:border-box;
}
%section-title{
  height:40px;
  line-height:40px;
  font-size:$font-size-xlarge;
  color:#656565;
  background:$light-background;
}
