.promotion-liby,
.promotion-mine{
  background: #fff;
  overflow: hidden;
  min-height:$catalog-height;

  /*promotion-cont*/
  .promotion-cont{
    overflow:hidden;

    li{
      position:relative;
      padding: $gap 18px $gap;
      width: 333px;
      height: 170px;
      float: left;
      background:#fff;

      img{
        width: 100%;
        height:auto;
        display: block;
      }

      a{
        display: block;
        color: $dark-text;

        &:hover{
          color:$base-color;
        }
      }

      .tit{
        float: left;
        font-size: 14px;
        display: block;
        margin-top: 13px;
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .time{
        float: right;
        font-size: 12px;
        color: #c2c2c2;
        margin-top: 15px;

      }
    }
  }

  /*promotion-end*/
  .promotion-end{
    margin:0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 250px;
    height: 50px;
    border-bottom: 1px solid #c2c2c2;
    position: relative;

    .promotion-end-txt{
      @include absolute(left 50% bottom -12px);
      width: 140px;
      color: #c2c2c2;
      padding: 0 10px;
      background: #fff;
      font-size: 14px;
      text-align: center;
      margin-left:-70px;
    }
  }
}

.promotion-liby,
.promotion-mine{
  &-content{
    padding:$gap;
    color:$dark-text;
    background:#fff;
  }

  &-title{
    margin:$gap 0;
    font-size:$font-size-xlarge;
  }

  &-detail{
    position:relative;
    padding-left:90px;
    margin:20px 0;
    font-size:$font-size-medium;

    h4{
      @include absolute(left 0 top 0);
    }

    p{
      margin-bottom:5px;
    }
  }
}

.promotion-liby .iconfont{
  vertical-align:text-top;
  font-size:12px;
}

.promotion-liby-detail{
  &-date{
    margin-right:30px;
  }

  &-buy{
    padding:5px 10px;
    border-radius:20px;
    color:#fff;
    background:#68d717;
  }

  span{
    display:inline-block;
    vertical-align:middle;
  }
}

.promotion-liby-recommend{
  background:#fff;

  h4{
    padding-top:$gap;
    margin:$gap 0;
    font-size:$font-size-medium;
    border-top:1px solid #f6f6f6;

    a{
      float:right;
      color:$base-color;
      font-size:$font-size-base;
    }
  }
}

.promotion-liby-list{
  //this style is @account/promotion.scss
}
