<!-- import css files and body start -->


<!-- import page header -->


<!-- import page nav -->



<!-- import homepage -->
<div class="homepage clearfix">
	
	<!-- homepage-banner -->
	<div class="homepage-banner">
		<ul class="homepage-banner-carousel clearfix">
		    <li style="background-image:url(/src/images/temp/homepage-banner.jpg);"></li>
		    <li style="background-image:url(/src/images/temp/homepage-banner.jpg);"></li>
		    <li style="background-image:url(/src/images/temp/homepage-banner.jpg);"></li>
		</ul>
	</div>

	<!-- homepage-brands -->
	<div class="homepage-brands-subject">
		<h2>立白明星家族<span>Liby Brands</span></h2>
		<div class="homepage-brands-subject-tag">
			<a href="#">立白</a>
			<a href="#">好爸爸</a>
			<a href="#">超威</a>
			<a href="#">蓝天</a>
			<a href="#">六必治</a>
			<a href="#">高姿</a>
			<a href="#">呵呵宝贝</a>
			<a href="#">西兰</a>
		</div>
	</div>

	<div class="homepage-brands">
		<a class="homepage-brands-video" href="#">
			<img src="/src/images/temp/brand0.jpg" alt="brand">
		</a>
		<ul class="homepage-brands-logos">
			<li>
				<img src="/src/images/temp/brand1.jpg" alt="logos">
				<a class="logo-cover" href="#">
					<div class="logo-cover-con">
						<p>有新品上市aa</p>
						<span>点击进入</span>
						<i class="icon icon14"></i>						
					</div>

				</a>
			</li>
			<li>
				<img src="/src/images/temp/brand1.jpg" alt="logos">
				<a class="logo-cover" href="#">
					<div class="logo-cover-con">
						<p>有新品上市aa</p>
						<span>点击进入</span>
						<i class="icon icon14"></i>						
					</div>

				</a>
			</li>
			<li>
				<img src="/src/images/temp/brand1.jpg" alt="logos">
				<a class="logo-cover" href="#">
					<div class="logo-cover-con">
						<p>有新品上市aa</p>
						<span>点击进入</span>
						<i class="icon icon14"></i>						
					</div>

				</a>
			</li>
			<li>
				<img src="/src/images/temp/brand1.jpg" alt="logos">
				<a class="logo-cover" href="#">
					<div class="logo-cover-con">
						<p>有新品上市aa</p>
						<span>点击进入</span>
						<i class="icon icon14"></i>						
					</div>

				</a>
			</li>
			<li>
				<img src="/src/images/temp/brand1.jpg" alt="logos">
				<a class="logo-cover" href="#">
					<div class="logo-cover-con">
						<p>有新品上市aa</p>
						<span>点击进入</span>
						<i class="icon icon14"></i>						
					</div>

				</a>
			</li>
			<li>
				<img src="/src/images/temp/brand1.jpg" alt="logos">
				<a class="logo-cover" href="#">
					<div class="logo-cover-con">
						<p>有新品上市aa</p>
						<span>点击进入</span>
						<i class="icon icon14"></i>						
					</div>

				</a>
			</li>
			<li>
				<img src="/src/images/temp/brand1.jpg" alt="logos">
				<a class="logo-cover" href="#">
					<div class="logo-cover-con">
						<p>有新品上市aa</p>
						<span>点击进入</span>
						<i class="icon icon14"></i>						
					</div>

				</a>
			</li>
			<li>
				<img src="/src/images/temp/brand1.jpg" alt="logos">
				<a class="logo-cover" href="#">
					<div class="logo-cover-con">
						<p>有新品上市aa</p>
						<span>点击进入</span>
						<i class="icon icon14"></i>						
					</div>

				</a>
			</li>
			<li>
				<img src="/src/images/temp/brand1.jpg" alt="logos">
				<a class="logo-cover" href="#">
					<div class="logo-cover-con">
						<p>有新品上市aa</p>
						<span>点击进入</span>
						<i class="icon icon14"></i>						
					</div>

				</a>
			</li>
			<li>
				<img src="/src/images/temp/brand1.jpg" alt="logos">
				<a class="logo-cover" href="#">
					<div class="logo-cover-con">
						<p>有新品上市aa</p>
						<span>点击进入</span>
						<i class="icon icon14"></i>						
					</div>

				</a>
			</li>
			<li>
				<img src="/src/images/temp/brand1.jpg" alt="logos">
				<a class="logo-cover" href="#">
					<div class="logo-cover-con">
						<p>有新品上市aa</p>
						<span>点击进入</span>
						<i class="icon icon14"></i>						
					</div>

				</a>
				<li>
					<img src="/src/images/temp/brand1.jpg" alt="logos">
					<a class="logo-cover" href="#">
						<div class="logo-cover-con">
							<p>有新品上市aa</p>
							<span>点击进入</span>
							<i class="icon icon14"></i>						
						</div>

					</a>
				</li>
				<li>
					<img src="/src/images/temp/brand1.jpg" alt="logos">
					<a class="logo-cover" href="#">
						<div class="logo-cover-con">
							<p>有新品上市aa</p>
							<span>点击进入</span>
							<i class="icon icon14"></i>						
						</div>

					</a>
				</li>			<li>
				<img src="/src/images/temp/brand1.jpg" alt="logos">
				<a class="logo-cover" href="#">
					<div class="logo-cover-con">
						<p>有新品上市aa</p>
						<span>点击进入</span>
						<i class="icon icon14"></i>						
					</div>

				</a>
			</li>
			</li>		
		</ul>
	</div>

	<!-- homepage-promotion -->
	<div class="homepage-promotion-subject">
		<h2>您的专属活动<span>Liby Promotion</span></h2>
		<div class="homepage-promotion-subject-tag">
			<a href="#">立白</a>
			<a href="#">好爸爸</a>
			<a href="#">超威</a>
			<a href="#">蓝天</a>
			<a href="#">六必治</a>
			<a href="#">高姿</a>
			<a href="#">呵呵宝贝</a>
			<a href="#">西兰</a>
		</div>
	</div>

	<div class="homepage-promotion">
		<ul class="homepage-promotion-top clearfix">
			<li>
				<a href="#">
					<img src="/src/images/temp/go1.jpg" alt="promotion">
					<i class="icon icon14"></i>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/src/images/temp/go2.jpg" alt="promotion">
					<i class="icon icon14"></i>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/src/images/temp/go3.jpg" alt="promotion">
					<i class="icon icon14"></i>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/src/images/temp/go4.jpg" alt="promotion">
					<i class="icon icon14"></i>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/src/images/temp/go5.jpg" alt="promotion">
					<i class="icon icon14"></i>
				</a>
			</li>
		</ul>
		<div class="homepage-promotion-bottom">
			<ul class="homepage-promotion-bottom-carousel clearfix">
			  <li>
			    <a href="#">
			      <img src="/src/images/temp/homepage-new-products.jpg" width="100%" alt="">
			    </a>
			  </li>
			  <li>
			    <a href="#">
			      <img src="/src/images/temp/homepage-new-products.jpg" width="100%" alt="">
			    </a>
			  </li>
			  <li>
			    <a href="#">
			      <img src="/src/images/temp/homepage-new-products.jpg" width="100%" alt="">
			    </a>
			  </li>
			  <li>
			    <a href="#">
			      <img src="/src/images/temp/homepage-new-products.jpg" width="100%" alt="">
			    </a>
			  </li>
			</ul>
			<div class="homepage-promotion-bottom-right">
				<div class="homepage-promotion-bottom-tit">
					<a href="#">更多新品 ></a>
				</div>
				<ul class="homepage-promotion-bottom-ul clearfix">
				  <li>
				    <a href="#">
				      <img src="/src/images/temp/homepage-new-products3.jpg" width="100%" alt="">
				    </a>
				  </li>
				  <li>
				    <a href="#">
				      <img src="/src/images/temp/homepage-new-products3.jpg" width="100%" alt="">
				    </a>
				  </li>
				  <li>
				    <a href="#">
				      <img src="/src/images/temp/homepage-new-products3.jpg" width="100%" alt="">
				    </a>
				  </li>
				  <li>
				    <a href="#">
				      <img src="/src/images/temp/homepage-new-products3.jpg" width="100%" alt="">
				    </a>
				  </li>
				</ul>
			</div>
		</div>
	</div>

	<!-- homepage-new-products -->
	<div class="homepage-new-products-subject">
		<h2>本季新品尝鲜<span>Recent View</span></h2>
		<div class="homepage-new-products-subject-tag">
			<a href="#">立白</a>
			<a href="#">好爸爸</a>
			<a href="#">超威</a>
			<a href="#">蓝天</a>
			<a href="#">六必治</a>
			<a href="#">高姿</a>
			<a href="#">呵呵宝贝</a>
			<a href="#">西兰</a>
		</div>
	</div>

	<div class="homepage-new-products">
		<ul class="homepage-new-products-carousel clearfix">
		  <li>
		    <a href="#">
		      <img src="/src/images/temp/homepage-new-products.jpg" width="100%" alt="">
		    </a>
		  </li>
		  <li>
		    <a href="#">
		      <img src="/src/images/temp/homepage-new-products.jpg" width="100%" alt="">
		    </a>
		  </li>
		  <li>
		    <a href="#">
		      <img src="/src/images/temp/homepage-new-products.jpg" width="100%" alt="">
		    </a>
		  </li>
		  <li>
		    <a href="#">
		      <img src="/src/images/temp/homepage-new-products.jpg" width="100%" alt="">
		    </a>
		  </li>
		</ul>
		
		<div class="homepage-new-products-right">
			<div class="homepage-new-products-tit">
				<a href="#">更多新品 ></a>
			</div>
			<ul class="homepage-new-products-ul clearfix">
			  <li>
			    <a href="#">
			      <img src="/src/images/temp/homepage-new-products3.jpg" width="100%" alt="">
			    </a>
			  </li>
			  <li>
			    <a href="#">
			      <img src="/src/images/temp/homepage-new-products3.jpg" width="100%" alt="">
			    </a>
			  </li>
			  <li>
			    <a href="#">
			      <img src="/src/images/temp/homepage-new-products3.jpg" width="100%" alt="">
			    </a>
			  </li>
			  <li>
			    <a href="#">
			      <img src="/src/images/temp/homepage-new-products3.jpg" width="100%" alt="">
			    </a>
			  </li>
			</ul>
		</div>

		<ul class="homepage-new-products-bottom">
			<li>
				<i class="icon icon14"></i>
				<div class="li-con">
					<a href="#">
						<img src="/src/images/temp/recentview1.jpg" alt="new-products">
					</a>
					<a class="homepage-new-products-bottom-tit" href="#">好爸爸洗衣露 户外950g两瓶</a>
					<p class="homepage-new-products-bottom-tag">￥18.90
						<del>21.00</del>
					</p>
				</div>
			</li>
			<li>
				<i class="icon icon14"></i>
				<div class="li-con">
					<a href="#">
						<img src="/src/images/temp/recentview1.jpg" alt="new-products">
					</a>
					<a class="homepage-new-products-bottom-tit" href="#">好爸爸洗衣露 户外950g两瓶</a>
					<p class="homepage-new-products-bottom-tag">￥18.90
						<del>21.00</del>
					</p>
				</div>
			</li>
			<li>
				<i class="icon icon14"></i>
				<div class="li-con">
					<a href="#">
						<img src="/src/images/temp/recentview1.jpg" alt="new-products">
					</a>
					<a class="homepage-new-products-bottom-tit" href="#">好爸爸洗衣露 户外950g两瓶</a>
					<p class="homepage-new-products-bottom-tag">￥18.90
						<del>21.00</del>
					</p>
				</div>
			</li>
			<li>
				<i class="icon icon14"></i>
				<div class="li-con">
					<a href="#">
						<img src="/src/images/temp/recentview1.jpg" alt="new-products">
					</a>
					<a class="homepage-new-products-bottom-tit" href="#">好爸爸洗衣露 户外950g两瓶</a>
					<p class="homepage-new-products-bottom-tag">￥18.90
						<del>21.00</del>
					</p>
				</div>
			</li>
			<li>
				<i class="icon icon14"></i>
				<div class="li-con">
					<a href="#">
						<img src="/src/images/temp/recentview1.jpg" alt="new-products">
					</a>
					<a class="homepage-new-products-bottom-tit" href="#">好爸爸洗衣露 户外950g两瓶</a>
					<p class="homepage-new-products-bottom-tag">￥18.90
						<del>21.00</del>
					</p>
				</div>
			</li>
		</ul>
	</div>

	<!-- homepage-rencent-view -->
	<div class="homepage-rencent-view-subject">
		<h2>最近浏览<span>Recent View</span></h2>
	</div>

	<ul  class="homepage-rencent-view clearfix">
		<li>
			<a href="#">
				<img src="/src/images/temp/recentview1.jpg" alt="recentview">
			</a>
			<a class="homepage-rencent-view-tit" href="#">好爸爸洗衣露 户外950g两瓶</a>
			<p class="homepage-rencent-view-tag">￥18.90
				<del>21.00</del>
			</p>
		</li>
		<li>
			<a href="#">
				<img src="/src/images/temp/recentview2.jpg" alt="recentview">
			</a>
			<a class="homepage-rencent-view-tit" href="#">好爸爸洗衣露 户外950g两瓶</a>
			<p class="homepage-rencent-view-tag">￥18.90
				<del>21.00</del>
			</p>
		</li>
		<li>
			<a href="#">
				<img src="/src/images/temp/recentview3.jpg" alt="recentview">
			</a>
			<a class="homepage-rencent-view-tit" href="#">好爸爸洗衣露 户外950g两瓶</a>
			<p class="homepage-rencent-view-tag">￥18.90
				<del>21.00</del>
			</p>
		</li>
		<li>
			<a href="#">
				<img src="/src/images/temp/recentview4.jpg" alt="recentview">
			</a>
			<a class="homepage-rencent-view-tit" href="#">好爸爸洗衣露 户外950g两瓶</a>
			<p class="homepage-rencent-view-tag">￥18.90
				<del>21.00</del>
			</p>
		</li>
		<li>
			<a href="#">
				<img src="/src/images/temp/recentview5.jpg" alt="recentview">
			</a>
			<a class="homepage-rencent-view-tit" href="#">好爸爸洗衣露 户外950g两瓶</a>
			<p class="homepage-rencent-view-tag">￥18.90
				<del>21.00</del>
			</p>
		</li>
		<li>
			<a href="#">
				<img src="/src/images/temp/recentview1.jpg" alt="recentview">
			</a>
			<a class="homepage-rencent-view-tit" href="#">好爸爸洗衣露 户外950g两瓶</a>
			<p class="homepage-rencent-view-tag">￥18.90
				<del>21.00</del>
			</p>
		</li>
		<li>
			<a href="#">
				<img src="/src/images/temp/recentview2.jpg" alt="recentview">
			</a>
			<a class="homepage-rencent-view-tit" href="#">好爸爸洗衣露 户外950g两瓶</a>
			<p class="homepage-rencent-view-tag">￥18.90
				<del>21.00</del>
			</p>
		</li>
		<li>
			<a href="#">
				<img src="/src/images/temp/recentview3.jpg" alt="recentview">
			</a>
			<a class="homepage-rencent-view-tit" href="#">好爸爸洗衣露 户外950g两瓶</a>
			<p class="homepage-rencent-view-tag">￥18.90
				<del>21.00</del>
			</p>
		</li>
		<li>
			<a href="#">
				<img src="/src/images/temp/recentview4.jpg" alt="recentview">
			</a>
			<a class="homepage-rencent-view-tit" href="#">好爸爸洗衣露 户外950g两瓶</a>
			<p class="homepage-rencent-view-tag">￥18.90
				<del>21.00</del>
			</p>
		</li>
		<li>
			<a href="#">
				<img src="/src/images/temp/recentview5.jpg" alt="recentview">
			</a>
			<a class="homepage-rencent-view-tit" href="#">好爸爸洗衣露 户外950g两瓶</a>
			<p class="homepage-rencent-view-tag">￥18.90
				<del>21.00</del>
			</p>
		</li>
	</ul>

	<div class="homepage-end clearfix">
	  <div class="homepage-end-txt">
	    <i class="icon"></i>
	    <p>我是有底线的</p>
	  </div>
	</div>
</div>




<!-- import page js files and /body end -->
