.order-check{
  margin-left:-$catalog-width;
  background:$light-background;

  &-content{
    min-height:$catalog-height;
  }

  &-title{
    @extend %section-title;
  }

  &-info{
    margin-top:-5px;
    margin-bottom:$gap;
  }

  &-delivery{
    padding:$gap $gap*2;
    background:#fff;
  }

  // &-delivery{
  //   li{
  //     float:left;
  //     height:35px;
  //     min-width:170px;
  //     position:relative;
  //     margin:0 20px 20px 0;
  //   }

  //   p{
  //     @include size(100%, 100%);
  //     padding:0 20px;
  //     line-height:35px;
  //     text-align:center;
  //     color:#808080;
  //     border:1px solid #d5d8e3;
  //     font-size:$font-size-base;
  //     cursor:pointer;
  //   }

  //   input[type="radio"]{
  //     display:none;
  //   }

  //   p.curr,
  //   input[type="radio"]:checked + p{
  //     border:1px solid $base-color;
  //     background:#f0fafe;
  //     color:$base-color;

  //     &:after{
  //       @include absolute(right 0 bottom -10px);
  //       content:"\e62b";
  //       color:$base-color;
  //       font-size:14px;
  //     }
  //   }
  // }

  &-address{
    line-height:20px;

    li{
      @include size(270px, 102px);
      float:left;
      position:relative;
      margin-right:20px;
    }

    &-detail{
      @include size(100%, 100%);
      padding:$gap;
      color:$grey-text;
      cursor:pointer;
      background:url(#{$background-root}/bg/bg-address.png) no-repeat;

      a{
        color:$base-color;
      }
    }

    @media screen and (-webkit-min-device-pixel-ratio: 2) {
      &-detail{
        background:url(#{$background-root}/bg/bg-address@2x.png) no-repeat;
        background-size:cover;
      }
    }

    input[type="radio"]{
      display:none;
    }

    &-detail.curr,
    input[type="radio"]:checked + &-detail{
      &:after{
        @include absolute(right 0 bottom 0);
        content:"\e62b";
        font-family:'iconfont';
        color:$red;
        font-size:22px;
      }
    }

    &-name{
      font-size:$font-size-medium;
      margin-bottom:10px;
    }
  }

  &-menu{
    position:relative;
    overflow:hidden;
    height:45px;
    line-height:45px;
    color:$dark-text;

    &-product,
    &-price,
    &-quantity,
    &-total{
      float:left;
    }

    &-product{
      width:435px;
      padding:0 $gap*2;
      margin-right:230px;
    }

    &-price{
      width:125px;
      padding:0 20px;
    }

    &-quantity{
      width:185px;
      text-align:center;
    }

    &-total{
      width:130px;
      text-align:right;
    }
  }

  &-item{
    position:relative;
    padding:20px $gap*2;
    height:135px;

    .cart{
      &-info{
        width:155px;
        margin-right:100px;
        padding:0 20px;
      }

      &-total{
        text-align:right;
      }
    }
  }

  &-sales{
    padding:$gap $gap*2;
    color:$base-color;

    .with-white-bg{
      padding:0 3px;
      border:1px solid $base-color;
    }

    .with-blue-bg{
      padding:0 3px;
      background:$base-color;
      border:1px solid $base-color;
      color:#fff
    }
  }

  &-remark{
    position:relative;
    padding:$gap $gap*2;

    &-left{
      @include absolute(top 50% left $gap*2);
      height:30px;
      margin-top:-15px;
      line-height:30px;
    }

    &-right{
      float:right;
      width:30%;
    }

    .input{
      width:330px;
    }
  }



  &-charge{
    margin-bottom:5px;
    text-align:right;

    &:last-child{
      margin:0;
    }

    &-title{
      float:left;
      display:inline-block;
      width:150px;
      text-align:right;
    }
  }

  &-payment{
    padding:$gap $gap*2;
    text-align:right;
    line-height:36px;

    .order-check-charge{
      margin-left:70%;
    }

    strong{
      color:$red;
      font-size:24px;
    }
  }

  &-product-info{
    float:right;
    text-align:right;
    color:$dark-text;
  }
}

.order-check,
.order-waybill{
  &-menu,
  &-item,
  &-sales,
  &-remark,
  &-topup,
  &-payment{
    border-bottom:1px solid $grey-border;
    background:#fff;
  }


  &-topup{
    position:relative;
    height:60px;
    padding:10px 120px 10px $gap*2;
    border-top:$gap solid $light-border;
    color:$dark-text;
    line-height:16px;

    span{
      line-height:24px;
    }

    .button{
      @include absolute(right 2px top 2px);
      width:110px;
      font-size:$font-size-large;
    }
  }

  &-checkout{
    padding:$gap 0;
    margin-bottom:-$gap;
    text-align:right;
    background:$light-border;

    a{
      margin-right:$gap;
      color:#7a8290;
      font-size:$font-size-medium;
    }
  }

}
