.order-list{
  background:$white-background;
  min-height:$catalog-height;

  &-tab{
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #bec2d3;

    li{
      float: left;
    }

    a{
      @include size(auto, 50px);
      display: block;
      min-width:70px;
      padding:0 20px;
      border-bottom: 2px solid #fff;
      font-size: 14px;
      line-height: 50px;
      text-align: center;
      color: $dark-text;
    }

    li.curr a,
    a:hover{
      border-bottom: 2px solid #07aaeb;
      color: #07aaeb;
    }
  }

  &-content{
    overflow: hidden;
  }

  &-subtab{
    background:#f9f9f9;
    overflow: hidden;

    a{
      @include size(auto, 50px);
      position:relative;
      min-width:90px;
      padding:0 10px;
      float: left;
      display: block;
      line-height: 50px;
      text-align: center;
      color: $grey-text;

      &.curr,
      &:hover{
        background: #ebf4f8;
        color: $base-color;

        &:after{
          @include size(0, 0);
          @include absolute(bottom 0 left 50%);
          content:"";
          display:block;
          border-style:solid;
          border-width:5px;
          border-color:transparent transparent $base-color;
          margin-left:-5px;
        }
      }
    }
  }

  &-filter{
    margin:$gap;
    color:$dark-text;

    &-date{
      float:left;
      margin-right:5px;
    }

    &-search{
      float:right;

      .input{
        width:230px;
      }
    }

    &-text{
      float:left;
      margin-right:5px;
      line-height:30px;
    }
  }

  &-items{
    margin:$gap;
    color:$dark-text;
    border:1px solid $grey-border;

    &-title{
      height:38px;
      line-height:38px;

      .order-list-cell-product{
        margin-right:100px;
      }
    }

    &-detail{
      position:relative;
      line-height:20px;
      overflow:hidden;
    }

    &-date{
      padding-left:$gap;
      margin-bottom:$gap;
      background:#f9f9f9;
      line-height:35px;

      span{
        margin-right:$gap*2;
      }

      a{
        color:$base-color;
      }

      i{
        font-size:$font-size-base;
      }
    }
  }

  &-cell{

    &-image,
    &-detail,
    &-product,
    &-quantity,
    &-price,
    &-total,
    &-check,
    &-action{
      float:left;
      text-align:center;
    }

    &-detail{
      float:left;
      width:674px;
      margin-left:-1px;
      margin-top:-$gap;
    }

    &-image img{
      @include size(85px,85px);
      display:block;
      margin-left:$gap;
    }

    &-product{
      @include size(235px, 100%);
      position:relative;
      padding-left:$gap;
      text-align:left;
      overflow:hidden;

      span{
        @include absolute(left 15px bottom 0);
        color:$light-text;
      }
    }

    &-quantity{
      width:80px;
    }

    &-price,
    &-total,
    &-action{
      width:98px;

      strong{
        font-size:$font-size-medium
      }
    }

    &-check{
      width:99px;
    }

    &-check a,
    &-action a{
      display:block;
      margin-bottom:5px;
      color:$base-color;
    }

    &-single{
      position:relative;
      padding:$gap 0;
      height:116px;
      border:1px solid #f5f5f5;
      border-left:0;
      border-top:0;

      &:last-child{
        border-bottom:0;
      }

      &:before,
      &:after{
        @include size(1px, 900px);
        @include absolute(top 0 right -99px);
        content:"";
        display:block;
        background:#f5f5f5;
      }

      &:after{
        right:-199px;
      }
    }

    &-status{
      @include size(98px, 35px);
      @include absolute(top 0 right 0);
      text-align:center;
      line-height:35px;
    }
  }
}

