$order-success-pr:  270px;
$order-success-pl:  380px;
$order-success-color: $dark-text;

.order-success{
  margin-left:-$catalog-width;
  background:$light-background;

  &-content{
    padding: 65px $order-success-pr 0 $order-success-pl;
    background:#fff;

    h2{
      position:relative;
      margin-bottom:30px;
      font-size:24px;
      font-weight:700;
      color:$order-success-color;

      i{
        @include absolute(left -50px top 0);
        margin-right:$gap;
        color:#8dc63f;
        font-size:32px;
      }
    }
  }

  &-text{
    position:relative;
    margin-bottom: 30px;
    font-size:$font-size-large;
    line-height: 25px;
    color:$order-success-color;

    &:last-of-type{
      font-size:$font-size-large;
    }

    &-title{
      @include absolute(left -290px top 0);
      width: 290px;
      display: block;
      text-align:right;
    }

    a{
      color: #07aaeb;
    }

    strong{
      color:$red;
      font-size:24px;
    }
  }

  &-btn{
    margin:50px 0;
  }
}
