.order-waybill{
  margin-left:-$catalog-width;
  min-height:$catalog-height;
  background:$light-background;

  &-content{
    background:#fff;
  }

  &-tit{
    font-size: 16px;
    line-height: 50px;
    border-bottom: 1px solid #c2c2c2;
    padding-left: 75px;
  }

  &-info{
    padding:$gap 75px $gap 35px;
    overflow: hidden;

    dl{
      height: 30px;
      line-height: 30px;
      dt{
        text-align: right;
        width: 130px;
        float: left;
        color: $light-text;
      }
      dd{
        color: #656565;
      }
    }

    &-top{
      width: 33.33%;
      float: left;
      margin-top: 15px;

      &:nth-child(2){
        padding-right:0;
        width:66.66%;
      }
    }

    &-btm{
      width: 33.33%;
      float: left;
      margin-top:60px;
      padding-right:75px;

      &:nth-child(3){
        clear: both;
      }

      dl{
        line-height: 35px;
        height: 35px;
      }

    }
  }

  &-lists{
    &-title{
      //this style @ _check.scss
    }
  }

  &-menu{
    position:relative;
    overflow:hidden;
    height:45px;
    line-height:45px;
    color:#656565;

    &-product,
    &-price,
    &-quantity,
    &-total,
    &-discount{
      float:left;
    }

    &-product{
      width:435px;
      padding:0 $gap*2;
      margin-right:130px;
    }

    &-price{
      width:125px;
      padding:0 20px;
    }

    &-quantity{
      width:185px;
      text-align:center;
    }

    &-discount{
      width:100px;
      text-align:center;
    }

    &-total{
      width:130px;
      text-align:right;
    }
  }

  &-item{
    position:relative;
    padding:20px $gap*2;
    height:135px;

    .cart{
      &-info{
        width:155px;
        padding:0 20px;
      }

      &-total{
        text-align:right;
      }

      &-discount{
        width:100px;
        text-align:center;
      }
    }
  }

  &-remark{
    padding:$gap $gap*2;
    color:#656565;
  }

  &-topup{
    //this style @ _check.scss
  }

  &-checkout{
    //this style @ _check.scss
  }
}

