$product-detail-description-color:$dark-text;
$product-ssdetail-amount-color:#878787;

.product-detail{
  background: #f6f6f6;
  padding:$header-mobile-height 0 $footer-mobile-height;

  &-introduce{
    width: 100%;
    padding: 0;

    &-mobile-title{
      display: flex;
      background: #04a1e8;
      height: 0.4rem;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;

      i{
        margin-left: 0.1rem;
        display: block;
        line-height: 0.4rem;
        color: #fff;
      }
      p{
        @inlude size(0.6rem,0.4rem);
        color: #fff;
        font-size: 14px;
        line-height: 0.4rem;
        margin: 0 auto;
        display: block;
      }
    }

    &-images{
      float: none;

      .preview{
        width: 100%;
        height: auto;

        img{
          @include size(80%,auto);
          display:block;
          margin:0 auto;
        }
      }

      &-carousel{
        display: none;
      }
    }

    &-description{
      width: 100%;
      margin-left: 0;
      margin-top: 0.2rem;
      float: none;
      display: flex;
      flex-direction:column;
      position: relative;

      .title{
        font-size: 14px;
        line-height: 0.2rem;
        padding-right: 1rem;
        padding: 0 $gap;

      }
      .subtitle{
        display: none;
      }

      .price{
        background: none;
        padding:0 $gap;
        margin: 0;
        display: flex;
        align-items: baseline;
        height: 0.3rem;

        p{
          @extend %display-flex;
    //display:-webkit-box;
          height:0.2rem;
          line-height:0.2rem;
          margin-top: 0.05rem;
          margin-right: 0.1rem;

          &:nth-child(2){
            order: -1;
          }

          .activity{
            border: 1px solid #c57d03;
            border-radius: 0.05rem;
            padding: 0 0.03rem;
          }

        }

        .price-title{
          display: none;
        }

        .sale{
          font-size: 23px;
        }
      }

      .parameter{
        height: auto;
        padding:$gap;
        order: 1;

        li{
          @include size(100%, auto);
          flex-flow: row wrap;
          justify-content: flex-start;
          @extend %display-flex;
    //display:-webkit-box;
        }

        // span{
        //   flex: 0 0 0.7rem;
        // }

        p{
          flex: 0 0 78%;
        }
      }

      .amount{
        order:0;
        border-top:0;
        padding:0.05rem $gap $gap;
        border-bottom:$gap solid #f6f6f6;

        .amount-stock{
          margin-left: 0.1rem;
        }
      }

      .action{
        @include fixed(left 0 bottom 0);
        @include size(100%, $footer-mobile-height);
        margin-top: 0;
        z-index:10;
        background: #fff;
        display: flex;
        flex-direction: row;

        a{
          display: flex;
          flex-direction: column;
          width: 20%;
          height:$footer-mobile-height;
          line-height:$footer-mobile-height;

          i{
            height: 0.22rem;
            line-height: 0.27rem;
          }

          span{
            height: 0.20rem;
            line-height: 0.18rem;
          }
        }

        .action-collection{
          margin-left: 0;
        }

        .action-buy{
          order:1;
          width: 40%;
        }
      }
    }
  }

  &-introduction{
    @include size(100%,auto);

    img{
      padding-bottom: 0.2rem;
    }
  }

  &-service{
    display: none;
  }

  &-promotion-tabmenu{
    width: 100%;
    background:#fff;
    margin-top: 0.2rem;
    display: flex;
    justify-content: space-between;


    a{
      display: block;
      width: 50%;
      height: 0.2rem;
      padding:0.1rem 0;
      text-align: center;
      font-size: 14px;
      line-height: 0.2rem;
      position:relative;
      color:$dark-text;

      &:first-child:after{
        content: "";
        width: 0.01rem;
        position: absolute;
        right: 0;
        top: 0.1rem;
        color: #363636;
        height: 0.2rem;
        background: #eaeaea;
      }


      a:focus{
        color:base-color;
      }
    }
  }

  &-section-title{
    display:none;
  }

  &-promotion{
    width: 100%;
    padding: 0.15rem 0.1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &-list{
       margin-bottom: 0;
       width: 49%;
       padding:0.2rem 0.1rem 0;
       border:1px solid #ebebeb;
       margin-bottom: 0.1rem;

       img{
         width: 100%;
         height: auto;
       }

      &:hover{
        transform:translateY(0);

        a{
          color:$base-color;
        }
      }
    }
  }

  .product-detail-promotion-section-mobile{
    @include size(100%, auto);
    display: block;
    padding:0 0.15rem;
    background:#fff;
    border-bottom:1px solid #f6f6f6;
    order: 1;

    h2{
      background:#fff;
      font-size:16px;
    }

    i{
      color: $dark-text;
    }
  }

}
