.product-list {
  padding: 0;
  &-con {
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    .pagination {
      order: 1;
      display: none;
    }
  }
  &-filter {
    display: none;
  }
  &-result {
    order: 1;
    margin-bottom: 0;
  }
  &-search-sort {
    order: 0;
    display: flex;
    margin-bottom:0;

    p {
      width: 25%;
    }

    &-btns {
      width: 75%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-left: 0;

      a{
        flex: 1;
        padding: 0;

        &:after {
          position: static;
        }

        &:hover{
          color:#fff;
        }
      }

      .sortbutton{
        display: block;
      }
    }

    &-pages {
      display: none;
    }
  }

  &-content {
    order: 1;
  }

  &-item {
    width: 50%;
    margin: 0;

    &-top {
        .product-list-item-remark {
            display: none;
        }
    }

    &-bottom {
        position: relative;
        min-height: 100px;
    }

    &-title,
    &-tag {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
  }
}

.product-list-filter-mobile {
  display: block;
  @include size(100%, 100vh);
  background: rgba(153, 153, 153, 0.8);
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.product-list-filter-mobile-content {
  @include size(3rem, 100vh);
  padding: 0 0.2rem;
  background: #fff;
  overflow: scroll;

  dl {
    width: 100%;
    overflow: hidden;

    dt {
      height: 0.5rem;
      display: flex;
      justify-content: space-between;
      
      span {
        font-size: 14px;
        line-height: 0.5rem;
        color: #646464;
      }

      a {
        line-height: 0.5rem;
        color: #999;
      }
    }

    dd {
      overflow: hidden;
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      flex-wrap: wrap;

      a {
          display: block;
          padding: 0 0.1rem;
          height: 0.3rem;
          line-height: 0.3rem;
          width: 24%;
          text-align: center;
          color: #656565;
          background: #effafe;
          border-radius: 5px;
          margin: 0.15rem 0.05rem 0.15rem 0;

          &:nth-child(3n) {
              margin-right: 0;
          }
      }
      .doublewidth {
        width: 56%;
      }
      .doublewidth+a {
        margin-right: 0.05rem;
      }
      .curr {
        color: #04a1e9;
        border: 1px solid #04a1e9;
      }
    }
  }
}