.product-list {
  padding: $header-mobile-height 0 $footer-mobile-height;

  &-con {
    width: 100%;
    padding: 0;
    //display: flex;
    //flex-wrap: wrap;

    .pagination {
      order: 1;
      display: none;
    }
  }

  &-filter {
    display: none;
  }

  &-result {
    order: 1;
    margin-bottom: 0;
  }

  &-search-sort {
    margin-bottom:0;

    p {
      width: 25%;
    }

    &-btns {
      width: 75%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-left: 0;

      a{
        flex: 1;
        padding: 0;

        &:after {
          position: static;
        }

        // &:hover{
        //   color:#fff;
        // }
      }

      .sort-filter{
        display: block;

        &:after{
          content:"\e653";
        }
      }
    }

    &-pages {
      display: none;
    }
  }


  &-item {
    width: 50%;
    height:3rem;
    margin: 0;
    border-top:0;

    &:nth-child(even){
      border-right:0;
    }

    &:nth-child(odd){
      border-left:0;
      border-right:0;
    }

    &:hover{
      box-shadow:0;
    }


    &-top {
        .product-list-item-remark {
            display: none;
        }
    }

    &-bottom {
        position: relative;
        min-height: 100px;
    }

    &-title,
    &-tag {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &-sale{
      margin-bottom:0.05rem;
    }

    &:hover .iconfont{
      display:none;
    }

    // fixbug in small screen like 320px
    @include response(mobile-sm){
      &-price{
        font-size:16px;
      }
    }
  }

  // fixbug in small screen like 320px
  @include response(mobile-sm){
    &-item{
      height:2.8rem;
    }
  }
}

.product-list-filter-mobile {
  @include size(3rem, 100vh);
  @include fixed(top 0 right 0);
  display:none;
  background: #fff;
  overflow: scroll;
  z-index:200;
  transform:translateX(3rem);
  transition:transform 0.5s ease-in;
}
.product-list-filter-mobile-content {
  @include size(100%, 100%);
  padding: 0 0.2rem;
  background: #fff;
  overflow: scroll;

  dl {
    width: 100%;
    display: flex;
    flex-flow: row wrap;

    &:last-child{
      margin-bottom: 0.8rem;
    }

    dt {
      width: 100%;
      height: 0.5rem;
      display: flex;
      justify-content: space-between;

      span {
        font-size: 14px;
        line-height: 0.5rem;
        color: #646464;
      }

      a {
        line-height: 0.5rem;
        color: #999;
      }
    }

    dd {
      margin: 0.08rem 0.05rem 0.08rem 0;

      // &:nth-child(3n+1){
      //   margin-right: 0;
      // }

      input{
        display: none;
      }
      span {
        display: block;
        height: 0.3rem;
        line-height: 0.3rem;
        text-align: center;
        color: $dark-text;
        background: #effafe;
        border: 1px solid #effafe;
        border-radius: 5px;
        padding: 0 0.04rem;
        min-width: 0.7rem;
      }

      input[type="checkbox"]:checked + span{
        color: #04a1e9;
        border: 1px solid #04a1e9;
      }

      input[type="radio"]:checked + span{
        color: #04a1e9;
        border: 1px solid #04a1e9;
      }
    }
  }
}

.product-list-filter-btn{
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  width: 3rem;
}
