@mixin homepage-subject($font-color){
	width: 100%;
	margin-bottom:0.05rem;

	h2{
		margin-bottom:0.1rem;
		font-size:16px;

		span{
			display:block;
			color: $font-color;
			margin-left: 0;
		}
	}

	&-tag{
		display:none;
	}
}

.homepage{
	@include size(100%,auto);
	min-width:auto;
	padding-bottom:$footer-mobile-height;

	&-banner{
		@include size(100%,100%);

		&-carousel{
			@include size(100%, 100%);
			@include absolute(top 0 left 0);

			li{
				@include size(100%, 100%);
				min-width: auto;
			}

			a{
				@include size(100%, 100%);
			}


			&-dot{
				@include absolute(bottom $gap left 0);
				li{
					@include size(8px, 8px);
					margin-right:0.1rem;
				}
			}
		}
	}

	&-section{
		margin-bottom:0.3rem;

		&-brands{
			display:none;
		}

		&-promotion{
			@include homepage-subject($red);
		}

		&-newest{
			@include homepage-subject(#4fb25e);
		}

		&-recently{
		  @include homepage-subject(#4fb25e);
		}
	}

	// homepage-brands
	&-brands{
		width: 100%;

		&-video{
			display:none;
		}

		&-logos{
			padding-left: 0;
			display:flex;
			flex-wrap:wrap;

			li{

				@include size(25%, auto);
				padding:0.19rem 0;

				img{
					@include size(100%, auto);
				}

				&:hover .logo-cover{
					opacity:0;
				}

				.logo-cover{
					@include size(100%,100%);

					p{
						display:none;
					}

					a{
						@include size(100%, 100%);
						@include absolute(top 0 left 0);
					}

					i{
						display:none
					}

				}
			}
		}
	}

	// homepage-promotion

	&-promotion{
		width: 100%;
		margin-bottom: 0.15rem;

		&-top{
			width: 100%;
			margin-bottom:30px;

			li {
		    width: 20%;
		    float: left;

		    a,
		    img {
	        display: block;
          @include size(230px, 130px);
		    }
			}
		}

		&-bottom{
			padding:0;

			&-carousel{
			  display:none;
			}

			&-right{
			  width:100%;
			  float:none;
			  margin-left: 0;
			}

			&-tit{
				padding:0.05rem;
				margin-bottom:0.05rem;
				background: #fff;
				height: 0.34rem;

				.iconfont{
					height:0.28rem;
					font-size:26px;
					color:$red;
				}

				span{
					height:0.24rem;
					padding:0 0.05rem;
					line-height:0.24rem;
					font-size:$font-size-base;
					color:#555;
				}

				i{
					font-size:14px;
				}

				strong{
					color:#39b54a;
					font-size:16px;
				}
			}

			&-ul{
				width:100%;
				border-style:solid;
				border-left:0;
			  display:flex;
			  flex-wrap:wrap;


				li{
				  @include size(50%, auto);
				  border-style:solid;
				  border-top:0;
				  border-left:0;
				  overflow:hidden;

				  &:nth-child(2n){
				  	border-right:0;
				  }

				  &:hover{
				  	opacity:1 !important;
				  }
				}

				&:hover li{
					opacity:1;
				}

				img{
	        @include size(100%, auto);
				}
			}
		}

		&-countdown{
			float:right;
			line-height:0.26rem;

			span{
				border:0;
				background:#272636;
				color:#fff;
				padding:3px 2px;
				margin-right:2px;
			}
		}
	}

  // homepage-newest
	&-newest{
		width: 100%;
		padding:0;

		&-carousel{
			display:none;
		}

		&-right{
		  width:100%;
		  float:none;
		  margin-left: 0;
		}

		&-tit{
			padding:0.05rem;
			margin-bottom:0.05rem;
			background: #fff;
			height: 0.34rem;

			.iconfont{
				height:0.28rem;
				font-size:26px;
			}

			span{
				height:0.24rem;
				padding:0 0.05rem;
				line-height:0.24rem;
				font-size:$font-size-base;
			}

			i{
				font-size:14px;
			}

			strong{
				font-size:16px;
			}

			a{
				display: block;
				float: right;
				height: 0.34rem;
				line-height: 0.34rem;

				.iconfont{
					font-size:12px;
					line-height:24px;
				}
			}
		}

		&-ul{
			width:100%;
			border-style:solid;
			border-left:0;
			display:flex;
			flex-wrap:wrap;

			li{
			  @include size(50%, auto);
			  border-style:solid;

			  &:nth-child(2n){
			  	border-right:0;
			  }

			  &:hover{
			  	opacity:1 !important;
			  }
			}


			&:hover li{
				opacity:1;
			}

			img{
        @include size(100%, auto);
			}
		}

		&-bottom{
			width: 100%;
			margin-top: 0;
			float: none;
			display:flex;
			flex-wrap:wrap;

			li {
		    width: 33.33%;
		    padding:0.25rem 0.05rem 0.05rem;
		    margin-right:0;
		    border:0;
		    border-right:1px solid #ebebeb;

		    &:nth-child(3){
		    	border-right:0;
		    }

		    &:nth-child(4),
		    &:nth-child(5){
		    	display:none;
		    }

				i{
			    @include absolute(top 2px left 4px);
			    font-size:26px;
				}

		    h3 {
	        font-weight: 700;
	        padding: 0.15rem 0;
		    }

		    a{
	        display: block;
	        width:100%;
	        font-size:12px;
		    }

		    img {
          @include size(100%, auto);
          margin:0 auto $gap;
        }
			}

			&-tit {
		    font-size: 14px;
		    width: 100%;
			}

			&-tag {
		    font-size: 16px;

		    del {
	        font-size: 12px;
		    }
			}
		}
	}

  // homepage-rencently
	&-recently {
		width: 100%;
		margin: 0 auto 0.25rem;
    overflow: hidden;
		display:flex;
		flex-wrap:wrap;

    li {
      width: 50%;
      margin:0;
			padding:0.2rem 0.12rem 0.1rem;
			border-bottom:8px solid #f6f6f6;
			border-right:4px solid #f6f6f6;

			&:nth-child(2n){
				border-right:0;
				border-left:4px solid #f6f6f6;
			}

      &:hover{
      	transform:translateY(0);
      }

      h3 {
        font-size: 14px;
        font-weight: 700;
        padding: $gap 0;
      }

      a {
        display: block;
      }

      img {
	      display: block;
	      @include size(100%, auto);
	      margin:0 auto $gap;
	    }
    }

    &-tit {
      width: 100%;
    }

    &-tag {
      font-size: 16px;
      padding: 0.1rem 0;
      background: #fff;

      del {
        font-size: 12px;
      }
    }

    &-end{
		  @include size(100%, 0.3rem);
    	margin:0.2rem auto;

		  p{
		    width: 1.4rem;
		    margin:-0.1rem auto 0;
		    padding:0 $gap;
		  }
    }
	}
}
