<!-- import css files and body start -->
<-- include('common/tag.head.tpl') -->

<!-- import page header -->
<-- include('common/header.tpl') -->

<!-- import page nav -->
<-- include('common/nav.tpl') -->

<!-- import product list -->
<div class="product-list">
   <div class="product-list-con">

	<!--import filter -->
	<-- include('product/list-filter.tpl') -->

	<!--import bottom -->
	<ul class="product-list-content">
		<-- include('product/list-items.tpl') -->
		<-- include('product/list-items.tpl') -->
		<-- include('product/list-items.tpl') -->
		<-- include('product/list-items.tpl') -->
	</ul>

	<!-- import pagination -->
	<-- include('common/pagination.tpl') -->

  </div>
</div>

<-- include('common/footer.tpl') -->

<!-- import page js files and /body end -->
<-- include('common/tag.foot.tpl') -->
