<!-- import css files and body start -->
<-- include('common/tag.head.tpl') -->

<!-- import page header -->
<-- include('common/header.tpl') -->

<!-- import page nav -->
<-- include('common/nav.tpl') -->


<!-- import the breadcrumb -->
<-- include('wallet/breadcrumb.tpl') -->

<!-- import the content -->
<div class="content clearfix">
  <-- include('wallet/topup.tpl') -->
</div>


<-- include('common/footer.tpl') -->

<!-- import page js files and /body end -->
<-- include('common/tag.foot.tpl') -->
