.button{
  @include size(190px, 50px);
  display:inline-block;
  text-align:center;
  line-height:50px;
  border:0;
  cursor:pointer;
  font-size:$font-size-large;

  &-blue{
    background:#07aaeb;
    color:#fff;
  }

  &-grey{
    background:#f2f2f2;
    color:#7a8290;
  }

  &-radius{
    border-radius:2px;
  }
}
