.form{
  &-item{
    position:relative;
    padding-left:120px;
    margin-bottom:$gap;
    min-height:30px;
    line-height:30px;
    font-size:14px;
    color:$dark-text;
  }

  &-title{
    @include absolute(left 0 top 0);
    width:100px;
    height:30px;
    line-height:30px;
  }
}

.input{
  padding:0 10px;
  height:30px;
  border:1px solid $grey-border;
  background:$light-background;
  line-height:28px;
  font-size:14px;
  box-sizing:border-box;

  &-error{
    border-color:$red;
  }
}

.input-select + i{
  margin-left:-30px;
}

.textarea{
  height:100px;
  line-height:20px;
  padding:0 10px;
  border:1px solid $grey-border;
  background:$light-background;

}
.input-check{
  display:none;

  &:checked + span i{
    display:inline;
    font-size:12px;
  }

  & + span{
    @include size(15px, 15px);
    display:inline-block;
    border:1px solid $grey-border;
    background:$light-background;
    border-radius:3px;
    cursor:pointer;
    box-sizing:border-box;

    i{
    color:$base-color;
    display:none;
  }
    }
}

.error{
  color:$red;
  margin-top:5px;
  font-size:$font-size-base;
}
