.storage-list{

  &-search{
    display: none;
  }

  &-content{
    width: 100%;
    margin: 0;
    border: none;
  }

  &-title{
    display: none;
  }

  &-item{
    position: relative;
    display: flex;
    align-items: center;

    &-serial{
      display: none;
    }

    &-product{
      width:80%;
      text-align:left;

      img{
        margin-right: 0;
        padding: 0 0.1rem;
      }

      .text-light{
        height: 0.48rem;
        line-height: 0.16rem;
        overflow: hidden;
        font-size: 12px;
      }
    }

    &-title{
      margin-bottom: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &-price{
      @include absolute(left 1.03rem bottom 0.13rem);
      text-align: left;
      color: $red;
    }

    &-quantity{
      width: 20%;
    }
  }
}

