.account-chart{
  @include size(100%, auto);
  position:relative;
  overflow:hidden;
  border-bottom:10px solid #f6f6f6;
  clear:both;

  &-content{
    height:350px;
    display:flex;
    flex-wrap:wrap;
  }
  &-left{
    @include size(100%, 100%);
  }
  &-right{
    @include size(100%, 100%);
  }
}
