.account-chart{
  @include size(100%, auto);
  position:relative;
  overflow:hidden;
  border-bottom:10px solid #f6f6f6;
  clear:both;

  &-content{
    padding-top:100%;
    height:0;
  }
  &-left{
    @include absolute(top 0 left 0);
    width:100%;
    float:none;
  }
  &-right{
    display:none;
    // @include size(100%, 100vw);
    // float:none;
  }
}
