.account-content{
  position:relative;
  width:100%;
  margin:0;
  background:#fff;
  border:0;
  overflow:visible;
  @extend %display-flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
}

