.account-star{
  display:none;

  &-list{
    overflow:hidden;
  }

  &-item{
    @include size(100%, auto);
    float: none;
    padding: $gap;
    border-right:0;
    border-bottom:1px solid #f6f6f6;
    overflow:hidden;

    &:last-child{
      border:0;
    }

    &-left{
      margin-right:$gap;

      span{
        @include absolute(top -7px right -4px);
        color:#fff;
        z-index:2;
      }

      &:after{
        @include absolute(top -20px right -15px);
        font-family: "iconfont";
        content: "\e668";
        font-size:30px;
        display: block;
        text-align: center;
      }

      img{
        @include size(0.8rem, 0.8rem);
        display: block;
      }
    }
  }
}
