.account-tool{
  &-title{
    display:block;
    height:0.4rem;
    padding:0 $gap;
    border-bottom:1px solid #f6f6f6;
    line-height:0.4rem;
    font-size:$font-size-medium;
    color:$grey-text;
  }

  &-lists{
    overflow:hidden;

    li{
      width:25%;
      float:left;
      padding:$gap 0;
      border:1px solid #f6f6f6;
      border-top:0;
      border-left:0;
      text-align:center;
      background:#fff;

      &:nth-child(4n){
        border-right:0;
      }

      a{
        color:$dark-text;
      }

      i{
        display:block;
        font-size:30px;
      }
    }
  }
}
