.account-wallet{
  @include size(100%, auto);
  border:0;
  border-bottom:10px solid #f6f6f6;
  order:1;

  &-title{
    display:block;
    height:0.4rem;
    padding:0 $gap;
    border-bottom:1px solid #f6f6f6;
    line-height:0.4rem;
    font-size:$font-size-medium;
    color:$grey-text;
  }

  &-content{
    height:auto;
    @extend %display-flex;
    //display:-webkit-box;

    li{
      @include size(100%/3, 100%);
      padding:$gap 0;
      text-align:center;
      border:0;
    }

    i{
      display:none !important;
    }

    a{
      padding-top:0;

      &:hover i{
        transform:translateY(0);
      }
    }
  }

  &-count{
    margin-bottom:0.05rem;
    font-size:$font-size-large;
    line-height:18px;
  }

  &-btn{
    display:none;
  }
}
