.wallet{
  &-tab{
    display:flex;

    li{
      flex:1;
    }

    a{
      @include size(auto, 0.5rem);
      display: block;
      min-width:auto;
      padding:0 0.2rem;
      font-size: $font-size-medium;
      line-height: 0.5rem;
    }

  }
}
