.wallet-rebate{
  min-height:$catalog-height;

  &-content{
    padding:0;

    h3{
      height:0.4rem;
      padding:0 $gap;
      margin-bottom:0;
      line-height:0.4rem;
      font-size:$font-size-large;

      span{
        color:#ffa917;
      }

      strong{
        font-size:24px;
      }
    }
  }

  &-status{
    margin-bottom:0.7rem !important;
  }

  &-progress{
    @include size(80%, 0.2rem);
    margin:0 auto 1rem;
    border-width:7px;

    &-curr{
      @include absolute(top -10px left 0);
      display:block;
      height:0.2rem;
      border-width:7px;
      border-radius:0 0.1rem 0.1rem 0;
    }
  }

  &-step{
    position:relative;

    li{
      @include size(52px, 58px);
      @include absolute(top -29px left -26px);
      line-height:58px;
      color:$white-text;
      text-align:center;
      background:url(#{$background-root}/bg/step-grey.png) no-repeat;

      &.active{
        background:url(#{$background-root}/bg/step-curr.png) no-repeat;
      }
    }

    @media screen and (-webkit-min-device-pixel-ratio: 2) {
      li{
        background:url(#{$background-root}/bg/step-grey@2x.png) no-repeat;
        background-size:cover;

        &.active{
          background:url(#{$background-root}/bg/step-curr@2x.png) no-repeat;
          background-size:cover;
        }
      }
    }

    &-item{
      &1{
        margin-left:25%;
      }
      &2{
        margin-left:50%;
      }
      &3{
        margin-left:75%;
      }
      &4{
        margin-left:100%;
      }
    }
  }

  &-tip{
    @include absolute(top -75px);
    width:160px;
    padding:13px 20px;
    margin-left:-80px;
    text-align:center;
    color:#c57d03;
    background:#fff4e0;

    &:after{
      @include absolute(bottom -9px left 50%);
      @include size(0, 0);
      content:"";
      display:block;
      margin-left:-5px;
      border-width:5px;
      border-style:solid;
      border-color:#fff4e0 transparent transparent;
    }
  }

  &-subtip{
    @include absolute(bottom -95px);
    width:160px;
    padding:13px 20px;
    margin-left:-80px;
    color:#7b819d;
    background:#f3f3f3;

    &:after{
      @include absolute(top -9px left 50%);
      @include size(0, 0);
      content:"";
      display:block;
      margin-left:-5px;
      border-width:5px;
      border-style:solid;
      border-color:transparent transparent #f3f3f3;
    }
  }

  &-lists{
    border-top:$gap solid #f6f6f6;

    h3{
      border-bottom:1px solid #f6f6f6;
    }

    dl{
      margin:0;
      border:0;
    }

    dt{
      display:none;
    }

    // &-tab{
    //   background:$white-background;
    //   overflow: hidden;

    //   a{
    //     @include size(auto, 50px);
    //     position:relative;
    //     min-width:100px;
    //     padding:0 10px;
    //     float: left;
    //     display: block;
    //     line-height: 50px;
    //     text-align: center;
    //     color: $grey-text;

    //     &.curr,
    //     &:hover{
    //       background: #ebf4f8;
    //       color: $base-color;

    //       &:after{
    //         @include size(0, 0);
    //         @include absolute(bottom 0 left 50%);
    //         content:"";
    //         display:block;
    //         border-style:solid;
    //         border-width:5px;
    //         border-color:transparent transparent $base-color;
    //         margin-left:-5px;
    //       }
    //     }
    //   }
    // }

    dd{
      @include size(100%, 0.51rem);
      padding:0 $gap;
      border-bottom:1px solid #f6f6f6;
      display:flex;
      flex-direction:column;
      flex-wrap:wrap;

      &:nth-child(odd){
        background: none;
      }
    }

    p{
      width: 30%;
      height: 0.5rem;
      padding:0;
      line-height: 0.25rem;
      font-size: $font-size-base;
      color: #656565;
      order:2;
      display:flex;
      flex-direction:column;
      justify-content:space-between;


      &:first-child{
        @include size(40%, 0.25rem);
        padding-left:0;
        color:$light-text;
        order:1;
      }

      &:nth-child(2){
        @include size(40%, 0.25rem);
        order:0;
      }

      &:nth-child(3){
        width:30%;
        font-weight:400;
        text-align:right;
      }

      &:nth-child(4){
        padding-right:0;
        text-align:right;
      }
    }
  }
}

