.wallet-status{
  background:$white-background;
  min-height:$catalog-height;

  &-chart{
    @include size(100%, auto);
    padding-left:0;
    padding-top:0;

    &-detail{
      @include size(100%, 3rem);
      @include relative(top 0 left 0);
      margin:0 auto;
    }

    &-text{
      margin:-$gap $gap $gap;

      dd,
      dt{
        @include size(100%, 0.3rem);
        padding:0;
      }

      dt{
        margin-bottom:$gap;
        font-size:$font-size-xlarge;
      }

      dd{
        height:0.2rem;
        padding-left:0.25rem;
        margin-bottom:0.1rem;
        font-size:$font-size-medium;

        &:before{
          @include size($gap, $gap);
          @include absolute(top 50% left 0);
          content:"";
          margin-top: -$gap/2;
        }

        &:nth-child(2):before{
          background:#1990eb;
        }
        &:nth-child(3):before{
          background:#ffc228;
        }
        &:nth-child(4):before{
          background:#ffecca;
        }
        &:nth-child(5):before{
          background:#8dc63f;
        }

        &:last-child{
          @include size(100%, auto);
          margin-top:$gap;
          padding-left:0;

          .button{
            width:100%;
          }
        }
      }
    }
  }

  &-lists{
    margin:0;
    border:0;

    dt{
      display:none;
    }

    &-tab{
      display:table;
      width:100%;
      background:#f9f9f9;

      a{
        @include size(25%, 0.5rem);
        padding:0 0.1rem;
        min-width:auto;
        line-height: 1.5;
        float:none;
        display:table-cell;
        vertical-align:middle;
        box-sizing:border-box;

        &.curr,
        &:hover{
          background: #ebf4f8;
          color: $base-color;

          &:after{
            @include size(0, 0);
            @include absolute(bottom 0 left 50%);
            content:"";
            display:block;
            border-style:solid;
            border-width:5px;
            border-color:transparent transparent $base-color;
            margin-left:-5px;
          }
        }
      }
    }

    dd{
      @include size(100%, 0.51rem);
      position:relative;
      padding:0.1rem $gap;
      border-bottom:1px solid #f6f6f6;
      overflow: hidden;
      @extend %display-flex;

      &:nth-child(odd){
        background: none;
      }
    }

    p{
      @include size(30%, 0.3rem);
      float:none;
      padding:0;
      line-height: 0.15rem;
      font-size: $font-size-base;
      color: $dark-text;
      order:2;
      @extend %display-flex;
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -moz-flex-direction: column;
      -webkit-flex-direction: column;

      &:first-child{
        @include size(40%, 0.15rem);
        @include absolute(left $gap top $gap*2);
        padding-left:0;
        color:$light-text;

        span{
          display:none;
        }
      }

      &:nth-child(2){
        @include size(40%, 0.15rem);
        order:0;
      }

      &:nth-child(3),
      &:nth-child(4){
        padding-right:0;
        width:30%;
        text-align:right;
        font-weight:400;
        @extend %display-flex;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;

        & > span{
          display:block;
        }
      }
    }
  }

}

