<!-- import css files and body start -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="../src/css/index.css">
  <link rel="stylesheet" href="font/iconfont.css">

  <script type="text/javascript" src="../src/vendor/js/jquery.js"></script>
  <script type="text/javascript" src="../src/vendor/js/echarts.js"></script>
  <script type="text/javascript" src="../src/js/jquery.getChart.js"></script>
</head>
<body>


<!-- import page header -->
<!-- header -->
<div class="header-top">
  <div class="header-content">
    <ul class="header-left">
      <li>您好，<a href="javascript:;">邓志勇<span class="vip">VIP6</span></a></li>
      <li>消息  <a  class="header-message" href="javascript:;">6</a></li>
      <li><a href="javascript:;">退出</a></li>
    </ul>
    <ul class="header-right">
      <li><a href="account.html">我的立购</a></li>
      <li><a href="order-list.html">我的订单<span></span></a></li>
      <li><a href="order-cart.html"><i class="iconfont header-cart">&#xe600;</i><span>进货单 <span class="num">1000</span> 件</span></a></li>
      <li><a href="javascript:;">收藏夹</a></li>
      <li><a href="javascript:;">帮助中心</a></li>
    </ul>
  </div>
</div>
<!-- herderBtm -->
<div class="herder-bottom">
  <div class="header-logo">
    <a href="javascript:;">立白立构台</a>
  </div>
  <div class="header-search">
    <div class="searchtpl">
      <input type="text" placeholder="好爸爸Kispa洗衣液" id="">
      <span>搜 索</span>
    </div>
    <div class="keywd">
      <a href="javascript:;">好爸爸</a>
      <a href="javascript:;">洗衣液</a>
      <a href="javascript:;">洗洁精</a>
      <a href="javascript:;">洗衣粉</a>
      <a href="javascript:;">个人护理</a>
      <a href="javascript:;">洗护套装</a>
    </div>
  </div>
  <div class="header-cart-box">
    <div class="header-cart-info">
      <p>进货单1000件</p>
      <p class="red"><strong>￥19320.00</strong></p>
    </div>
  </div>
  <!-- <div class="header-tel">
    <i class="iconfont">&#xe60f;</i>
    <p class="tit">
      客服热线(7x24小时)<br>
      <span class="num">400-687-0099</span>
    </p>
  </div> -->
</div>


<!-- import page nav -->
<div class="nav">
  <ul class="nav-content">
    <li class="nav-all">
      <a href="javascript:;" class="nav-all-link iconfont">
        <span>全部商品分类</span>
      </a>
      <div class="nav-subnav">
        <div class="nav-subnav-item">
          <a class="nav-subnav-link" href="javascript:;">爆款洗衣液</a>
          <p class="nav-subnav-sublink">
            <a href="javascript:;">皂液</a>
            <a href="javascript:;">洗衣液</a>
            <a href="javascript:;">洗衣粉</a>
          </p>
        </div>
        <div class="nav-subnav-item">
          <a class="nav-subnav-link" href="javascript:;">好爸爸洗衣露</a>
          <p class="nav-subnav-sublink">
            <a href="javascript:;">皂液</a>
            <a href="javascript:;">洗衣液</a>
            <a href="javascript:;">洗衣粉</a>
          </p>
        </div>
        <div class="nav-subnav-item">
          <a class="nav-subnav-link" href="javascript:;">衣物护理类</a>
          <p class="nav-subnav-sublink">
            <a href="javascript:;">皂液</a>
            <a href="javascript:;">洗衣液</a>
            <a href="javascript:;">洗衣粉</a>
          </p>
        </div>
        <div class="nav-subnav-item">
          <a class="nav-subnav-link" href="javascript:;">家居清洁类</a>
          <p class="nav-subnav-sublink">
            <a href="javascript:;">皂液</a>
            <a href="javascript:;">洗衣液</a>
            <a href="javascript:;">洗衣粉</a>
          </p>
        </div>
        <div class="nav-subnav-item">
          <a class="nav-subnav-link" href="javascript:;">餐具清洁类</a>
          <p class="nav-subnav-sublink">
            <a href="javascript:;">皂液</a>
            <a href="javascript:;">洗衣液</a>
            <a href="javascript:;">洗衣粉</a>
          </p>
        </div>
        <div class="nav-subnav-item">
          <a class="nav-subnav-link" href="javascript:;">驱蚊驱虫类</a>
          <p class="nav-subnav-sublink">
            <a href="javascript:;">皂液</a>
            <a href="javascript:;">洗衣液</a>
            <a href="javascript:;">洗衣粉</a>
          </p>
        </div>
        <div class="nav-subnav-item">
          <a class="nav-subnav-link" href="javascript:;">空气清新类</a>
          <p class="nav-subnav-sublink">
            <a href="javascript:;">皂液</a>
            <a href="javascript:;">洗衣液</a>
            <a href="javascript:;">洗衣粉</a>
          </p>
        </div>
        <div class="nav-subnav-item">
          <a class="nav-subnav-link" href="javascript:;">口腔健护类</a>
          <p class="nav-subnav-sublink">
            <a href="javascript:;">皂液</a>
            <a href="javascript:;">洗衣液</a>
            <a href="javascript:;">洗衣粉</a>
          </p>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a href="homepage.html">首页</a>
    </li>
    <li class="nav-item">
      <a href="javascript:;">促销政策</a>
    </li>
    <li class="nav-item">
      <a href="javascript:;">平台服务</a>
    </li>
    <li class="nav-item">
      <a href="javascript:;">集团官网</a>
    </li>
  </ul>
</div>



<!-- import the breadcrumb -->
<div class="breadcrumb">
  <span>您的位置：</span>
  <a href="homepage.html">首页</a>
  <i class="iconfont">&#xe60b;</i>
  <a href="javascript:;">购物车</a>
</div>


<!-- import the content -->
<div class="content clearfix">
  <div class="order-success">
  <div class="order-title">
    <span>提交成功</span>
    <div class="order-progress">
      <i class="order-progress-curr" style="width:100%;">
      <!-- order-progress-curr根据当前的步骤决定，33.33% * setp -->
      </i>
      <ul class="order-progress-step">
        <li class="order-progress-step-item0 active">
          <span>1</span>
          <p>我的购物车</p>
        </li>
        <li class="order-progress-step-item1 active">
          <span>2</span>
          <p>填写核对订单信息</p>
        </li>
        <li class="order-progress-step-item2 active">
          <span>3</span>
          <p>成功提交运货单</p>
        </li>
        <li class="order-progress-step-item3 active">
          <span>4</span>
          <p>成功提交</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="order-success-content">

    <h2><i class="iconfont">&#xe612;</i>您已成功保存订单，请及时提交交货单！</h2>
    <p class="order-success-text">
      送达地址方式：
      <span>
      上海市杨浦区内环以北北京东路180号广澳大厦2单元11室
      <br>邓志勇 15021511111
      </span>
    </p>
    <p class="order-success-text">您可以<a href="javascript:;">继续购物</a>,<span>或者去我的订单查看订单，并对该订单进行修改或提交交货单。</span></p>

    <div class="order-success-btn">
      <input type="button" value="查看订单" name="" class="button button-blue button-radius mr30">
      <input type="button" value="提交交货单" name="" class="button button-grey button-radius">
    </div>

  </div>
</div>

<div class="order-promotion">
  <p class="order-promotion-title">活动促销</p>
  <ul  class="order-promotion-list">
    <li>
      <a href="javascript:;">
        <img src="../src/images/temp/a1.jpg" alt="promotion">
      </a>
      <p class="order-promotion-price">￥69.00</p>
      <h3><a class="order-promotion-tit" href="javascript:;">好爸爸洗衣露 户外950g两瓶 + 亲肤450x2瓶子</a></h3>
      <p class="order-promotion-tag">高端浓缩 精致护理衣物 深层去渍</p>
    </li>
    <li>
      <a href="javascript:;">
        <img src="../src/images/temp/a2.jpg" alt="promotion">
      </a>
      <p class="order-promotion-price">￥69.00</p>
      <h3><a class="order-promotion-tit" href="javascript:;">好爸爸洗衣露 户外950g两瓶 + 亲肤450x2瓶子</a></h3>
      <p class="order-promotion-tag">高端浓缩 精致护理衣物 深层去渍</p>
    </li>
    <li>
      <a href="javascript:;">
        <img src="../src/images/temp/a3.jpg" alt="promotion">
      </a>
      <p class="order-promotion-price">￥69.00</p>
      <h3><a class="order-promotion-tit" href="javascript:;">好爸爸洗衣露 户外950g两瓶 + 亲肤450x2瓶子</a></h3>
      <p class="order-promotion-tag">高端浓缩 精致护理衣物 深层去渍</p>
    </li>
    <li>
      <a href="javascript:;">
        <img src="../src/images/temp/a4.jpg" alt="promotion">
      </a>
      <p class="order-promotion-price">￥69.00</p>
      <h3><a class="order-promotion-tit" href="javascript:;">好爸爸洗衣露 户外950g两瓶 + 亲肤450x2瓶子</a></h3>
      <p class="order-promotion-tag">高端浓缩 精致护理衣物 深层去渍</p>
    </li>
    <li>
      <a href="javascript:;">
        <img src="../src/images/temp/a4.jpg" alt="promotion">
      </a>
      <p class="order-promotion-price">￥69.00</p>
      <h3><a class="order-promotion-tit" href="javascript:;">好爸爸洗衣露 户外950g两瓶 + 亲肤450x2瓶子</a></h3>
      <p class="order-promotion-tag">高端浓缩 精致护理衣物 深层去渍</p>
    </li>
  </ul>
</div>


</div>

<!-- footer -->
  <div class="footer">
    <div class="footer-content">
      <dl>
        <dt>公司介绍</dt>
        <dd><a href="javascript:;">关于立白</a></dd>
        <dd><a href="javascript:;">媒体报道</a></dd>
        <dd><a href="javascript:;">诚征英才</a></dd>
        <dd><a href="javascript:;">友情链接</a></dd>
      </dl>
      <dl>
        <dt>购物流程</dt>
        <dd><a href="javascript:;">新用户注册</a></dd>
        <dd><a href="javascript:;">购物流程</a></dd>
        <dd><a href="javascript:;">配送方式</a></dd>
      </dl>
      <dl>
        <dt>支付方式</dt>
        <dd><a href="javascript:;">货到付款</a></dd>
        <dd><a href="javascript:;">银联卡支付</a></dd>
        <dd><a href="javascript:;">支付宝</a></dd>
      </dl>
      <dl>
        <dt>售后服务</dt>
        <dd><a href="javascript:;">退货说明</a></dd>
        <dd><a href="javascript:;">退款说明</a></dd>
      </dl>
      <dl>
        <dt>招商合作</dt>
        <dd><a href="javascript:;">供应商招募</a></dd>
        <dd><a href="javascript:;">广商合作</a></dd>
        <dd><a href="javascript:;">联系立白</a></dd>
      </dl>
      <dl>
        <dt>常见问题</dt>
        <dd><a href="javascript:;">账户问题</a></dd>
        <dd><a href="javascript:;">发票问题</a></dd>
        <dd><a href="javascript:;">联系客服</a></dd>
      </dl>
    </div>
    <div class="footer-copyright">
      <p>Copyright © 2016-2017 广州立白, All Rights Reserved. 沪ICP备33076683号 <a href="javascript:;">营业执照</a></p>
    </div>
  </div>


<!-- import page js files and /body end -->
<script type="text/javascript" src="../src/js/common.js"></script>
</body>
</html>

