<!-- import css files and body start -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="../src/css/index.css">
	<link rel="stylesheet" media="screen and (max-width:540px)" href="../src/css/index-mobile.css">
  <link rel="stylesheet" href="font/iconfont.css">

  <script type="text/javascript" src="../src/vendor/js/jquery.js"></script>
  <script type="text/javascript" src="../src/vendor/js/echarts.js"></script>
  <script type="text/javascript" src="../src/js/jquery.getChart.js"></script>
</head>
<body>


<!-- import page header -->
<!-- header -->
<!-- site-nav -->
<div class="site-nav">
  <div class="site-nav-content">
    <ul class="site-nav-left">
      <li>您好，<a href="javascript:;">邓志勇<span class="vip">VIP6</span></a></li>
      <li>消息  <a  class="site-nav-message" href="javascript:;">6</a></li>
      <li><a href="javascript:;" class="no-link">退出</a></li>
    </ul>
    <ul class="site-nav-right">
      <li><a href="account.html">我的立购</a></li>
      <li><a href="order-list.html">我的订单<span></span></a></li>
      <li><a href="order-cart.html"><i class="iconfont site-nav-cart">&#xe600;</i><span>进货单 <span class="num">1000</span> 件</span></a></li>
      <li><a href="javascript:;" class="no-link">收藏夹</a></li>
      <li><a href="javascript:;" class="no-link">帮助中心</a></li>
    </ul>
  </div>
</div>



<div class="header-wrapper">
  <div class="header">
    <div class="header-logo">
      <a href="javascript:;">立白立构台</a>
    </div>
    <div class="header-search">
      <div class="searchtpl">
        <input type="text" placeholder="好爸爸Kispa洗衣液" class="header-search-input" id="">
        <!-- for demo, add onclick event -->
        <input type="button" value="搜 索" class="header-search-btn" onclick="javascript:location.href='product-search.html'">
      </div>
      <div class="keywd">
        <a href="product-detail.html">好爸爸</a>
        <a href="product-detail.html">洗衣液</a>
        <a href="product-detail.html">洗洁精</a>
        <a href="product-detail.html">洗衣粉</a>
        <a href="product-detail.html">个人护理</a>
        <a href="product-detail.html">洗护套装</a>
      </div>
    </div>
    <div class="header-cart-box">
      <div class="header-cart-info">
        <a href="order-cart.html">
          <p>进货单1000件</p>
          <p class="red"><strong>￥19320.00</strong></p>
        </a>
      </div>
    </div>
    <!-- <div class="header-tel">
      <i class="iconfont">&#xe60f;</i>
      <p class="tit">
        客服热线(7x24小时)<br>
        <span class="num">400-687-0099</span>
      </p>
    </div> -->
  </div>
</div>

<!-- mobile-site-nav -->
<header class="header-mobile">
  <div class="header-mobile-left">
    <!-- menu -->
    <a href="javascript:;" class="header-mobile-menu">&#xe607;</a>
    <!-- back, if needs hide, addClass none-->
    <a href="javascript:;" class="header-mobile-back none">&#xe654;</a>
  </div>
  <section class="header-mobile-search">
    <input type="search" name="" placeholder="搜产品名称或订单编号">
  </section>
  <div class="header-mobile-right">
    <!-- tools -->
    <a href="javascript:;" class="header-mobile-tools">&#xe629;</a>
    <span class="header-mobile-msg">2</span>
  </div>
</header>


<!-- import page nav -->
<div class="nav">
  <ul class="nav-content">
    <li class="nav-all">
      <a href="javascript:;" class="nav-all-link iconfont">
        <span>全部商品分类</span>
      </a>
      <div class="nav-subnav">
        <div class="nav-subnav-item">
          <a class="nav-subnav-link" href="product-list.html">爆款洗衣液</a>
          <p class="nav-subnav-sublink">
            <a href="product-list.html">皂液</a>
            <a href="product-list.html">洗衣液</a>
            <a href="product-list.html">洗衣粉</a>
          </p>
        </div>
        <div class="nav-subnav-item">
          <a class="nav-subnav-link" href="product-list.html">好爸爸洗衣露</a>
          <p class="nav-subnav-sublink">
            <a href="product-list.html">皂液</a>
            <a href="product-list.html">洗衣液</a>
            <a href="product-list.html">洗衣粉</a>
          </p>
        </div>
        <div class="nav-subnav-item">
          <a class="nav-subnav-link" href="product-list.html">衣物护理类</a>
          <p class="nav-subnav-sublink">
            <a href="product-list.html">皂液</a>
            <a href="product-list.html">洗衣液</a>
            <a href="product-list.html">洗衣粉</a>
          </p>
        </div>
        <div class="nav-subnav-item">
          <a class="nav-subnav-link" href="product-list.html">家居清洁类</a>
          <p class="nav-subnav-sublink">
            <a href="product-list.html">皂液</a>
            <a href="product-list.html">洗衣液</a>
            <a href="product-list.html">洗衣粉</a>
          </p>
        </div>
        <div class="nav-subnav-item">
          <a class="nav-subnav-link" href="product-list.html">餐具清洁类</a>
          <p class="nav-subnav-sublink">
            <a href="product-list.html">皂液</a>
            <a href="product-list.html">洗衣液</a>
            <a href="product-list.html">洗衣粉</a>
          </p>
        </div>
        <div class="nav-subnav-item">
          <a class="nav-subnav-link" href="product-list.html">驱蚊驱虫类</a>
          <p class="nav-subnav-sublink">
            <a href="product-list.html">皂液</a>
            <a href="product-list.html">洗衣液</a>
            <a href="product-list.html">洗衣粉</a>
          </p>
        </div>
        <div class="nav-subnav-item">
          <a class="nav-subnav-link" href="product-list.html">空气清新类</a>
          <p class="nav-subnav-sublink">
            <a href="product-list.html">皂液</a>
            <a href="product-list.html">洗衣液</a>
            <a href="product-list.html">洗衣粉</a>
          </p>
        </div>
        <div class="nav-subnav-item">
          <a class="nav-subnav-link" href="product-list.html">口腔健护类</a>
          <p class="nav-subnav-sublink">
            <a href="product-list.html">皂液</a>
            <a href="product-list.html">洗衣液</a>
            <a href="product-list.html">洗衣粉</a>
          </p>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a href="homepage.html">首页</a>
    </li>
    <li class="nav-item">
      <a href="javascript:;">促销政策</a>
    </li>
    <li class="nav-item">
      <a href="javascript:;">平台服务</a>
    </li>
    <li class="nav-item">
      <a href="javascript:;">集团官网</a>
    </li>
    <li class="nav-item nav-hotline">
      <i class="iconfont">&#xe60f;</i>
      <span>客服热线 400-678-0099</span>
    </li>
  </ul>
</div>



<!-- import the breadcrumb -->
<div class="breadcrumb">
  <span>您的位置：</span>
  <a href="homepage.html">首页</a>
  <i class="iconfont">&#xe60b;</i>
  <a href="javascript:;">购物车</a>
</div>


<!-- import the content -->
<div class="content clearfix">
  <div class="order-detail">
  <div class="box-title">
    <h3>
      <i class="iconfont">&#xe604;</i>
      <span>订单详情</span>
    </h3>
  </div>
  <a href="javascript:;" class="order-detail-print no-link">
    <i class="iconfont">&#xe634;</i>
    <span>打印订单</span>
  </a>
  <div class="order-detail-content">
    <div class="order-detail-delivery-progress">
      <i class="order-detail-delivery-progress-curr" style="width:25%">
      <!-- order-detail-delivery-progress-curr根据当前的步骤决定，25% * (setp-1) -->
      </i>
      <ul class="order-detail-delivery-step">
        <li class="order-detail-delivery-step-item0 active">
          <i class="iconfont">&#xe62a;</i>
          <p>拍下商品</p>
          <strong>2016-09-09 16:03:23</strong>
        </li>
        <li class="order-detail-delivery-step-item1 active">
          <i class="iconfont">&#xe62a;</i>
          <p>付款</p>
          <strong>2016-09-09 16:03:23</strong>
        </li>
        <li class="order-detail-delivery-step-item2">
          <span>3</span>
          <!-- 未进行部分显示数字不显示勾 -->
          <p>部分发货</p>
          <!-- 未进行步骤不显示时间 -->
        </li>
        <li class="order-detail-delivery-step-item3">
          <span>4</span>
          <!-- 未进行部分显示数字不显示勾 -->
          <p>确认收货</p>
          <!-- 未进行步骤不显示时间 -->
        </li>
        <li class="order-detail-delivery-step-item4">
          <span>5</span>
          <!-- 未进行部分显示数字不显示勾 -->
          <p>订单关闭</p>
          <!-- 未进行步骤不显示时间 -->
        </li>
      </ul>
    </div>

    <div class="order-detail-info">
      <h3 class="order-detail-title">订单信息</h3>
      <dl>
        <dt>
          <span>订单号码：<strong>15109928</strong></span>
          <span>订单状态：<strong>部分发货</strong></span>
        </dt>
        <dd class="order-detail-form">
          <div class="order-detail-form-cell">
          <dl><dt>客户名称：</dt><dd>十堰万界贸易有限公司</dd></dl>
          <dl><dt>送达方：</dt><dd>刘晓雪：沈阳苏家屯迎春街232号(6009603)</dd></dl>
          <dl><dt>送货地址：</dt><dd>沈阳苏家屯迎春街232号(6009603)</dd></dl>
          <dl><dt>承运方：</dt><dd>沈阳苏家屯迎春街232号(6009603)</dd></dl>
          </div>
          <div class="order-detail-form-cell">
            <dl><dt>吨位上限：</dt><dd>0</dd></dl>
            <dl><dt>方位上限：</dt><dd>0</dd></dl>
            <dl><dt>总数量(件)：</dt><dd>0</dd></dl>
            <dl><dt>总吨位(吨)：</dt><dd>0</dd></dl>
            <dl><dt>总体积(立方米)：</dt><dd>0</dd></dl>
            <dl><dt>金额：</dt><dd>0</dd></dl>
          </div>
          <div class="order-detail-form-cell">
            <dl><dt>吨位下限：</dt><dd>13</dd></dl>
            <dl><dt>请求发货日期：</dt><dd>5</dd></dl>
            <dl><dt>已发货总数量(件)：</dt><dd>55</dd></dl>
            <dl><dt>已发货总吨位(吨)：</dt><dd>55</dd></dl>
            <dl><dt>已发货体积(立方米)：</dt><dd>55</dd></dl>
            <dl><dt>已发货金额：</dt><dd>55</dd></dl>
          </div>
        </dd>
      </dl>
    </div>

    <div class="order-detail-lists">
      <h3 class="order-detail-title">
        已发货商品
        <span class="order-detail-title-right">
          <a href="order-delivery.html"><i class="iconfont">&#xe603;</i><span>查看物流</span></a>
          <a href="javascript:;" class="no-link">分销订单</a>
        </span>
      </h3>
      <dl>
        <dt>
          <p>货批号</p>
          <p>商品名称</p>
          <p>单价</p>
          <p>数量</p>
        </dt>
        <dd>
          <p>SKU98334H22</p>
          <p>立白去渍洗洁精</p>
          <p>￥50.00</p>
          <p>5,000</p>
        </dd>
        <dd>
          <p>SKU98334H22</p>
          <p>立白去渍洗洁精</p>
          <p>￥50.00</p>
          <p>5,000</p>
        </dd>
        <dd>
          <p>SKU98334H22</p>
          <p>立白去渍洗洁精</p>
          <p>￥50.00</p>
          <p>5,000</p>
        </dd>
        <dd>
          <p>SKU98334H22</p>
          <p>立白去渍洗洁精</p>
          <p>￥50.00</p>
          <p>5,000</p>
        </dd>
        <dd>
          <p class="order-detail-lists-total">
            总数量：<strong>25,000</strong>
          </p>
        </dd>
      </dl>
    </div>

    <div class="order-detail-lists order-detail-deliver">
      <h3 class="order-detail-title">待发货商品</h3>
      <dl>
        <dt>
          <p>货批号</p>
          <p>商品名称</p>
          <p>单价</p>
          <p>数量</p>
          <p>已有库存</p>
          <p>预计发货时间</p>
        </dt>
        <dd>
          <p>SKU98334H22</p>
          <p>立白去渍洗洁精</p>
          <p>￥50.00</p>
          <p>5,000</p>
          <p>10,000</p>
          <p>2016-9-25</p>
        </dd>
        <dd>
          <p>SKU98334H22</p>
          <p>立白去渍洗洁精</p>
          <p>￥50.00</p>
          <p>5,000</p>
          <p>10,000</p>
          <p>2016-9-25</p>
        </dd>
        <dd>
          <p class="order-detail-lists-total">
            总数量：<strong>25,000</strong>
          </p>
        </dd>
      </dl>
    </div>

  </div>
</div>

</div>

<!-- footer -->
<div class="footer">
  <div class="footer-content">
    <dl>
      <dt>公司介绍</dt>
      <dd><a href="javascript:;">关于立白</a></dd>
      <dd><a href="javascript:;">媒体报道</a></dd>
      <dd><a href="javascript:;">诚征英才</a></dd>
      <dd><a href="javascript:;">友情链接</a></dd>
    </dl>
    <dl>
      <dt>购物流程</dt>
      <dd><a href="javascript:;">新用户注册</a></dd>
      <dd><a href="javascript:;">购物流程</a></dd>
      <dd><a href="javascript:;">配送方式</a></dd>
    </dl>
    <dl>
      <dt>支付方式</dt>
      <dd><a href="javascript:;">货到付款</a></dd>
      <dd><a href="javascript:;">银联卡支付</a></dd>
      <dd><a href="javascript:;">支付宝</a></dd>
    </dl>
    <dl>
      <dt>售后服务</dt>
      <dd><a href="javascript:;">退货说明</a></dd>
      <dd><a href="javascript:;">退款说明</a></dd>
    </dl>
    <dl>
      <dt>招商合作</dt>
      <dd><a href="javascript:;">供应商招募</a></dd>
      <dd><a href="javascript:;">广商合作</a></dd>
      <dd><a href="javascript:;">联系立白</a></dd>
    </dl>
    <dl>
      <dt>常见问题</dt>
      <dd><a href="javascript:;">账户问题</a></dd>
      <dd><a href="javascript:;">发票问题</a></dd>
      <dd><a href="javascript:;">联系客服</a></dd>
    </dl>
  </div>
  <div class="footer-copyright">
    <p>Copyright © 2016-2017 广州立白, All Rights Reserved. 沪ICP备33076683号 <a href="javascript:;">营业执照</a></p>
  </div>
</div>
<!-- footer for mobile -->
<footer class="footer-mobile">
  <a href="javascript:;" class="footer-mobile-homepage curr">首页</a>
  <a href="javascript:;" class="footer-mobile-catlog">分类</a>
  <a href="javascript:;" class="footer-mobile-cart">购物车</a>
  <a href="javascript:;" class="footer-mobile-me">我</a>
</footer>


<!-- import page js files and /body end -->
<script type="text/javascript" src="../src/js/common.js"></script>
</body>
</html>

