<!-- import css files and body start -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="../src/css/index.css">
	<link rel="stylesheet" media="screen and (max-width:540px)" href="../src/css/index-mobile.css">
  <link rel="stylesheet" href="font/iconfont.css">

  <script type="text/javascript" src="../src/vendor/js/jquery.js"></script>
  <script type="text/javascript" src="../src/vendor/js/echarts.js"></script>
  <script type="text/javascript" src="../src/js/jquery.getChart.js"></script>
</head>
<body>


<!-- import page header -->
<!-- header -->
<!-- site-nav -->
<div class="site-nav">
  <div class="site-nav-content">
    <ul class="site-nav-left">
      <li>您好，
        <a href="account.html">
          <!-- <span class="user-level">
            <span>邓志勇</span>
            <span class="user-level-star">五星用户</span>
          </span> -->
          邓志勇<span class="vip">VIP5</span>
        </a>
      </li>
      <li>消息  <a  class="site-nav-message" href="javascript:;">6</a></li>
      <li><a href="javascript:;" class="no-link">退出</a></li>
    </ul>
    <ul class="site-nav-right">
      <li><a href="account.html">我的立购</a></li>
      <li><a href="order-list.html">我的订单<span></span></a></li>
      <li><a href="order-cart.html"><i class="iconfont site-nav-cart">&#xe600;</i><span>进货单 <span class="num">1000</span> 件</span></a></li>
      <li><a href="javascript:;" class="no-link">收藏夹</a></li>
      <li><a href="javascript:;" class="no-link">帮助中心</a></li>
    </ul>
  </div>
</div>



<div class="header-wrapper">
  <div class="header">
    <div class="header-logo">
      <a href="homepage.html">立白立构台</a>
    </div>
    <div class="header-search">
      <div class="searchtpl">
        <input type="text" placeholder="好爸爸Kispa洗衣液" class="header-search-input" id="">
        <!-- for demo, add onclick event -->
        <input type="button" value="搜 索" class="header-search-btn" onclick="javascript:location.href='product-search.html'">
      </div>
      <div class="keywd">
        <a href="product-detail.html">好爸爸</a>
        <a href="product-detail.html">洗衣液</a>
        <a href="product-detail.html">洗洁精</a>
        <a href="product-detail.html">洗衣粉</a>
        <a href="product-detail.html">个人护理</a>
        <a href="product-detail.html">洗护套装</a>
      </div>
    </div>
    <div class="header-cart-box">
      <div class="header-cart-info">
        <a href="order-cart.html">
          <p>进货单1000件</p>
          <p class="red"><strong>￥19320.00</strong></p>
        </a>
      </div>
    </div>
    <!-- <div class="header-tel">
      <i class="iconfont">&#xe60f;</i>
      <p class="tit">
        客服热线(7x24小时)<br>
        <span class="num">400-687-0099</span>
      </p>
    </div> -->
  </div>
</div>

<!-- mobile-site-nav -->
<header class="header-mobile">
  <div class="header-mobile-left">
    <!-- menu -->
    <a href="javascript:;" class="header-mobile-menu">&#xe607;</a>
    <!-- back, if needs hide, addClass none-->
    <a href="javascript:;" class="header-mobile-back none">&#xe654;</a>
  </div>
  <section class="header-mobile-search">
    <input type="search" name="" placeholder="搜产品名称或订单编号">
  </section>
  <div class="header-mobile-right">
    <!-- tools -->
    <a href="javascript:;" class="header-mobile-tools">&#xe629;</a>
    <span class="header-mobile-msg">2</span>
  </div>
</header>


<!-- import page nav -->
<div class="nav">
  <ul class="nav-content">
    <li class="nav-all">
      <a href="javascript:;" class="nav-all-link iconfont">
        <span>全部商品分类</span>
      </a>
      <div class="nav-subnav">
        <div class="nav-subnav-item">
          <a class="nav-subnav-link" href="product-list.html">爆款洗衣液</a>
          <p class="nav-subnav-sublink">
            <a href="product-list.html">皂液</a>
            <a href="product-list.html">洗衣液</a>
            <a href="product-list.html">洗衣粉</a>
          </p>
        </div>
        <div class="nav-subnav-item">
          <a class="nav-subnav-link" href="product-list.html">好爸爸洗衣露</a>
          <p class="nav-subnav-sublink">
            <a href="product-list.html">皂液</a>
            <a href="product-list.html">洗衣液</a>
            <a href="product-list.html">洗衣粉</a>
          </p>
        </div>
        <div class="nav-subnav-item">
          <a class="nav-subnav-link" href="product-list.html">衣物护理类</a>
          <p class="nav-subnav-sublink">
            <a href="product-list.html">皂液</a>
            <a href="product-list.html">洗衣液</a>
            <a href="product-list.html">洗衣粉</a>
          </p>
        </div>
        <div class="nav-subnav-item">
          <a class="nav-subnav-link" href="product-list.html">家居清洁类</a>
          <p class="nav-subnav-sublink">
            <a href="product-list.html">皂液</a>
            <a href="product-list.html">洗衣液</a>
            <a href="product-list.html">洗衣粉</a>
          </p>
        </div>
        <div class="nav-subnav-item">
          <a class="nav-subnav-link" href="product-list.html">餐具清洁类</a>
          <p class="nav-subnav-sublink">
            <a href="product-list.html">皂液</a>
            <a href="product-list.html">洗衣液</a>
            <a href="product-list.html">洗衣粉</a>
          </p>
        </div>
        <div class="nav-subnav-item">
          <a class="nav-subnav-link" href="product-list.html">驱蚊驱虫类</a>
          <p class="nav-subnav-sublink">
            <a href="product-list.html">皂液</a>
            <a href="product-list.html">洗衣液</a>
            <a href="product-list.html">洗衣粉</a>
          </p>
        </div>
        <div class="nav-subnav-item">
          <a class="nav-subnav-link" href="product-list.html">空气清新类</a>
          <p class="nav-subnav-sublink">
            <a href="product-list.html">皂液</a>
            <a href="product-list.html">洗衣液</a>
            <a href="product-list.html">洗衣粉</a>
          </p>
        </div>
        <div class="nav-subnav-item">
          <a class="nav-subnav-link" href="product-list.html">口腔健护类</a>
          <p class="nav-subnav-sublink">
            <a href="product-list.html">皂液</a>
            <a href="product-list.html">洗衣液</a>
            <a href="product-list.html">洗衣粉</a>
          </p>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a href="homepage.html">首页</a>
    </li>
    <li class="nav-item">
      <a href="javascript:;">促销政策</a>
    </li>
    <li class="nav-item">
      <a href="javascript:;">平台服务</a>
    </li>
    <li class="nav-item">
      <a href="javascript:;">集团官网</a>
    </li>
    <li class="nav-item nav-hotline">
      <i class="iconfont">&#xe657;</i>
      <span>客服热线 400-678-0099</span>
    </li>
  </ul>
</div>



<!-- import the breadcrumb -->
<div class="breadcrumb">
  <span>您的位置：</span>
  <a href="homepage.html">首页</a>
  <i class="iconfont">&#xe60b;</i>
  <a href="javascript:;">购物车</a>
</div>


<!-- import the content -->
<div class="content clearfix">
  <div class="order-delivery">
  <div class="box-title">
    <h3>
      <i class="iconfont">&#xe604;</i>
      <span>物流信息</span>
    </h3>
  </div>
  <div class="order-delivery-content">
    <div class="order-delivery-progress">
      <i class="order-delivery-progress-curr" style="width:33.33%">
      <!-- order-detail-delivery-progress-curr根据当前的步骤决定，33.33% * (setp-1) -->
      </i>
      <ul class="order-delivery-step">
        <li class="order-delivery-step-item0 active">
          <i class="iconfont">&#xe62a;</i>
          <p>揽件</p>
          <strong>2016-09-09 16:03:23</strong>
        </li>
        <li class="order-delivery-step-item1 active">
          <i class="iconfont">&#xe62a;</i>
          <p>运输</p>
          <strong>2016-09-09 16:03:23</strong>
        </li>
        <li class="order-delivery-step-item2">
          <span>3</span>
          <!-- 未进行部分显示数字不显示勾 -->
          <p>派送</p>
          <!-- 未进行步骤不显示时间 -->
        </li>
        <li class="order-delivery-step-item3">
          <span>4</span>
          <!-- 未进行部分显示数字不显示勾 -->
          <p>签收</p>
          <!-- 未进行步骤不显示时间 -->
        </li>
      </ul>
    </div>

    <div class="order-delivery-info">
      <h3>
        物流信息
        <a href="javascript:history.go(-1);">返回订单详情</a>
      </h3>
      <ul class="order-delivery-lists">
        <li>2016-09-09 周五 16:38:12【宿迁市】包裹正在等待揽收</li>
        <li>2016-09-10 周六 06:21:12【宿迁市】X通快递 XX收件员已揽件</li>
        <li>2016-09-12 周一 12:09:34【上海市】转运中心已发出</li>
        <li>2016-09-12 周一 18:19:54【上海市】快件已到达 上海静安</li>
      </ul>
    </div>
   </div>
</div>

</div>

<!-- footer -->
<div class="footer">
  <div class="footer-content">
    <dl>
      <dt>公司介绍</dt>
      <dd><a href="javascript:;">关于立白</a></dd>
      <dd><a href="javascript:;">媒体报道</a></dd>
      <dd><a href="javascript:;">诚征英才</a></dd>
      <dd><a href="javascript:;">友情链接</a></dd>
    </dl>
    <dl>
      <dt>购物流程</dt>
      <dd><a href="javascript:;">新用户注册</a></dd>
      <dd><a href="javascript:;">购物流程</a></dd>
      <dd><a href="javascript:;">配送方式</a></dd>
    </dl>
    <dl>
      <dt>支付方式</dt>
      <dd><a href="javascript:;">货到付款</a></dd>
      <dd><a href="javascript:;">银联卡支付</a></dd>
      <dd><a href="javascript:;">支付宝</a></dd>
    </dl>
    <dl>
      <dt>售后服务</dt>
      <dd><a href="javascript:;">退货说明</a></dd>
      <dd><a href="javascript:;">退款说明</a></dd>
    </dl>
    <dl>
      <dt>招商合作</dt>
      <dd><a href="javascript:;">供应商招募</a></dd>
      <dd><a href="javascript:;">广商合作</a></dd>
      <dd><a href="javascript:;">联系立白</a></dd>
    </dl>
    <dl>
      <dt>常见问题</dt>
      <dd><a href="javascript:;">账户问题</a></dd>
      <dd><a href="javascript:;">发票问题</a></dd>
      <dd><a href="javascript:;">联系客服</a></dd>
    </dl>
  </div>
  <div class="footer-copyright">
    <p>Copyright © 2016-2017 广州立白, All Rights Reserved. 沪ICP备33076683号 <a href="javascript:;">营业执照</a></p>
  </div>
</div>
<!-- footer for mobile -->
<footer class="footer-mobile">
  <a href="javascript:;" class="footer-mobile-homepage curr">首页</a>
  <a href="javascript:;" class="footer-mobile-catlog">分类</a>
  <a href="javascript:;" class="footer-mobile-cart">购物车</a>
  <a href="javascript:;" class="footer-mobile-me">我</a>
</footer>


<!-- import page js files and /body end -->
<script type="text/javascript" src="../src/js/common.js"></script>
</body>
</html>

