<!-- import css files and body start -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="../src/css/index.css">
	<link rel="stylesheet" media="screen and (max-width:540px)" href="../src/css/index-mobile.css">
  <link rel="stylesheet" href="font/iconfont.css">

  <script type="text/javascript" src="../src/vendor/js/jquery.js"></script>
  <script type="text/javascript" src="../src/vendor/js/echarts.js"></script>
  <script type="text/javascript" src="../src/js/jquery.getChart.js"></script>
</head>
<body>


<!-- import page header -->
<!-- site-nav -->
<div class="site-nav">
  <div class="site-nav-content">
    <ul class="site-nav-left">
      <li>您好，<a href="javascript:;">邓志勇<span class="vip">VIP6</span></a></li>
      <li>消息  <a  class="site-nav-message" href="javascript:;">6</a></li>
      <li><a href="javascript:;" class="no-link">退出</a></li>
    </ul>
    <ul class="site-nav-right">
      <li><a href="account.html">我的立购</a></li>
      <li><a href="order-list.html">我的订单<span></span></a></li>
      <li><a href="order-cart.html"><i class="iconfont site-nav-cart">&#xe600;</i><span>进货单 <span class="num">1000</span> 件</span></a></li>
      <li><a href="javascript:;" class="no-link">收藏夹</a></li>
      <li><a href="javascript:;" class="no-link">帮助中心</a></li>
    </ul>
  </div>
</div>




<!-- import the content -->
<div class="content clearfix">
  <div class="order-cart">
  <div class="order-title">
    <a href="homepage.html">
      <img src="../src/images/bg/bg-logo.png" width="100%">
    </a>
    <span class="order-title-text">我的进货单</span>
    <div class="order-progress">
      <i class="order-progress-curr">
      </i>
      <ul class="order-progress-step">
        <li class="order-progress-step-item0 active">
          <span>1</span>
          <p>我的进货单</p>
        </li>
        <li class="order-progress-step-item1">
          <span>2</span>
          <p>确认订单信息</p>
        </li>
        <li class="order-progress-step-item2">
          <span>3</span>
          <p>订单提交成功</p>
        </li>
        <li class="order-progress-step-item3">
          <span>4</span>
          <p>生成交货单</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="order-cart-lists">
    <div class="order-cart-menu">
      <div class="order-cart-check">
        <label>
          <input type="checkbox" class="input-check" name="">
          <span>
            <i class="iconfont">&#xe62a;</i>
          </span>
          <span>全选</span>
        </label>
      </div>
      <div class="order-cart-menu-product">商品简介</div>
      <div class="order-cart-menu-price">单价</div>
      <div class="order-cart-menu-quantity">数量</div>
      <div class="order-cart-menu-total">金额（元）</div>
      <div class="order-cart-menu-action">操作</div>
    </div>
    <div class="order-cart-item">
  <div class="order-cart-check">
    <label>
      <input type="checkbox" class="input-check" name="">
      <span>
        <i class="iconfont">&#xe62a;</i>
      </span>
    </label>
  </div>
  <div class="cart-cell cart-image">
    <a href="product-detail.html"><img src="../src/images/temp/b2.jpg"></a>
  </div>
  <div class="cart-cell cart-product">
    <a href="product-detail.html">
      <p class="fs14">好爸爸Kispa天然亲肤洗衣液（定制装）</p>
      <p class="text-grey">亲肤不刺激 薰衣草香氛 安全无残留</p>
      <p class="cart-promotion"><span class="with-blue-bg">促</span><span>送天然亮白1kg</span></p>
    </a>
  </div>
  <div class="cart-cell cart-info">
    <p class="text-light">体积：1L</p>
    <p class="text-light">重量：1kg</p>
  </div>
  <div class="cart-cell cart-price">
    <p class="text-light"><del>￥179.00</del></p>
    <p><strong>￥120.00</strong></p>
  </div>
  <div class="cart-cell cart-quantity">
    <div class="cart-quantity-box">
      <a href="javascript:;" class="cart-quantity-minus">-</a>
      <input type="text" class="cart-quantity-input" value="1">
      <a href="javascript:;" class="cart-quantity-plus">+</a>
    </div>
    <p class="error">库存不足</p>
  </div>
  <div class="cart-cell cart-total">
    <span class="pc-hide">合计：</span>￥<strong>207.00</strong>
  </div>
  <div class="cart-cell cart-action">
    <label>
      <input type="checkbox" class="input-check" name="">
      <span>
        <i class="iconfont">&#xe62a;</i>
      </span>
      <span>必装</span>
    </label>
    <a href="javascript:;" class="no-link">移入收藏夹</a>
    <a href="javascript:;" class="no-link">删除</a>
  </div>
  <a href="javascript:;" class="cart-edit pc-hide JM-CartEdit">编辑</a>
</div>

<div class="order-cart-item">
  <div class="order-cart-check">
    <label>
      <input type="checkbox" class="input-check" name="">
      <span>
        <i class="iconfont">&#xe62a;</i>
      </span>
    </label>
  </div>
  <div class="cart-cell cart-image">
    <a href="product-detail.html"><img src="../src/images/temp/b1.jpg"></a>
  </div>
  <div class="cart-cell cart-product">
    <a href="product-detail.html">
      <p class="fs14">好爸爸Kispa天然亲肤洗衣液（定制装）</p>
      <p class="text-grey">亲肤不刺激 薰衣草香氛 安全无残留</p>
    </a>
  </div>
  <div class="cart-cell cart-info">
    <p class="text-light">体积：1L</p>
    <p class="text-light">重量：1kg</p>
  </div>
  <div class="cart-cell cart-price">
    <p class="text-light"><del>￥179.00</del></p>
    <p><strong>￥80.00</strong></p>
  </div>
  <div class="cart-cell cart-quantity">
    <div class="cart-quantity-box">
      <a href="javascript:;" class="cart-quantity-minus">-</a>
      <input type="text" class="cart-quantity-input" value="3">
      <a href="javascript:;" class="cart-quantity-plus">+</a>
    </div>
  </div>
  <div class="cart-cell cart-total">
    <span class="pc-hide">合计：</span>￥<strong>207.00</strong>
  </div>
  <div class="cart-cell cart-action">
    <label>
      <input type="checkbox" class="input-check" name="">
      <span>
        <i class="iconfont">&#xe62a;</i>
      </span>
      <span>必装</span>
    </label>
    <a href="javascript:;" class="no-link">移入收藏夹</a>
    <a href="javascript:;" class="no-link">删除</a>
  </div>
  <a href="javascript:;" class="cart-edit pc-hide JM-CartEdit">编辑</a>
</div>


    <div class="order-cart-item">
  <div class="order-cart-check">
    <label>
      <input type="checkbox" class="input-check" name="">
      <span>
        <i class="iconfont">&#xe62a;</i>
      </span>
    </label>
  </div>
  <div class="cart-cell cart-image">
    <a href="product-detail.html"><img src="../src/images/temp/b2.jpg"></a>
  </div>
  <div class="cart-cell cart-product">
    <a href="product-detail.html">
      <p class="fs14">好爸爸Kispa天然亲肤洗衣液（定制装）</p>
      <p class="text-grey">亲肤不刺激 薰衣草香氛 安全无残留</p>
      <p class="cart-promotion"><span class="with-blue-bg">促</span><span>送天然亮白1kg</span></p>
    </a>
  </div>
  <div class="cart-cell cart-info">
    <p class="text-light">体积：1L</p>
    <p class="text-light">重量：1kg</p>
  </div>
  <div class="cart-cell cart-price">
    <p class="text-light"><del>￥179.00</del></p>
    <p><strong>￥120.00</strong></p>
  </div>
  <div class="cart-cell cart-quantity">
    <div class="cart-quantity-box">
      <a href="javascript:;" class="cart-quantity-minus">-</a>
      <input type="text" class="cart-quantity-input" value="1">
      <a href="javascript:;" class="cart-quantity-plus">+</a>
    </div>
    <p class="error">库存不足</p>
  </div>
  <div class="cart-cell cart-total">
    <span class="pc-hide">合计：</span>￥<strong>207.00</strong>
  </div>
  <div class="cart-cell cart-action">
    <label>
      <input type="checkbox" class="input-check" name="">
      <span>
        <i class="iconfont">&#xe62a;</i>
      </span>
      <span>必装</span>
    </label>
    <a href="javascript:;" class="no-link">移入收藏夹</a>
    <a href="javascript:;" class="no-link">删除</a>
  </div>
  <a href="javascript:;" class="cart-edit pc-hide JM-CartEdit">编辑</a>
</div>

<div class="order-cart-item">
  <div class="order-cart-check">
    <label>
      <input type="checkbox" class="input-check" name="">
      <span>
        <i class="iconfont">&#xe62a;</i>
      </span>
    </label>
  </div>
  <div class="cart-cell cart-image">
    <a href="product-detail.html"><img src="../src/images/temp/b1.jpg"></a>
  </div>
  <div class="cart-cell cart-product">
    <a href="product-detail.html">
      <p class="fs14">好爸爸Kispa天然亲肤洗衣液（定制装）</p>
      <p class="text-grey">亲肤不刺激 薰衣草香氛 安全无残留</p>
    </a>
  </div>
  <div class="cart-cell cart-info">
    <p class="text-light">体积：1L</p>
    <p class="text-light">重量：1kg</p>
  </div>
  <div class="cart-cell cart-price">
    <p class="text-light"><del>￥179.00</del></p>
    <p><strong>￥80.00</strong></p>
  </div>
  <div class="cart-cell cart-quantity">
    <div class="cart-quantity-box">
      <a href="javascript:;" class="cart-quantity-minus">-</a>
      <input type="text" class="cart-quantity-input" value="3">
      <a href="javascript:;" class="cart-quantity-plus">+</a>
    </div>
  </div>
  <div class="cart-cell cart-total">
    <span class="pc-hide">合计：</span>￥<strong>207.00</strong>
  </div>
  <div class="cart-cell cart-action">
    <label>
      <input type="checkbox" class="input-check" name="">
      <span>
        <i class="iconfont">&#xe62a;</i>
      </span>
      <span>必装</span>
    </label>
    <a href="javascript:;" class="no-link">移入收藏夹</a>
    <a href="javascript:;" class="no-link">删除</a>
  </div>
  <a href="javascript:;" class="cart-edit pc-hide JM-CartEdit">编辑</a>
</div>


  </div>

  <div class="order-cart-sales">
    <span class="with-white-bg">立白</span><span class="with-blue-bg">满额换购</span>
    该订单满100元，即可参加3元换购Vichy精华水活动
  </div>

  <div class="order-cart-tool clearfix">
    <div class="order-cart-allpick">
      <label>
        <input type="checkbox" class="input-check" name="">
        <span>
          <i class="iconfont">&#xe62a;</i>
        </span>
        <span>全选</span>
      </label>
      <a href="javascript:;">删除</a>
      <a href="javascript:;">移入收藏夹</a>
    </div>
    <div class="order-cart-checkout">
      <span class="mr20">已选商品 <span class="red">2</span> 件</span>
      <span class="mr20">已优惠：<strong class="fs16">￥405.00</strong></span>
      <span>合计(不含运费)：<span class="red fs16">￥<strong>6,109.00</strong></span></span>
      <a href="order-check.html" class="button button-red button-medium">结 算</a>
    </div>
  </div>
</div>



<script type="text/javascript">
  $(function(){
    $('.JM-CartEdit').on('click', function(){
      var $this = $(this);

      if(!$this.data('flag')){
        $this.siblings('.cart-product, .cart-price, .cart-info').hide();
        $this.siblings('.cart-quantity, .cart-action').css('display', 'flex');
        $this.data('flag', true).text('完成');
      }else{
        $this.siblings('.cart-product, .cart-price, .cart-info').css('display', 'flex');
        $this.siblings('.cart-quantity, .cart-action').hide();
        $this.data('flag', false).text('编辑');
      }
    });
  })
</script>

  <div class="order-promotion">
  <p class="order-promotion-title">活动促销</p>
  <ul  class="order-promotion-list">
    <li>
      <a href="product-detail.html">
        <img src="../src/images/temp/a1.jpg" alt="promotion">
      </a>
      <p class="order-promotion-price">￥69.00</p>
      <h3><a class="order-promotion-tit" href="product-detail.html">好爸爸洗衣露 户外950g两瓶 + 亲肤450x2瓶子</a></h3>
      <p class="order-promotion-tag">高端浓缩 精致护理衣物 深层去渍</p>
    </li>
    <li>
      <a href="product-detail.html">
        <img src="../src/images/temp/a2.jpg" alt="promotion">
      </a>
      <p class="order-promotion-price">￥69.00</p>
      <h3><a class="order-promotion-tit" href="product-detail.html">好爸爸洗衣露 户外950g两瓶 + 亲肤450x2瓶子</a></h3>
      <p class="order-promotion-tag">高端浓缩 精致护理衣物 深层去渍</p>
    </li>
    <li>
      <a href="product-detail.html">
        <img src="../src/images/temp/a3.jpg" alt="promotion">
      </a>
      <p class="order-promotion-price">￥69.00</p>
      <h3><a class="order-promotion-tit" href="product-detail.html">好爸爸洗衣露 户外950g两瓶 + 亲肤450x2瓶子</a></h3>
      <p class="order-promotion-tag">高端浓缩 精致护理衣物 深层去渍</p>
    </li>
    <li>
      <a href="product-detail.html">
        <img src="../src/images/temp/a4.jpg" alt="promotion">
      </a>
      <p class="order-promotion-price">￥69.00</p>
      <h3><a class="order-promotion-tit" href="product-detail.html">好爸爸洗衣露 户外950g两瓶 + 亲肤450x2瓶子</a></h3>
      <p class="order-promotion-tag">高端浓缩 精致护理衣物 深层去渍</p>
    </li>
    <li>
      <a href="product-detail.html">
        <img src="../src/images/temp/a4.jpg" alt="promotion">
      </a>
      <p class="order-promotion-price">￥69.00</p>
      <h3><a class="order-promotion-tit" href="product-detail.html">好爸爸洗衣露 户外950g两瓶 + 亲肤450x2瓶子</a></h3>
      <p class="order-promotion-tag">高端浓缩 精致护理衣物 深层去渍</p>
    </li>
  </ul>
</div>

</div>

<!-- footer -->
<div class="footer">
  <div class="footer-content">
    <dl>
      <dt>公司介绍</dt>
      <dd><a href="javascript:;">关于立白</a></dd>
      <dd><a href="javascript:;">媒体报道</a></dd>
      <dd><a href="javascript:;">诚征英才</a></dd>
      <dd><a href="javascript:;">友情链接</a></dd>
    </dl>
    <dl>
      <dt>购物流程</dt>
      <dd><a href="javascript:;">新用户注册</a></dd>
      <dd><a href="javascript:;">购物流程</a></dd>
      <dd><a href="javascript:;">配送方式</a></dd>
    </dl>
    <dl>
      <dt>支付方式</dt>
      <dd><a href="javascript:;">货到付款</a></dd>
      <dd><a href="javascript:;">银联卡支付</a></dd>
      <dd><a href="javascript:;">支付宝</a></dd>
    </dl>
    <dl>
      <dt>售后服务</dt>
      <dd><a href="javascript:;">退货说明</a></dd>
      <dd><a href="javascript:;">退款说明</a></dd>
    </dl>
    <dl>
      <dt>招商合作</dt>
      <dd><a href="javascript:;">供应商招募</a></dd>
      <dd><a href="javascript:;">广商合作</a></dd>
      <dd><a href="javascript:;">联系立白</a></dd>
    </dl>
    <dl>
      <dt>常见问题</dt>
      <dd><a href="javascript:;">账户问题</a></dd>
      <dd><a href="javascript:;">发票问题</a></dd>
      <dd><a href="javascript:;">联系客服</a></dd>
    </dl>
  </div>
  <div class="footer-copyright">
    <p>Copyright © 2016-2017 广州立白, All Rights Reserved. 沪ICP备33076683号 <a href="javascript:;">营业执照</a></p>
  </div>
</div>
<!-- footer for mobile -->
<footer class="footer-mobile">
  <a href="javascript:;" class="footer-mobile-homepage curr">首页</a>
  <a href="javascript:;" class="footer-mobile-catlog">分类</a>
  <a href="javascript:;" class="footer-mobile-cart">购物车</a>
  <a href="javascript:;" class="footer-mobile-me">我</a>
</footer>


<!-- import page js files and /body end -->
<script type="text/javascript" src="../src/js/common.js"></script>
</body>
</html>

