<!-- import css files and body start -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="../src/css/index.css">
	<link rel="stylesheet" media="screen and (max-width:540px)" href="../src/css/index-mobile.css">
  <link rel="stylesheet" href="font/iconfont.css">

  <script type="text/javascript" src="../src/vendor/js/jquery.js"></script>
  <script type="text/javascript" src="../src/vendor/js/echarts.js"></script>
  <script type="text/javascript" src="../src/js/jquery.getChart.js"></script>
</head>
<body>


<!-- import page header -->
<!-- header -->
<div class="header-top">
  <div class="header-content">
    <ul class="header-left">
      <li>您好，<a href="javascript:;">邓志勇<span class="vip">VIP6</span></a></li>
      <li>消息  <a  class="header-message" href="javascript:;">6</a></li>
      <li><a href="javascript:;">退出</a></li>
    </ul>
    <ul class="header-right">
      <li><a href="account.html">我的立购</a></li>
      <li><a href="order-list.html">我的订单<span></span></a></li>
      <li><a href="order-cart.html"><i class="iconfont header-cart">&#xe600;</i><span>进货单 <span class="num">1000</span> 件</span></a></li>
      <li><a href="javascript:;">收藏夹</a></li>
      <li><a href="javascript:;">帮助中心</a></li>
    </ul>
  </div>
</div>
<!-- headerBtm -->
<div class="header-bottom">
  <div class="header-logo">
    <a href="javascript:;">立白立构台</a>
  </div>
  <div class="header-search">
    <div class="searchtpl">
      <input type="text" placeholder="好爸爸Kispa洗衣液" id="">
      <span>搜 索</span>
    </div>
    <div class="keywd">
      <a href="javascript:;">好爸爸</a>
      <a href="javascript:;">洗衣液</a>
      <a href="javascript:;">洗洁精</a>
      <a href="javascript:;">洗衣粉</a>
      <a href="javascript:;">个人护理</a>
      <a href="javascript:;">洗护套装</a>
    </div>
  </div>
  <div class="header-cart-box">
    <div class="header-cart-info">
      <a href="order-cart.html">
        <p>进货单1000件</p>
        <p class="red"><strong>￥19320.00</strong></p>
      </a>
    </div>
  </div>
  <!-- <div class="header-tel">
    <i class="iconfont">&#xe60f;</i>
    <p class="tit">
      客服热线(7x24小时)<br>
      <span class="num">400-687-0099</span>
    </p>
  </div> -->
</div>


<!-- import page nav -->
<div class="nav">
  <ul class="nav-content">
    <li class="nav-all">
      <a href="javascript:;" class="nav-all-link iconfont">
        <span>全部商品分类</span>
      </a>
      <div class="nav-subnav">
        <div class="nav-subnav-item">
          <a class="nav-subnav-link" href="product-detail.html">爆款洗衣液</a>
          <p class="nav-subnav-sublink">
            <a href="product-detail.html">皂液</a>
            <a href="product-detail.html">洗衣液</a>
            <a href="product-detail.html">洗衣粉</a>
          </p>
        </div>
        <div class="nav-subnav-item">
          <a class="nav-subnav-link" href="product-detail.html">好爸爸洗衣露</a>
          <p class="nav-subnav-sublink">
            <a href="product-detail.html">皂液</a>
            <a href="product-detail.html">洗衣液</a>
            <a href="product-detail.html">洗衣粉</a>
          </p>
        </div>
        <div class="nav-subnav-item">
          <a class="nav-subnav-link" href="product-detail.html">衣物护理类</a>
          <p class="nav-subnav-sublink">
            <a href="product-detail.html">皂液</a>
            <a href="product-detail.html">洗衣液</a>
            <a href="product-detail.html">洗衣粉</a>
          </p>
        </div>
        <div class="nav-subnav-item">
          <a class="nav-subnav-link" href="product-detail.html">家居清洁类</a>
          <p class="nav-subnav-sublink">
            <a href="product-detail.html">皂液</a>
            <a href="product-detail.html">洗衣液</a>
            <a href="product-detail.html">洗衣粉</a>
          </p>
        </div>
        <div class="nav-subnav-item">
          <a class="nav-subnav-link" href="product-detail.html">餐具清洁类</a>
          <p class="nav-subnav-sublink">
            <a href="product-detail.html">皂液</a>
            <a href="product-detail.html">洗衣液</a>
            <a href="product-detail.html">洗衣粉</a>
          </p>
        </div>
        <div class="nav-subnav-item">
          <a class="nav-subnav-link" href="product-detail.html">驱蚊驱虫类</a>
          <p class="nav-subnav-sublink">
            <a href="product-detail.html">皂液</a>
            <a href="product-detail.html">洗衣液</a>
            <a href="product-detail.html">洗衣粉</a>
          </p>
        </div>
        <div class="nav-subnav-item">
          <a class="nav-subnav-link" href="product-detail.html">空气清新类</a>
          <p class="nav-subnav-sublink">
            <a href="product-detail.html">皂液</a>
            <a href="product-detail.html">洗衣液</a>
            <a href="product-detail.html">洗衣粉</a>
          </p>
        </div>
        <div class="nav-subnav-item">
          <a class="nav-subnav-link" href="product-detail.html">口腔健护类</a>
          <p class="nav-subnav-sublink">
            <a href="product-detail.html">皂液</a>
            <a href="product-detail.html">洗衣液</a>
            <a href="product-detail.html">洗衣粉</a>
          </p>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a href="homepage.html">首页</a>
    </li>
    <li class="nav-item">
      <a href="javascript:;">促销政策</a>
    </li>
    <li class="nav-item">
      <a href="javascript:;">平台服务</a>
    </li>
    <li class="nav-item">
      <a href="javascript:;">集团官网</a>
    </li>
  </ul>
</div>



<!-- import homepage -->
<div class="product-detail">
	<div class="product-detail-introduce">
	<!-- <div class="product-detail-introduce-mobile-title">
	  <i class="iconfont">&#xe642;</i>
	  <p>商品详情</p>
	</div> -->
	<div class="product-detail-introduce-images">
		<div class="preview">
			<img src="../src/images/temp/a1.jpg" width="400" height="400" alt="">
		</div>

		<ul class="product-detail-introduce-images-carousel clearfix">
		  <li class="curr">
		    <a href="javascript:;">
		      <img src="../src/images/temp/a1.jpg" width="100%" alt="">
		    </a>
		  </li>
		  <li>
		    <a href="javascript:;">
		      <img src="../src/images/temp/a2.jpg" width="100%" alt="">
		    </a>
		  </li>
		  <li>
		    <a href="javascript:;">
		      <img src="../src/images/temp/a3.jpg" width="100%" alt="">
		    </a>
		  </li>
		  <li>
		    <a href="javascript:;">
		      <img src="../src/images/temp/a4.jpg" width="100%" alt="">
		    </a>
		  </li>
		</ul>
	</div>
	<div class="product-detail-introduce-description">
		<p class="title">立白天然皂液超值套装</p>
		<p class="subtitle">天然椰油萃取 洗衣仅一分 椰香深层去渍</p>

		<div class="price">
			<dl>
			<dt class="price-tit">价格：</dt>
			<dd class="original"><del>￥198.00</del></dd>
			</dl>
			<dl>
				<dt class="price-tit">促销价：</dt>
				<dd class="sale">￥99.00</dd>
			</dl>
			<dl>
				<dt class="price-tit">促销活动：</dt>
				<dd class="activity">满100送1</dd>
			</dl>
		</div>

		<ul class="parameter">
			<li><span>商品名称：</span><p>立白蜀国专用洗洁精1.5KG柠檬去油不伤手</p></li>
			<li><span>上架时间：</span><p>2016-08025 10:12:09</p></li>
			<li><span>商品产地：</span><p>中国大陆</p></li>
			<li><span>商品编号：</span><p>1333254095</p></li>
			<li><span>净含量：</span><p>5400ml</p></li>
			<li><span>配送区域：</span><p>全国</p></li>
		</ul>

    <div class="amount">
			<div class="amount-box">
	      <a href="javascript:;" class="amount-minus">-</a>
	      <input type="text" class="amount-input" value="1">
	      <a href="javascript:;" class="amount-plus">+</a>
	    </div>
      <p class="amount-stock">库存：106件</p>
    </div>

    <div class="action">
    	<a class="action-buy button button-red" href="order-cart.html">加入购物车</a>
    	<a class="action-collection">
    		<i class="iconfont">&#xe642;</i>
    		<span>收藏</span>
    	</a>
    </div>
	</div>
</div>

	<!-- import page js files and /body end -->
	<div class="product-detail-promotion-section">
	<h2>套餐产品</h2>
</div>

<ul class="product-detail-promotion">
	<li class="product-detail-promotion-list">
	  <a href="javascript:;">
	    <img src="../src/images/temp/a1.jpg" alt="promotion">
	  </a>
	  <p class="product-detail-promotion-price">￥69.00</p>
	  <h3><a class="product-detail-promotion-tit" href="javascript:;">好爸爸洗衣露 户外950g两瓶 + 亲肤450x2瓶子</a></h3>
	  <p class="product-detail-promotion-tag">高端浓缩 精致护理衣物 深层去渍</p>
	</li>
	<li class="product-detail-promotion-list">
	  <a href="javascript:;">
	    <img src="../src/images/temp/a2.jpg" alt="promotion">
	  </a>
	  <p class="product-detail-promotion-price">￥69.00</p>
	  <h3><a class="product-detail-promotion-tit" href="javascript:;">好爸爸洗衣露 户外950g两瓶 + 亲肤450x2瓶子</a></h3>
	  <p class="product-detail-promotion-tag">高端浓缩 精致护理衣物 深层去渍</p>
	</li>
	<li class="product-detail-promotion-list">
	  <a href="javascript:;">
	    <img src="../src/images/temp/a3.jpg" alt="promotion">
	  </a>
	  <p class="product-detail-promotion-price">￥69.00</p>
	  <h3><a class="product-detail-promotion-tit" href="javascript:;">好爸爸洗衣露 户外950g两瓶 + 亲肤450x2瓶子</a></h3>
	  <p class="product-detail-promotion-tag">高端浓缩 精致护理衣物 深层去渍</p>
	</li>
	<li class="product-detail-promotion-list">
	  <a href="javascript:;">
	    <img src="../src/images/temp/a4.jpg" alt="promotion">
	  </a>
	  <p class="product-detail-promotion-price">￥69.00</p>
	  <h3><a class="product-detail-promotion-tit" href="javascript:;">好爸爸洗衣露 户外950g两瓶 + 亲肤450x2瓶子</a></h3>
	  <p class="product-detail-promotion-tag">高端浓缩 精致护理衣物 深层去渍</p>
	</li>
</ul>

<div class="product-detail-promotion-section">
	<h2>同类商品</h2>
	<a href="javascript:;">查看更多同类商品 ></a>
</div>

<ul class="product-detail-promotion">
	<li class="product-detail-promotion-list">
	  <a href="javascript:;">
	    <img src="../src/images/temp/a1.jpg" alt="promotion">
	  </a>
	  <p class="product-detail-promotion-price">￥69.00</p>
	  <h3><a class="product-detail-promotion-tit" href="javascript:;">好爸爸洗衣露 户外950g两瓶 + 亲肤450x2瓶子</a></h3>
	  <p class="product-detail-promotion-tag">高端浓缩 精致护理衣物 深层去渍</p>
	</li>
	<li class="product-detail-promotion-list">
	  <a href="javascript:;">
	    <img src="../src/images/temp/a2.jpg" alt="promotion">
	  </a>
	  <p class="product-detail-promotion-price">￥69.00</p>
	  <h3><a class="product-detail-promotion-tit" href="javascript:;">好爸爸洗衣露 户外950g两瓶 + 亲肤450x2瓶子</a></h3>
	  <p class="product-detail-promotion-tag">高端浓缩 精致护理衣物 深层去渍</p>
	</li>
	<li class="product-detail-promotion-list">
	  <a href="javascript:;">
	    <img src="../src/images/temp/a3.jpg" alt="promotion">
	  </a>
	  <p class="product-detail-promotion-price">￥69.00</p>
	  <h3><a class="product-detail-promotion-tit" href="javascript:;">好爸爸洗衣露 户外950g两瓶 + 亲肤450x2瓶子</a></h3>
	  <p class="product-detail-promotion-tag">高端浓缩 精致护理衣物 深层去渍</p>
	</li>
	<li class="product-detail-promotion-list">
	  <a href="javascript:;">
	    <img src="../src/images/temp/a4.jpg" alt="promotion">
	  </a>
	  <p class="product-detail-promotion-price">￥69.00</p>
	  <h3><a class="product-detail-promotion-tit" href="javascript:;">好爸爸洗衣露 户外950g两瓶 + 亲肤450x2瓶子</a></h3>
	  <p class="product-detail-promotion-tag">高端浓缩 精致护理衣物 深层去渍</p>
	</li>
</ul>

	<!-- import page js files and /body end -->
	<div class="product-detail-service">
	<h2>售后服务</h2>
	<p class="explain">支持“7天无理由退换货”的商品更为消费者提供“7天无理由退换货”服务保障。温馨提示：特价及促销、生鲜类商品、内衣内裤、奶粉、美护化妆用品、3C数码类商品、特殊商品按照国家三包规定执行退换货服务</p>
	<h3>温馨提示</h3>
	<p>1、 验货签收时请您与配送人员当面核对：商品及配件、商品金额及数量、发票（如有）、赠品（如有）等；如存在包装破损、商品错误、商品短缺、商品存在质量问题等影响签收的因素，您可以拒收全部商品，（相关的赠品‘配件或捆绑商品和发票应一起当场拒收）。</p>
	<p>2、 由于部分商品包装更换较为频繁，因此您收到的货品有可能与图片不完全一致，请您以收到的商品实物为准，同时我们会尽量做到及时更新，由此给您带来不便多多谅解，如有任何问题可与我们客服人员联系，谢谢！</p>
</div>
	<!-- import page js files and /body end -->
</div>

<!-- footer -->
  <div class="footer">
    <div class="footer-content">
      <dl>
        <dt>公司介绍</dt>
        <dd><a href="javascript:;">关于立白</a></dd>
        <dd><a href="javascript:;">媒体报道</a></dd>
        <dd><a href="javascript:;">诚征英才</a></dd>
        <dd><a href="javascript:;">友情链接</a></dd>
      </dl>
      <dl>
        <dt>购物流程</dt>
        <dd><a href="javascript:;">新用户注册</a></dd>
        <dd><a href="javascript:;">购物流程</a></dd>
        <dd><a href="javascript:;">配送方式</a></dd>
      </dl>
      <dl>
        <dt>支付方式</dt>
        <dd><a href="javascript:;">货到付款</a></dd>
        <dd><a href="javascript:;">银联卡支付</a></dd>
        <dd><a href="javascript:;">支付宝</a></dd>
      </dl>
      <dl>
        <dt>售后服务</dt>
        <dd><a href="javascript:;">退货说明</a></dd>
        <dd><a href="javascript:;">退款说明</a></dd>
      </dl>
      <dl>
        <dt>招商合作</dt>
        <dd><a href="javascript:;">供应商招募</a></dd>
        <dd><a href="javascript:;">广商合作</a></dd>
        <dd><a href="javascript:;">联系立白</a></dd>
      </dl>
      <dl>
        <dt>常见问题</dt>
        <dd><a href="javascript:;">账户问题</a></dd>
        <dd><a href="javascript:;">发票问题</a></dd>
        <dd><a href="javascript:;">联系客服</a></dd>
      </dl>
    </div>
    <div class="footer-copyright">
      <p>Copyright © 2016-2017 广州立白, All Rights Reserved. 沪ICP备33076683号 <a href="javascript:;">营业执照</a></p>
    </div>
  </div>


<!-- import page js files and /body end -->
<script type="text/javascript" src="../src/js/common.js"></script>
</body>
</html>
