<!-- import css files and body start -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="../src/css/index.css">
  <link rel="stylesheet" href="font/iconfont.css">

  <script type="text/javascript" src="../src/vendor/js/jquery.js"></script>
  <script type="text/javascript" src="../src/vendor/js/echarts.js"></script>
  <script type="text/javascript" src="../src/js/jquery.getChart.js"></script>
</head>
<body>


<!-- import page header -->
<!-- header -->
<div class="header-top">
  <div class="header-content">
    <ul class="header-left">
      <li>您好，<a href="javascript:;">邓志勇<span class="vip">VIP6</span></a></li>
      <li>消息  <a  class="header-message" href="javascript:;">6</a></li>
      <li><a href="javascript:;">退出</a></li>
    </ul>
    <ul class="header-right">
      <li><a href="account.html">我的立购</a></li>
      <li><a href="order-list.html">我的订单<span></span></a></li>
      <li><a href="order-cart.html"><i class="iconfont header-cart">&#xe600;</i><span>进货单 <span class="num">1000</span> 件</span></a></li>
      <li><a href="javascript:;">收藏夹</a></li>
      <li><a href="javascript:;">帮助中心</a></li>
    </ul>
  </div>
</div>
<!-- herderBtm -->
<div class="herder-bottom">
  <div class="header-logo">
    <a href="javascript:;">立白立构台</a>
  </div>
  <div class="header-search">
    <div class="searchtpl">
      <input type="text" placeholder="好爸爸Kispa洗衣液" id="">
      <span>搜 索</span>
    </div>
    <div class="keywd">
      <a href="javascript:;">好爸爸</a>
      <a href="javascript:;">洗衣液</a>
      <a href="javascript:;">洗洁精</a>
      <a href="javascript:;">洗衣粉</a>
      <a href="javascript:;">个人护理</a>
      <a href="javascript:;">洗护套装</a>
    </div>
  </div>
  <div class="header-cart-box">
    <div class="header-cart-info">
      <p>进货单1000件</p>
      <p class="red"><strong>￥19320.00</strong></p>
    </div>
  </div>
  <!-- <div class="header-tel">
    <i class="iconfont">&#xe60f;</i>
    <p class="tit">
      客服热线(7x24小时)<br>
      <span class="num">400-687-0099</span>
    </p>
  </div> -->
</div>


<!-- import page nav -->
<div class="nav">
  <ul class="nav-content">
    <li class="nav-all">
      <a href="javascript:;" class="nav-all-link iconfont">
        <span>全部商品分类</span>
      </a>
      <div class="nav-subnav">
        <div class="nav-subnav-item">
          <a class="nav-subnav-link" href="javascript:;">爆款洗衣液</a>
          <p class="nav-subnav-sublink">
            <a href="javascript:;">皂液</a>
            <a href="javascript:;">洗衣液</a>
            <a href="javascript:;">洗衣粉</a>
          </p>
        </div>
        <div class="nav-subnav-item">
          <a class="nav-subnav-link" href="javascript:;">好爸爸洗衣露</a>
          <p class="nav-subnav-sublink">
            <a href="javascript:;">皂液</a>
            <a href="javascript:;">洗衣液</a>
            <a href="javascript:;">洗衣粉</a>
          </p>
        </div>
        <div class="nav-subnav-item">
          <a class="nav-subnav-link" href="javascript:;">衣物护理类</a>
          <p class="nav-subnav-sublink">
            <a href="javascript:;">皂液</a>
            <a href="javascript:;">洗衣液</a>
            <a href="javascript:;">洗衣粉</a>
          </p>
        </div>
        <div class="nav-subnav-item">
          <a class="nav-subnav-link" href="javascript:;">家居清洁类</a>
          <p class="nav-subnav-sublink">
            <a href="javascript:;">皂液</a>
            <a href="javascript:;">洗衣液</a>
            <a href="javascript:;">洗衣粉</a>
          </p>
        </div>
        <div class="nav-subnav-item">
          <a class="nav-subnav-link" href="javascript:;">餐具清洁类</a>
          <p class="nav-subnav-sublink">
            <a href="javascript:;">皂液</a>
            <a href="javascript:;">洗衣液</a>
            <a href="javascript:;">洗衣粉</a>
          </p>
        </div>
        <div class="nav-subnav-item">
          <a class="nav-subnav-link" href="javascript:;">驱蚊驱虫类</a>
          <p class="nav-subnav-sublink">
            <a href="javascript:;">皂液</a>
            <a href="javascript:;">洗衣液</a>
            <a href="javascript:;">洗衣粉</a>
          </p>
        </div>
        <div class="nav-subnav-item">
          <a class="nav-subnav-link" href="javascript:;">空气清新类</a>
          <p class="nav-subnav-sublink">
            <a href="javascript:;">皂液</a>
            <a href="javascript:;">洗衣液</a>
            <a href="javascript:;">洗衣粉</a>
          </p>
        </div>
        <div class="nav-subnav-item">
          <a class="nav-subnav-link" href="javascript:;">口腔健护类</a>
          <p class="nav-subnav-sublink">
            <a href="javascript:;">皂液</a>
            <a href="javascript:;">洗衣液</a>
            <a href="javascript:;">洗衣粉</a>
          </p>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a href="homepage.html">首页</a>
    </li>
    <li class="nav-item">
      <a href="javascript:;">促销政策</a>
    </li>
    <li class="nav-item">
      <a href="javascript:;">平台服务</a>
    </li>
    <li class="nav-item">
      <a href="javascript:;">集团官网</a>
    </li>
  </ul>
</div>



<!-- import the breadcrumb -->
<div class="breadcrumb">
  <span>您的位置：</span>
  <a href="javascript:;">首页</a>
  <i class="iconfont">&#xe60b;</i>
  <a href="index.html">我的立购</a>
  <i class="iconfont">&#xe60b;</i>
  <a href="javascript:;">我的库存</a>
</div>


<!-- import the content -->
<div class="content clearfix">
  <div class="catalog clearfix">
  <div class="catalog-personal">
    <div class="catalog-pic">
      <img src="../src/images/temp/p3.jpg" alt="catalog-pic">
      <a href="javascript:;">
        <i class="iconfont">&#xe616;</i><span class="msg">2</span>
      </a>
    </div>
    <div class="catalog-dis">
      <p>广州经销商A</p>
      <p>邓志勇<span class="vip">VIP6</span></p>
    </div>
  </div>
  <div class="catalog-management">
    <dl class="catalog-market" id="J-catalogMarket">
      <dt>营销管理</dt>
      <dd rel="order"><a href="order-list.html">我的订单</a></dd>
      <dd rel="promotion"><a href="promotion-liby-activity.html">我的促销</a></dd>
      <dd rel="wallet"><a href="wallet-status.html">我的钱包</a></dd>
      <dd rel="storage"><a href="storage-list.html">我的库存</a></dd>
      <dd rel="store"><a href="store-list.html">我的门店</a></dd>
      <dd><a href="javascript:;">我的导购</a></dd>
      <dd><a href="javascript:;">我的消息</a></dd>
      <dd><a href="javascript:;">我的数据</a></dd>
    </dl>
    <dl  class="catalog-account">
      <dt>账户管理</dt>
      <dd><a href="javascript:;">基本信息</a></dd>
      <dd><a href="javascript:;">密码修改</a></dd>
      <dd><a href="javascript:;">退出登录</a></dd>
    </dl>
  </div>

</div>

  <div class="storage-list">
  <div class="box-title">
    <h3>
      <i class="iconfont">&#xe604;</i>
      <span>我的库存</span> 
    </h3>
  </div>
  <div class="storage-list-search">
    <input type="text" class="input" placeholder="请输入商品名" name="">
    <i class="iconfont">&#xe61c;</i>
  </div>
  <div class="storage-list-content">
    <!-- <div class="storage-list-filter">
      <form class="form">
        <span>生成时间：</span>
        <input type="text" class="input" placeholder="请选择起始时间" name="">
        <i class="iconfont">&#xe610;</i>
        -
        <input type="text" class="input" placeholder="请选择结束时间" name="">
        <i class="iconfont">&#xe610;</i>
        <input type="button" class="button button-blue button-xsmall button-inline" value="确定">
        <div class="storage-list-filter-search">
          <input type="text" class="input" placeholder="请输入订单号" name="">
          <i class="iconfont">&#xe61c;</i>
        </div>
      </form>
    </div> -->
    <div class="storage-list-title">
      <p class="storage-list-item-serial">序号</p>
      <p class="storage-list-item-product">商品介绍</p>
      <p class="storage-list-item-price">价格</p>
      <p class="storage-list-item-quantity">库存</p>
    </div>
    <div class="storage-list-item">
      <p class="storage-list-item-serial">1</p>
      <div class="storage-list-item-product">
        <a href="javascript:;"><img src="../src/images/temp/q1.jpg" alt=""></a>
        <p class="storage-list-item-title"><a href="javascript:;">威王洁厕至尊宝洁厕块</a></p>
        <p class="text-light">威王洁厕至尊宝洁厕块 50g*10颗 超值套装 抗污性强</p>
      </div>
      <p class="storage-list-item-price">
        ￥470.00
      </p>
      <p class="storage-list-item-quantity">
        <strong>80</strong>箱
      </p>
    </div>
    <div class="storage-list-item">
      <p class="storage-list-item-serial">2</p>
      <div class="storage-list-item-product">
        <a href="javascript:;"><img src="../src/images/temp/q2.jpg" alt=""></a>
        <p class="storage-list-item-title"><a href="javascript:;">威王洁厕至尊宝洁厕块</a></p>
        <p class="text-light">威王洁厕至尊宝洁厕块 50g*10颗 超值套装 抗污性强</p>
      </div>
      <p class="storage-list-item-price">
        ￥470.00
      </p>
      <p class="storage-list-item-quantity">
        <strong>80</strong>箱
      </p>
    </div>
    <div class="storage-list-item">
      <p class="storage-list-item-serial">3</p>
      <div class="storage-list-item-product">
        <a href="javascript:;"><img src="../src/images/temp/q3.jpg" alt=""></a>
        <p class="storage-list-item-title"><a href="javascript:;">威王洁厕至尊宝洁厕块</a></p>
        <p class="text-light">威王洁厕至尊宝洁厕块 50g*10颗 超值套装 抗污性强</p>
      </div>
      <p class="storage-list-item-price">
        ￥470.00
      </p>
      <p class="storage-list-item-quantity">
        <strong>80</strong>箱
      </p>
    </div>
    <div class="storage-list-item">
      <p class="storage-list-item-serial">4</p>
      <div class="storage-list-item-product">
        <a href="javascript:;"><img src="../src/images/temp/q4.jpg" alt=""></a>
        <p class="storage-list-item-title"><a href="javascript:;">威王洁厕至尊宝洁厕块</a></p>
        <p class="text-light">威王洁厕至尊宝洁厕块 50g*10颗 超值套装 抗污性强</p>
      </div>
      <p class="storage-list-item-price">
        ￥470.00
      </p>
      <p class="storage-list-item-quantity">
        <strong>80</strong>箱
      </p>
    </div>
  </div>
  
  <div class="pagination">
    <ul class="items">
        <li class="item pagination-prev">
            <a class="icon-tag" href="javascript:;"><</a>
        </li>
        <li class="item pagination-active">
            <a href="javascript:;">1</a>
        </li>
        <li class="item">
            <a href="javascript:;">2</a>
        </li>
        <li class="item">
            <a href="javascript:;">3</a>
        </li>
        <li class="item">
            <a href="javascript:;">4</a>
        </li>
        <li class="item">
            <a href="javascript:;">5</a>
        </li>
        <li class="item">
            <span class="pagination-dot">···</span>
        </li>
        <li class="item">
            <a href="javascript:;">24</a>
        </li>
        <li class="item pagination-next">
            <a class="icon-tag" href="javascript:;">></a>
        </li>
    </ul>
    <div class="pagination-form">
        <span class="text">跳至</span>
        <input class="input" type="text" min="1" max="100" aria-label="页码输入框" placeholder="1">
        <span class="text">页</span>
        <a class="pagination-btn button button-radius" href="javascript:;">跳转</a>
    </div>
</div>

</div>
</div>

<!-- footer -->
  <div class="footer">
    <div class="footer-content">
      <dl>
        <dt>公司介绍</dt>
        <dd><a href="javascript:;">关于立白</a></dd>
        <dd><a href="javascript:;">媒体报道</a></dd>
        <dd><a href="javascript:;">诚征英才</a></dd>
        <dd><a href="javascript:;">友情链接</a></dd>
      </dl>
      <dl>
        <dt>购物流程</dt>
        <dd><a href="javascript:;">新用户注册</a></dd>
        <dd><a href="javascript:;">购物流程</a></dd>
        <dd><a href="javascript:;">配送方式</a></dd>
      </dl>
      <dl>
        <dt>支付方式</dt>
        <dd><a href="javascript:;">货到付款</a></dd>
        <dd><a href="javascript:;">银联卡支付</a></dd>
        <dd><a href="javascript:;">支付宝</a></dd>
      </dl>
      <dl>
        <dt>售后服务</dt>
        <dd><a href="javascript:;">退货说明</a></dd>
        <dd><a href="javascript:;">退款说明</a></dd>
      </dl>
      <dl>
        <dt>招商合作</dt>
        <dd><a href="javascript:;">供应商招募</a></dd>
        <dd><a href="javascript:;">广商合作</a></dd>
        <dd><a href="javascript:;">联系立白</a></dd>
      </dl>
      <dl>
        <dt>常见问题</dt>
        <dd><a href="javascript:;">账户问题</a></dd>
        <dd><a href="javascript:;">发票问题</a></dd>
        <dd><a href="javascript:;">联系客服</a></dd>
      </dl>
    </div>
    <div class="footer-copyright">
      <p>Copyright © 2016-2017 广州立白, All Rights Reserved. 沪ICP备33076683号 营业执照</p>
    </div>
  </div>


<!-- import page js files and /body end -->
<script type="text/javascript" src="../src/js/common.js"></script>
</body>
</html>

