<!-- import css files and body start -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/src/css/index.css">
  <script type="text/javascript" src="/src/vendor/js/echarts.min.js"></script>

</head>
<body>


<!-- import page header -->
<!-- header -->
<div class="header-top">
  <div class="header-content">
    <ul class="header-left">
      <li>您好，<a href="#">邓志勇<span class="vip">VIP6</span></a></li>
      <li>消息  <a  class="header-message" href="#">6</a></li>
      <li><a href="#">退出</a></li>
    </ul>
    <ul class="header-right">
      <li><a href="#">我的购物</a></li>
      <li><a href="#">我的订单<span></span></a></li>
      <li><i class="icon"></i><a href="#">购物车<span class="num">2</span>件</a></li>
      <li><a href="#">收藏夹</a></li>
      <li><a href="#">帮助中心</a></li>
    </ul>
  </div>
</div>
<!-- herderBtm -->
<div class="herder-bottom">
  <div class="header-logo">
    <a href="#">立白立构台</a>
  </div>
  <div class="header-search">
    <div class="searchtpl">
      <label for="">产品名称<a href="#"></a></label>
      <input type="text" placeholder="好爸爸Kispa洗衣液" id="">
      <span>搜索</span>
    </div>
    <div class="keywd">
      <a href="#">好爸爸</a>
      <a href="#">洗衣液</a>
      <a href="#">洗洁精</a>
      <a href="#">洗衣粉</a>
      <a href="#">个人护理</a>
      <a href="#">洗护套装</a>
    </div>
  </div>
  <div class="header-tel">
    <i class="icon icon-tel"></i>
    <p class="tit">
      客服热线(7x24小时)<br>
      <span class="num">400-687-0099</span>
    </p>
  </div>
</div>


<!-- import page nav -->
<div class="nav">
  <ul class="nav-content">
    <li class="nav-all">
      <a href="#">
        <i class="icon icon-menu"></i>
        <span>全部商品分类</span>
      </a>
    </li>
    <li>
      <a href="#">首页</a>
    </li>
    <li>
      <a href="#">促销政策</a>
    </li>
    <li>
      <a href="#">平台服务</a>
    </li>
    <li>
      <a href="#">集团官网</a>
    </li>
  </ul>
</div>



<!-- import the breadcrumb -->
<div class="breadcrumb">
  您的位置：
  <a href="#">首页</a>
    >
  <a href="#">我的立购</a>
    >
  <a href="#">我的钱包</a>
</div>


<!-- import the content -->
<div class="content clearfix">
  <div class="wallet-popup">
    <div class="box-title wallet-popup-box">
      <h3>
        <i class="icon icon14"></i>
        <span>我的授信账户充值</span>
      </h3>
    </div>
    <form class="form" action="#">
      <div class="form-item">
        <span class="form-title">充值账户：</span>
        <p>150****6386_m1215</p>
      </div>
      <div class="form-item">
        <span class="form-title">收款方：</span>
        <p>广州立白企业集团有限公司</p>
      </div>
      <div class="form-item">
        <span class="form-title">充值金额：</span>
        <input type="tel" class="input" placeholder="输入充值金额" name="">
      </div>
      <div class="form-item">
        <span class="form-title">选择账户：</span>
        <input type="hidden" name="">
        <ul class="bank-lists clearfix">
  <li class="bank-item">
    <img src="" alt="bank">
    <div>
      <p><span class="fl">招商银行</span><span class="fr">尾号0983</span></p>
      <p class="text-grey">广州美佳日化有限公司</p>
    </div>
  </li>
  <li class="bank-item">
    <img src="" alt="bank">
    <div>
      <p><span class="fl">招商银行</span><span class="fr">尾号0983</span></p>
      <p class="text-grey">广州美佳日化有限公司</p>
    </div>
  </li>
  <li class="bank-item">
    <img src="" alt="bank">
    <div>
      <p><span class="fl">招商银行</span><span class="fr">尾号0983</span></p>
      <p class="text-grey">广州美佳日化有限公司</p>
    </div>
  </li>
  <li class="bank-item">
    <img src="" alt="bank">
    <div>
      <p><span class="fl">招商银行</span><span class="fr">尾号0983</span></p>
      <p class="text-grey">广州美佳日化有限公司</p>
    </div>
  </li>
  <li class="bank-item">
    <a href="#" class="bank-item-add">
      +   添加新的银行卡
    </a>
  </li>
</ul>

      </div>
      <div class="form-item">
        <span class="form-title">支付金额：</span>
        <p class="wallet-popup-amount" id="J-walletPopupAmount">￥1500000.00</p>
      </div>
      <div class="form-item">
        <span class="form-title">支付密码：</span>
        <input type="tel" class="input" placeholder="输入支付密码" name="">
      </div>
      <div class="form-item">
        <label>
          <input type="checkbox" name="">
          同意<a href="#">《立白经销商付费协议》</a>
        </label>
      </div>
      <div class="wallet-popup-btn">
        <input type="button" value="立即充值" name="" class="button button-blue button-radius mr30">
        <input type="button" value="取消充值" name="" class="button button-grey button-radius">
      </div>
    </form>
  </div>
</div>


<!-- footer -->
  <div class="footer">
    <div class="footer-content">
      <ul>
        <li><a href="#">公司介绍</a></li>
        <li><a href="#">关于立白</a></li>
        <li><a href="#">媒体报道</a></li>
        <li><a href="#">诚征英才</a></li>
        <li><a href="#">友情链接</a></li>
      </ul>
      <ul>
        <li><a href="#">购物流程</a></li>
        <li><a href="#">新用户注册</a></li>
        <li><a href="#">购物流程</a></li>
        <li><a href="#">配送方式</a></li>
      </ul>
      <ul>
        <li><a href="#">支付方式</a></li>
        <li><a href="#">货到付款</a></li>
        <li><a href="#">银联卡支付</a></li>
        <li><a href="#">支付宝</a></li>
      </ul>
      <ul>
        <li><a href="#">售后服务</a></li>
        <li><a href="#">退货说明</a></li>
        <li><a href="#">退款说明</a></li>
      </ul>
      <ul>
        <li><a href="#">招商合作</a></li>
        <li><a href="#">供应商招募</a></li>
        <li><a href="#">广商合作</a></li>
        <li><a href="#">联系立白</a></li>
      </ul>
      <ul>
        <li><a href="#">常见问题</a></li>
        <li><a href="#">账户问题</a></li>
        <li><a href="#">发票问题</a></li>
        <li><a href="#">联系客服</a></li>
      </ul>
    </div>
    <div class="footer-copyright">
      <p>Copyright © 2016-2017 广州立白, All Rights Reserved. 沪ICP备33076683号 营业执照</p>
    </div>
  </div>


<!-- import page js files and /body end -->
</body>
</html>

