.store-list{
  display: flex;
  flex-flow: row wrap;

  &-bar{
    order: 1;
    width: 100%;
    padding: 0 0.1rem;
    margin: 0.5rem 0 0.2rem;

  }

  &-progress{
    width: 100%;
    padding: 0 0.1rem;
  }

  .box-title{
    order: 0;
    flex: 1;
  }

  &-filter{
    color:#656565;
    order: 0;
    border-bottom: 1px solid #c2c2c2;
    margin: 0;
    padding: 0.18rem 0.15rem 0.15rem 0;
    flex: 0 0 60%;
    
    form{
      display: flex;
      justify-content: flex-end; 
        
      i{
        margin: 0;
        color: #ebebeb;
        padding:0 0.05rem;
      }
    }

    .input,
    .button{
      display: none;
    }
    &-search{
      display: none;
    }
  }

  &-content{
    order: 1;
    margin: 0;
  }

  &-item{
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    &-serial{
      flex: 0 0 15%;
    }
    &-detail{
      flex: 0 0 60%;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
  
      a{
        flex: 0 0 35%;
        margin-right: 5%;
      }
      img{
        width: 100%;
        height: auto;
      }

    }
    &-txt{
      flex: 0 0 60%; 
      padding: 0 0.05rem;

      &-introduction{
        height: 0.48rem;
        line-height: 0.16rem;
        overflow: hidden;
      }       
    }
    &-target{
      flex: 0 0 25%;
    }
  }
}

