.account-chart{
  @include size($box-left-width + $box-right-width + 15px, 420px);
  position:relative;
  overflow:hidden;
  border-bottom:15px solid #f6f6f6;
  clear:both;

  &-content{
    height:350px;
  }
  &-left{
    @include size(350px, 350px);
    float:left;
  }
  &-right{
    @include size(650px, 350px);
    float:right;
  }
}
