.account-content{
  position:relative;
  width:1030px;
  margin:-$gap 0 0 (-$gap);
  overflow:hidden;
  background:#fff;
  border-bottom:$gap solid #f6f6f6;
}

.account-title{
  @include size(100%, 50px);
  padding: 0 $gap;
  line-height:65px;
  font-size:$font-size-large;
  color: $dark-text;
  background:#f6f6f6;
}
