.account-order{
  @include size(505px, 80px);
  float:left;
  position:relative;
  border-bottom:1px solid #f6f6f6;
  overflow:hidden;
  background:#fff;

  &-tab{
    @include size(100%, 80px);
    position:relative;
    padding:0 40px;

    li{
      @include size(25%, 78px);
      position:relative;
      float:left;
      padding:22px 0;
      text-align:center;
      line-height:22px;
      color:$dark-text;
      cursor:pointer;

      &:last-child{
        border:0;
      }

      &:nth-child(2) i{
        font-size:21px;
      }
    }

    i,
    span{
      display:block;
    }

    i{
      font-size:22px;
    }

    .message-dot{
      @include absolute(top 16px left 53px);
    }
  }
}
