.account-star{

  &-list{
    overflow:hidden;
  }

  &-item{
    @include size(33.33%, 120px);
    float: left;
    padding: 20px;
    background: #fff;
    border-right:1px solid #f6f6f6;

    &:last-child{
      border:0;
    }

    &-left{
      display: block;
      margin-right:20px;
      float: left;
      position:relative;

      span{
        @include absolute(top -7px right -4px);
        color:#fff;
        z-index:2;
      }

      &:after{
        @include absolute(top -20px right -15px);
        font-family: "iconfont";
        content: "\e668";
        font-size:30px;
        display: block;
        text-align: center;
      }

      img{
        @include size(80px,80px);
        display: block;
      }
    }

    &1{
      .account-star-item-account{
        color: #fc9454;
      }

      .account-star-item-left:after{
        color:#f5af11;
      }
    }

    &2{
      .account-star-item-account{
        color: #8cc129;
      }

      .account-star-item-left:after{
        color:#7b989e;
      }
    }

    &3{
      .account-star-item-account{
        color: #009cec;
      }

      .account-star-item-left:after{
        color:#dd8c55;
      }
    }

    &-account{
      font-size: 30px;
      color:$base-color;
    }

    &-name{
      font-size: 16px;
      color:$dark-text;
    }

    &:last-child{
      margin-right:0;
    }
  }
}
