.account-tool{
  @include size($box-right-width, 180px+$gap);
  background:$white-background;
  border-bottom:$gap solid $light-background;

  &-title{
    height:30px;
    padding-left:$gap;
    line-height:30px;
    background:#f0fafe;

    i{
      color:$base-color;
      font-size:18px;
    }
  }

  &-lists{
      @include size(100%, 75px);

    li{
      @include size(25%, 75px);
      float:left;
      text-align:center;
      border-right: 1px solid $grey-border;

      &:nth-child(4n){
        border-right:0;
      }

      &:first-child,
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4){
        border-bottom: 1px solid $grey-border;
      }
    }

    a{
      @extend %block-a;
      padding-top:10px;

      &:hover{
        i{
          transform:translateY(-5px);
        }
      }
    }

    .icon,
    .iconfont{
      @include size(34px, 34px);
      display:block;
      margin:0 auto 5px;
      line-height:34px;
      font-size:26px;
      transition:transform 0.5s ease;
    }
  }
}
