.account-wallet{
  @include size(525px, 215px);
  position:relative;
  float:right;
  border:1px solid #f6f6f6;
  overflow:hidden;

  &-content{
    height:100%;
    overflow:hidden;

    li{
      @include size(100%/3, 100%);
      float:left;
      border-right:1px solid #f6f6f6;
      text-align:center;

      &:last-child{
        border:0;

        i{
          font-size:50px;
        }
      }
    }

    i{
      display:block !important;
      height:70px;
      line-height:70px;
      margin:0 auto 10px;
      font-size:60px;
      color:$base-color;
      transition:transform 0.5s ease-in;
    }

    a{
      @extend %block-a;
      position:relative;
      padding-top:20px;
      cursor:pointer;

      &:hover i{
        transform:translateY(-10px);
      }
    }
  }

  &-count{
    font-size:$font-size-xlarge;
  }

  &-btn{
    @include size(70px, 22px);
    display:block;
    margin:20px auto;
    min-width:70px;
    line-height:22px;
    text-align:center;
    border:1px solid #c2c2c2;
    border-radius:3px;
    background:#f6f6f6;
    color:$dark-text;
  }
}
