$order-cart-pr:  220px;
$order-cart-pl:  160px;
$order-cart-color: #656565;

.order-cart{
  margin-left:0;
  min-height:auto;

  &-menu{
    display:none;
  }

  &-item{
    padding:0.4rem 0 0.4rem 0.4rem;
    height:1.9rem;
    border-bottom-width:10px;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
  }

  &-check{
    @include absolute(left 0.1rem top 0.5rem);
  }

  &-sales{
    padding:$gap;
  }

  &-tool{
    @include fixed(bottom 0 left 0);
    @include size(100%, $footer-mobile-height);
    margin-top:$gap;
    padding:0 1.2rem 0 0.1rem;
    border:0;
    z-index:2;
    border-top:1px solid #cdcdcd;
    display:flex;
  }

  &-allpick{
    margin-top:0;
    font-size:$font-size-medium;
    display:flex;
    flex-direction:column;
    justify-content:space-around;

    a{
      display:none;
    }
  }

  &-checkout{
    height:0.36rem;
    flex:1;
    display:flex;
    flex-wrap:wrap;
    align-self:center;

    & > span{
      line-height:0.16rem;
      text-align:right;
    }

    & > span:last-of-type{
      width:100%;
      display:flex;
      flex-direction:column;
      justify-content:space-around;
    }

    & > span:first-of-type,
    & > span:nth-child(2){
      display:none;
    }

    .button{
      @include absolute(right 0 top 0);
      width:1.1rem;
      height:100%;
      font-size:$font-size-large;
      line-height:$footer-mobile-height;
    }
  }
}

.cart{
  &-cell{
    font-size:$font-size-base;
  }

  &-image{
    width:40%;
    max-width:1.1rem;
    order:1;

    img{
      @include size(85%, auto);
      max-width:1rem;
      display:block;
      border:1px solid $grey-border;
    }
  }

  &-product{
    @include size(60%, 0.6rem);
    min-height:auto;
    order:1;
    display:flex;

    p{
      font-size:$font-size-base;

      &:first-child{
        height:0.42rem;
        line-height:0.21rem;
        overflow:hidden;
      }

      &:nth-child(2){
        width:100%;
        @extend %ellipsis;
      }
    }

    a{
      width:100%;
    }

    .text-light{
      display:none;
    }

    .with-blue-bg{
      margin-right:0.1rem;
    }
  }

  // &-product-hide{
  //   width:30%;

  //   .cart-promotion{
  //     display:none;
  //   }
  // }

  &-info,
  &-price{
    @include size(auto, 0.18rem);
    padding:0;
    font-size:$font-size-base;
    display:flex;
    order:1;

    p{
      margin-right:0.1rem;
      order:1;
    }
  }
  &-price{
    @include size(20%, 0.18rem);
    text-align:center;

    p:last-child{
      color:$red;
      font-size:$font-size-medium;
      order:0;
    }
  }

  &-quantity{
    @include size(50%, 0.4rem);
    display:none;
    order:1;

    &-box{
      @include size(1rem, 0.34rem);
      margin-left:0;
      margin-top:0;
    }

    &-minus,
    &-plus{
      @include size(0.3rem, 0.3rem);
      line-height:0.25rem;
    }

    &-input{
      @include size(1rem, 0.34rem);
      padding:0 0.2rem;
      line-height:0.34rem;
    }

    .error{
      display:none;
    }
  }

  // &-total,
  // &-action{
  //   margin-top:0.1rem;
  //   padding-top:0.1rem;
  //   border-top:1px solid #f6f6f6;
  // }

  &-total{
    @include size(100%, 0.3rem);
    @include absolute(bottom 0 right 0);
    padding-right:$gap;
    border-top:1px solid #f6f6f6;
    color:#656565;
    font-size:$font-size-medium;
    line-height:0.3rem;
    text-align:right;
  }

  &-action{
    @include size(60%, 0.3rem);
    position:relative;
    margin-top:0.2rem;
    padding:0;
    text-align:left;
    display:none;
    order:2;
    flex-wrap:wrap;
    justify-content:space-between;

    label,
    a{
      margin-top:0;
    }

    label{
      @include absolute(top -0.5rem right 0);
      width:100%;
      text-align:right;

    }

    a{
      @include size(40%, 0.3rem);
      border-radius:5px;
      text-align:center;
      line-height:0.3rem;

      &:first-of-type{
        border:1px solid $base-color;
        color:$base-color;
      }

      &:last-child{
        border:1px solid $grey-text;
        color:$grey-text;
      }
    }
  }

  &-promotion{
    @include absolute(bottom 6px left $gap);
    color:#656565;
    margin-top:0;
  }

  &-edit{
    @include size(100%, 0.3rem);
    @include absolute(top 0 left 0);
    display:block;
    padding-right:$gap;
    text-align:right;
    border-bottom:1px solid #f9f9f9;
    font-size:$font-size-medium;
    line-height:0.3rem;
    box-sizing:border-box;
  }
}

