$order-cart-pr:  220px;
$order-cart-pl:  160px;
$order-cart-color: $dark-text;

.order-cart{
  margin-left:0;
  margin-top:-$header-mobile-height;
  padding-bottom:$footer-mobile-height;
  min-height:auto;

  &-menu{
    display:none;
  }

  &-item{
    padding:0.4rem 0 0.4rem 1.35rem;
    height:1.9rem;
    border-bottom-width:10px;
  }

  &-check{
    @include absolute(left 0.1rem top 0.4rem);
  }

  &-sales{
    padding:$gap;
    border-bottom:0;
  }

  &-tool{
    @include fixed(bottom $footer-mobile-height left 0);
    @include size(100%, 0.5rem);
    margin-top:$gap;
    padding:0 0.95rem 0 0.1rem;
    border:0;
    z-index:2;
    border-top:1px solid #f6f6f6;
    @extend %display-flex;
    //display:-webkit-box;
  }

  &-allpick{
    margin-top:0;
    float:none;
    line-height:0.5rem;
    font-size:$font-size-base;
    color:$dark-text;
    flex:1;

    a{
      display:none;
    }
  }

  &-checkout{
    height:0.5rem;
    float:none;

    span{
      line-height:0.52rem;
      display:inline-block;
      vertical-align:middle;
    }

    & > span{
      margin-left:0;
      text-align:left;
    }

    & > span:last-of-type{
      width:100%;
      text-align:right;
    }

    & > span:first-of-type,
    & > span:nth-child(2){
      display:none;
    }

    .button{
      @include absolute(right 0 top 0);
      width:0.9rem;
      height:100%;
      font-size:$font-size-large;
      line-height:0.5rem;
    }
  }
}

.cart{
  &-cell{
    font-size:$font-size-base;
  }

  &-image,
  &-product,
  &-info,
  &-price,
  &-quantity,
  &-total,
  &-action{
    float:none;
  }

  &-image{
    @include absolute(top 0.4rem left 0.35rem);
    width:1rem;
    max-width:1rem;
    order:1;

    img{
      @include size(100%, auto);
      max-width:0.9rem;
      display:block;
      border:1px solid $grey-border;
    }
  }

  &-product{
    @include size(100%, 0.6rem);
    padding-right:$gap;
    min-height:auto;
    //display:-webkit-box;

    p{
      font-size:$font-size-base;

      &:first-child{
        max-height:0.42rem;
        line-height:0.18rem;
        overflow:hidden;
      }

      &:nth-child(2){
        width:100%;
        @extend %ellipsis;
      }
    }

    a{
      width:100%;
    }

    .text-light{
      display:none;
    }

    .with-blue-bg{
      margin-right:0.1rem;
    }
  }

  // &-product-hide{
  //   width:30%;

  //   .cart-promotion{
  //     display:none;
  //   }
  // }

  &-info,
  &-price{
    @include size(auto, 0.18rem);
    padding:0;
    font-size:$font-size-base;
    //@extend %display-flex;

    p{
      padding-right:0.1rem;
      display:inline-block;
      width:auto;
      float:left;
    }
  }

  &-price{
    text-align:center;

    p:last-child{
      color:$red;
      font-size:$font-size-medium;
      order:0;
    }
  }

  &-quantity{
    @include size(50%, 0.4rem);
    display:none;
    order:1;

    &-box{
      @include size(1rem, 0.34rem);
      margin-left:0;
      margin-top:0;
    }

    &-minus,
    &-plus{
      @include size(0.3rem, 0.3rem);
      line-height:0.25rem;
    }

    &-input{
      @include size(1rem, 0.34rem);
      padding:0 0.2rem;
      line-height:0.34rem;
    }

    .error{
      display:none;
    }
  }

  // &-total,
  // &-action{
  //   margin-top:0.1rem;
  //   padding-top:0.1rem;
  //   border-top:1px solid #f6f6f6;
  // }

  &-total{
    @include size(100%, 0.3rem);
    @include absolute(bottom 0 right 0);
    padding-right:$gap;
    border-top:1px solid #f6f6f6;
    color:$dark-text;
    font-size:$font-size-base;
    line-height:0.3rem;
    text-align:right;
  }

  &-action{
    @include size(100%, 0.3rem);
    position:relative;
    margin-top:0.2rem;
    padding:0;
    text-align:left;
    display:none;


    label,
    a{
      margin-top:0;
    }

    label{
      @include absolute(top -0.5rem right $gap);
      width:100%;
      text-align:right;
    }

    a{
      @include size(40%, 0.3rem);
      display:inline-block;
      border-radius:5px;
      text-align:center;
      line-height:0.3rem;

      &:first-of-type{
        margin-right:10%;
        border:1px solid $base-color;
        color:$base-color;
      }

      &:last-child{
        border:1px solid $grey-text;
        color:$grey-text;
      }
    }
  }

  &-promotion{
    @include absolute(bottom 6px left $gap);
    color:$dark-text;
    margin-top:0;
  }

  &-edit{
    @include size(100%, 0.3rem);
    @include absolute(top 0 left 0);
    display:block;
    padding-right:$gap;
    text-align:right;
    border-bottom:1px solid #f9f9f9;
    font-size:$font-size-base;
    line-height:0.3rem;
    box-sizing:border-box;
  }
}

