.order-check{
  margin-left:0;
  margin-top:-$header-mobile-height;

  &-content{
    width:100%;
  }

  &-info{
    padding:0;
  }

  &-delivery{
    width:100%;
    padding:0 $gap;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;

    li{
      @include size(45%, auto);
      min-width:auto;
      margin:0 0 0.2rem 0;
    }

    p{
      @include size(100%, 100%);
      padding:0;
      line-height:0.2rem;
    }

    input[type="radio"]{
      display:none;
    }

    p.curr,
    input[type="radio"]:checked + p{
      border:1px solid $base-color;
      background:#f0fafe;
      color:$base-color;

      &:after{
        @include absolute(right 0 bottom -2px);
      }
    }
  }

  &-address{
    li{
      @include size(100%, auto);
      float:left;
      position:relative;
      margin:0 20px 20px 0;
    }

    .order-check-address-detail{
      @include size(100%, 100%);
      padding:$gap;
      color:#808080;
      cursor:pointer;
      background:url(#{$background-root}/bg/bg-address.png) no-repeat;

      a{
        color:$base-color;
      }
    }
    @media screen and (-webkit-min-device-pixel-ratio: 2) {
      .order-check-address-detail{
        background:url(#{$background-root}/bg/bg-address@2x.png) no-repeat;
        background-size:cover;
      }
    }

    input[type="radio"]{
      display:none;
    }

    .order-check-address-detail.curr,
    input[type="radio"]:checked + .order-check-address-detail{
      &:after{
        @include absolute(right 0 bottom -3px);
        content:"\e62b";
        font-family:'iconfont';
        color:$red;
        font-size:22px;
      }
    }
  }

  &-menu{
    display:none;
  }

  &-item{
    padding:$gap;
    height:1.6rem;
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;

    .cart{
      &-info{
        width: 100%;
        padding: 0;
        margin-right:0;
        font-size: 12px;
        display: flex;
      }

      &-total{
        text-align:right;
      }

      &-product img{
        left:$gap;
      }

      &-total{
        display:block;
        font-size:$font-size-medium;
        border:0;
        flex:1;
        order:6;
      }

      &-quantity{
        justify-content: flex-start;
        flex-direction: row;

        &-box,
        p{
          margin-left:0;
          margin-right:0.05rem;
        }

        p{
          text-align:left;
        }
      }

      //use part of style @_cart.scss;
    }
  }

  &-sales{
    padding:$gap;
    display:flex;
    flex-wrap:wrap;
  }

  &-remark{
    padding:$gap;
    color:$dark-text;
    display:flex;
    flex-wrap:wrap;

    &-left{
      @include relative(top 0 left 0);
      @include size(100%, 0.3rem);
      margin-top:0;
      margin-bottom:$gap;
      line-height:0.3rem;
      display:flex;
      flex-wrap:wrap;
      justify-content:space-between;
    }

    &-right{
      width:100%;
    }

    .input{
      flex:1;
    }
  }



  &-charge{
    width:100%;
    margin-bottom:5px;
    line-height:0.3rem;
    display:flex;
    justify-content:space-between;

    &:last-child{
      margin:0;
    }

    span{
      text-align:left;
    }
  }

  &-payment{
    padding:$gap;
    line-height:0.36rem;

    .order-check-charge{
      margin-left:0;
    }

    strong{
      color:$red;
      font-size:16px;
    }
  }

  &-product-info{
    width:100%;
    margin-top:0.1rem;
    display:flex;
    flex-wrap:wrap;

    & > span{
      width:100%;
      margin:0;
      line-height:0.3rem;
      display:flex;
      justify-content:space-between;
    }
  }

  &-title{
    @extend %section-title-mobile;
  }
}

.order-check-topup,
.order-check-charge{
  strong{
    font-weight:400;
    font-size:$font-size-medium
  }
}

.order-check,
.order-waybill{
  &-lists{
    &-title{
      height:0.4rem;
      padding:0 $gap;
      line-height:0.4rem;
      font-size:$font-size-large;
    }
  }

  &-topup{
    height:auto;
    padding:$gap;
    border-top:0.1rem solid $light-border;
    border-bottom:0;
    display:flex;
    flex-wrap:wrap;
    flex-direction: row-reverse;

    & > span,
    & > a{
      width:100%;
      margin-right:0;
      line-height:0.3rem;
      display:flex;
      justify-content:space-between;
    }

    .button{
      @include relative(right 0 top 0);
      @include size(0.9rem, 0.3rem);
      margin-top:0.1rem;
      font-size:$font-size-medium;
      justify-content:center;
    }
  }

  &-checkout{
    @include fixed(bottom 0 left 0);
    @include size(100%, $footer-mobile-height);
    margin-top:$gap;
    padding:0;
    border-top:1px solid #cdcdcd;
    z-index:2;
    display:flex;
    justify-content:flex-end;

    a{
      line-height:$footer-mobile-height;
    }

    .button{
      width:1.5rem;
    }
  }

}
