
.order-delivery{
  margin-left: 0;

  &-content{
    padding:0;
  }

  &-progress{
    width: 75%;
    height: 0.06rem;
    margin: 0.7rem auto 0.9rem;
    border: none;

    &-curr{
      top: -0.03rem;
      height: 0.12rem;
      border: 0.03rem solid #ffecca;
    }
  }

  &-step{

    li{
      strong{
        height: 0.3rem;
        line-height: 0.15rem;
        width: 0.8rem;
        margin-left: -0.4rem;
        bottom: -0.35rem;
      }
    }

  }

  &-info{
    width: 100%;
    margin: 0;
    border:none;

    h3{
      border-top:0.05rem solid #f9f9f9;
      border-bottom:0.01rem solid #f9f9f9;
      background: #fff;
      padding: 0 0.15rem;
    }
  }

  &-lists{
    padding:0.15rem;

    li{
      padding-left:0.15rem;
    }
  }

}

