
.order-detail{
  position:relative;
  margin-left:0;

  &-content{
    padding:0.85rem 0 0.45rem;
  }

  &-delivery-progress{
    @include size(80%, 0.23rem);
    margin:0 auto 0.7rem;
    border:7px solid #f7f7f7;
    border-left:0;
    border-right:0;
    background:#bec2d3;

    &-curr{
      @include absolute(top -7px left 0);
      display:block;
      height:0.23rem;
      border:7px solid #ffecca;
      background:#ffa917;
      border-radius:0 10px 10px 0;
      box-sizing:border-box;
    }
  }

  &-delivery-step{
    position:relative;

    li{
      @include size(0.52rem, 0.58rem);
      @include absolute(top -0.26rem left -0.29rem);
      line-height:58px;
      color:$white-text;
      text-align:center;
      background:url(#{$background-root}/bg/step-grey.png) no-repeat;
      font-size:$font-size-base;

      p{
        @include absolute(top -0.45rem left 100%);
        width:100%;
        margin-left:-0.5rem;
      }

      strong{
        @include absolute(bottom -0.35rem left 0);
        width:100%;
        margin-left:0;
        font-size:9px;
        line-height:0.15rem;
      }

      span{
        display:block;
      }

      &.active{
        background:url(#{$background-root}/bg/step-curr.png) no-repeat;

        p{
          color:#c57d03;
        }
      }
    }

    @media screen and (-webkit-min-device-pixel-ratio: 2) {
      li{
        background:url(#{$background-root}/bg/step-grey@2x.png) no-repeat;
        background-size:cover;

        &.active{
          background:url(#{$background-root}/bg/step-curr@2x.png) no-repeat;
          background-size:cover;
        }
      }
    }
  }

  &-title{
    height:0.4rem;
    padding:0 $gap;
    margin-bottom:0;
    line-height:0.4rem;
    font-size:$font-size-large;
    border-bottom:1px solid #f6f6f6;

    &-right{
      display:none;
    }

    &-number{
      font-size:$font-size-base;
    }
  }

  &-print{
    @include absolute(right $gap top 20px);
    color:$base-color;
  }


  &-info{
    margin-bottom:0;
    border-bottom:$gap solid #f6f6f6;

    &-message{
      line-height:0.4rem;
      border:0;

      span{
        margin-right:$gap;
      }
    }
  }

  &-form{
    width: 100%;
    padding:0;
    border:0;


    &-item{
      width: 100%;
      padding:0.15rem;
      border-bottom:1px solid $grey-border;

      p{
        margin: 0;
        @extend %display-flex;
        justify-content: space-around;
        -webkit-box-pack:justify;

        span{
          display:block;
          float:none !important;
        }

        .item-title{
          text-align: left;
          padding:0;
          overflow: hidden;
          white-space: nowrap;
          text-overflow:ellipsis;
        }

        .item-content{
          flex:1;
          padding: 0;
          text-align: right;
          margin-left: 0.1rem;
        }
      }

      &:first-child{
        width: 100%;
      }

      &:last-child{
        border:0;
      }
    }
  }

  &-lists{
    margin-bottom:0;

    dl{
      overflow:hidden;
      border:0;
    }

    dt{
      display:none;
    }

    dd{
      position:relative;
      height:0.51rem;
      padding:0.1rem $gap;
      overflow: hidden;
      border-bottom:1px solid #f6f6f6;
      @extend %display-flex;

      &:nth-child(odd){
        background: none;
      }

      a{
        color:$base-color;
      }

      &.order-detail-lists-buttons{
        display:block;
        text-align:right;

        a{
          @include size(0.75rem, 0.3rem);
          border: 1px solid #bfc2d3;
          display: inline-block;
          background:#fff;
          line-height: 0.3rem;
          text-align: center;
          margin-left: 0.15rem;
          border-radius: 0.03rem;
          color: #363636;
        }
      }

       &.order-detail-lists-address{
          height: 0.5rem;
          padding:0 $gap;
          line-height: 0.5rem;
          color:$base-color;
      }

      &.order-detail-lists-total{
        @include size(100%, 0.4rem);
        display:block;
        padding:0 $gap;
        line-height: 0.4rem;
        text-align:right;
        background:#fff;

        strong{
          font-size:$font-size-medium;
        }
      }
    }

    p{
      @include size(20%, 0.15rem);
      float:none;
      line-height: 0.15rem;
      text-align: center;
      padding: 0;
      order:1;

      &:first-child,
      &:nth-child(2){
        width:50%;
        padding:0;
        text-align: left;
      }

      &:first-child{
        @include absolute(left $gap top 0.25rem);
        color:$light-text;
      }

      &:nth-child(2){
        order:0;
      }

      &:nth-child(3){
        text-align:center;
      }

      &:nth-child(3),
      &:nth-child(4){
        width:25%;
        height:0.3rem;
        padding:0;
        @extend %display-flex;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;

        & > span{
          display:block;
        }
      }

      &.order-detail-lists-total{
        @include size(100%, 0.3rem);
        background:none;
        text-align:right;
        color:$dark-text !important;
      }


    }

    &:first-of-type{
      border-bottom:$gap solid #f6f6f6;
    }
  }

  &-deliver p{
    &:nth-child(3),
    &:nth-child(4){
      display:none;
    }

    &:nth-child(5),
    &:nth-child(6){
      width:25%;
      height:0.3rem;
      padding:0;
      @extend %display-flex;
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -moz-flex-direction: column;
      -webkit-flex-direction: column;

      & > span{
        display:block;
      }
    }
    // p{
    //   width:15%;

    //   &:first-child{
    //     width:20%;
    //     padding-left:$gap*2;
    //   }

    //   &:nth-child(2){
    //     width:30%;
    //   }

    //   &:nth-child(3){
    //     width:10%;
    //     color:#333;
    //     text-align:center;
    //   }

    //   &:nth-child(4){
    //     width:10%;
    //     font-weight:400;
    //     text-align:center;
    //   }

    //   &:nth-child(5){
    //     padding-right:$gap;
    //     text-align:center;
    //   }

    //   &:nth-child(6){
    //     padding-right:$gap*2;
    //     text-align:right;
    //   }

    //   &:nth-child(4),
    //   &:nth-child(5),
    //   &:nth-child(6){
    //     padding-right:$gap*2;
    //   }

    //   &.order-detail-lists-total{
    //     width:100%;
    //   }

    // }
  }
}

