.order-list{
  min-height:0;

  &-tab{
    display:none;
  }

  &-content{
    overflow: hidden;
  }

  &-subtab{
    display:none;
  }

  &-filter{
    display:none;
  }

  &-items{
    margin:0;
    color:$dark-text;
    border:0;

    &-title{
      display:none;
    }

    &-detail{
      padding-bottom:0;
      line-height:0.2rem;
      @extend %display-flex;
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -moz-flex-direction: column;
      -webkit-flex-direction: column;
    }

    &-date{
      position:relative;
      width:100%;
      padding:0 $gap 0 $gap*2;
      margin-bottom:0;
      line-height:0.35rem;

      span{
        margin-right:$gap*2;
      }

      span:first-child{
        display:none;
      }

      a{
        @include absolute(left 0 top 0);
        width:100%;
        font-size:0;

        &:after{
          @include size(0.3rem, 0.35rem);
          @include absolute(top 0 left 0);
          content:"\e656";
          font-family:"iconfont";
          font-size:16px;
          text-align:center;
        }
      }

      i{
        display:none;
      }
    }
  }

  &-cell{

    &-detail,
    &-product,
    &-quantity,
    &-price,
    &-total,
    &-status,
    &-action{
      float:left;
      text-align:center;
    }

    &-detail{
      width:100%;
      margin-left:0;
      margin-top:0;
    }

    &-image img{
      @include size(0.85rem, 0.85rem);
      @include absolute(top $gap left $gap);
      display:block;
      margin-left:0;
    }

    &-product{
      @include size(100%, 0.65rem);
      padding-left:0;
      text-align:left;

      p{
        height:0.36rem;
        margin-bottom:0.1rem;
        overflow:hidden;
        line-height:0.18rem;
      }

      span{
        @include relative(left 0 bottom 0);
        text-align:left;
      }
    }

    &-quantity{
      @include size(auto, 0.18rem);
      @include absolute(right $gap);
      text-align:right;

      &:first-of-type{
        top:$gap;
      }
      &:nth-of-type(2){
        top:$gap + 0.18rem;
      }
      &:nth-of-type(3){
        top:$gap + 0.36rem;
      }
    }

    &-price{
      float:none;
      text-align:left;
      color:$red;
      font-size:$font-size-medium;
    }

    &-check,
    &-action{
      width:100%;
      float:none;
      margin-top:0.1rem;
      @extend %display-flex;
      flex-wrap:wrap;
      display:none;

      a{
        margin:0 $gap;
        height: 0.3rem;
        border-radius: 5px;
        text-align: center;
        line-height: 0.3rem;
        border: 1px solid $grey-text;
        color:$grey-text;
        flex:1;
      }
    }


    &-total{
      width:100%;
      padding:0.1rem $gap;
      float:none;
      border-top:1px solid #f6f6f6;
      text-align:right;
      font-size:$font-size-large;
      font-weight:700;

      span{
        font-size:12px;
        font-weight:400;
      }

      a{
        margin-left:0.1rem;
        padding:0.05rem 0;
        color:$base-color;
        font-size:$font-size-base;
        font-weight:400;
      }
    }

    &-status{
      padding-right:$gap;
      width:90px;
      text-align:right;
    }

    &-single{
      position:relative;
      padding:$gap 0.7rem $gap 1.15rem;
      height:1.15rem;
      line-height:0.18rem;
      border:0;
      border-bottom:1px;
      @extend %display-flex;
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -moz-flex-direction: column;
      -webkit-flex-direction: column;

      &:last-child{
        border-bottom:0;
      }

      &:before,
      &:after{
        @include size(1px, 900px);
        @include absolute(top 0 right -100px);
        content:"";
        display:block;
        background:#f5f5f5;
      }

      &:after{
        right:-190px;
      }
    }
  }
}

