.order-success{
  margin-left: 0;

  .order-title{
    padding: 0.2rem 0 0.6rem;
    &-text{
    display: none;
    }
  }

  &-content{
    width: 100%;
    padding: 0 0.1rem;

    h2{
      padding-top: 0.25rem;
      margin-bottom: 0.2rem;
      font-size:14px;
      text-align: center;
    }

    p{
      display: flex;
      justify-content: center;
      margin-bottom: 0.2rem;
      font-size:12px;
      line-height: 0.25rem;

      &:last-of-type{
        font-size:12px;
      }

      span{
        flex:auto;
      }

      .order-success-text-title{
        flex:0 0 0.9rem;
      }

      a{
        color: #07aaeb;
      }
    }
  }

  &-btn{
    margin: 0.2rem 0;
    display: flex;
    justify-content: space-around;
  }
}
