.order-waybill{
  margin-left:0;
  min-height:0;

  &-tit{
    font-size: 16px;
    line-height: 50px;
    border-bottom: 1px solid #c2c2c2;
    padding-left: 75px;
  }

  &-info{
    padding:0;
    //@extend %display-flex;
    //flex-wrap:wrap;

    p{
      margin-bottom:0.1rem;
      color: $dark-text;
      @extend %display-flex;
      justify-content:space-between;
      -webkit-box-pack:justify;
    }

    span{
      line-height: 1.5;
      float:none !important;
      display:block;

      &:first-child{
        text-align: left;
      }
      &:last-child{
        margin-left: 0;
        text-align:right;
      }
    }

    &-top,
    &-btm{
      width:100% !important;
      padding:$gap !important;
      margin-top:0;
      border-bottom:1px solid #f6f6f6;
    }
  }

  &-lists{
    &-title{
      //this style @ _check.scss
    }
  }

  &-menu{
    display:none;

    &-product,
    &-price,
    &-quantity,
    &-total,
    &-discount{
      float:left;
    }

    &-product{
      width:435px;
      padding-left:35px;
      margin-right:135px;
    }

    &-price{
      width:125px;
      padding:0 20px;
    }

    &-quantity{
      width:185px;
      text-align:center;
    }

    &-discount{
      width:100px;
      text-align:center;
    }

    &-total{
      width:130px;
      text-align:right;
    }
  }

  &-item{
    padding:$gap $gap $gap 1.15rem;
    height:1.4rem;
    overflow:hidden;
    //@extend %display-flex;
    //flex-wrap:wrap;
    //flex-direction:column;

    .cart{
      &-image{
        @include absolute(top $gap left $gap);
      }

      &-info{
        width:100%;
        padding:0;
      }

      &-total{
        text-align:right;
        border:0;
      }

      &-discount{
        display:none;
      }
    }
  }

  &-remark{
    padding:$gap;
    font-size:$font-size-medium;
    color:$dark-text;
  }

  &-topup{
    //this style @ _check.scss

    padding-left:$gap;

    span,
    strong{
      line-height:0.3rem;
    }
  }

  &-checkout{
    //this style @ _check.scss
  }
}

