%amount-base{
  display: block;
  height: 30px;
  line-height: 30px;
  float: left;
}
$product-detail-description-color:#656565;
$product-detail-amount-color:#878787;

.product-detail{
  width: 100%;
  padding: 15px;
  margin: 0 auto;
  background: #f8f8f8;

  &-introduce{
    overflow: hidden;
    width: 1200px;
    padding:25px;
    overflow: hidden;
    background: #fff;
    margin: 0 auto;

    &-images{
      float: left;
      .preview{
        width: 400px;
        height: 400px;
        background-repeat: no-repeat;
        background-position: center 0;
      }
      &-carousel{
        padding:12px 0 12px 30px;
        width: 400px;

        li{
          @include size(70px, 70px);
          float: left;
          margin-right: 15px;

          &.curr{
            a{
              border-color:$base-color;
            }
          }
        }

        a{
          @include size(100%, 100%);
          display:block;
          border:2px solid #fff;
          box-sizing:border-box;

          &:hover{
            border-color:$base-color;
          }

          img{
            @include size(66px,66px);
            display: block;
          }
        }
      }
    }

    &-description{
      width: 700px;
      margin-left: 40px;
      float: left;

      .title{
        height: 40px;
        font-size: 24px;
        color: #656565;
        font-weight: 700;
        line-height: 40px;

      }
      .subtitle{
        height: 28px;
        font-size: 18px;
        color:$red;
        line-height: 28px;
      }

      .price{
        @include size(100%,105px);
        background: #f9f9f9;
        margin: 30px 0 15px;
        padding: 8px 10px 0;

        dl{
          height: 30px;
          line-height: 30px;
          color: $product-detail-description-color;
        }
        .original{

        }
        .sale{
          font-size: 24px;
          color: $red;
          font-weight: 700;
        }
        .activity{
          color: #c57d03;
        }
        .price-tit{
          width: 80px;
          display: block;
          float: left;
          text-align: right;
          padding-right: 10px;
        }
      }

      .parameter{
        display: block;
        overflow: hidden;
        height: 105px;
        width: 100%;
        padding: 0 20px;

        li{
          line-height: 30px;
          float: left;
          @include size(330px,30px);
          color: $product-detail-description-color;

          span{
            text-align: right;
            display: block;
            width: 60px;
            float: left;
          }
        }
      }

      .amount{
        @include size(100%,50px);
        padding:10px 0;
        border-top:1px solid #e8eaf2;
        border-bottom:1px solid #e8eaf2;

        dt{
          @extend %amount-base;
          margin-left: 45px;
          color: $product-detail-description-color;
        }
        dd{
          float: left;
        }

        &-input{
          float: left;
          @include size(43px,30px);
          background:#fff;
          border-color:$product-detail-amount-color;
        }

        &-btn{
          float: left;
          @include size(20px,30px);
          margin-left: 5px;

          a{
            @include size(17px,12px);
            display: block;
            position:relative;
            border: 1px solid $product-detail-amount-color;
            font-size:0;

            &:after{
              @include absolute(top 0 left 0);
              @include size(18px, 12px);
              text-align:center;
              font-family:"iconfont";
              font-size:12px;
              color:#878787;
            }
          }

          &-plus:after{
            content:'\e643';
          }

          &-minus{
            margin-top: 2px;
            &:after{
              content:'\e644';
            }
          }
        }
        &-unit{
          @extend %amount-base;
          color: $product-detail-amount-color;
          margin-left: 8px;
        }
        &-stock{
          @extend %amount-base;
          margin-left: 30px;
          color: $product-detail-description-color;
        }
      }

      .action{
        overflow: hidden;
        margin-top: 20px;

        a{
          display: block;
          font-size: 16px;
          line-height: 40px;
          text-align: center;
          float: left;
          height: 40px;
        }

        &-buy{
          width: 180px;
          color: #fff;
          background: #e2293f;
        }

        &-collection{
          width: 75px;
          color: #c57d03;
          margin-left: 25px;

          i{
            @include size(26px,26px);
            line-height:26px;
          }
        }
      }
    }
  }

  &-service{
    width: 1200px;
    padding:40px 0 15px;
    margin: 0 auto;

    h2{
      font-size: 18px;
      color: #7a8290;
    }
    p{
      line-height: 25px;
      color: #7a8290;
    }
    .explain{
      border-top:2px solid #7a8290;
      padding-top: 15px;
    }
    h3{
      color: #7a8290;
      margin-top: 25px;
    }
  }

  &-promotion-section{
    height: 65px;
    background: #f8f8f8;
    padding: 25px 30px 15px 25px;
    margin: 0 auto;
    width: 1200px;

    h2{
      float: left;
      font-size: 18px;
      height: 25px;
      line-height: 25px;
      color: #656565;
      font-weight:700;

    }

    a{
      float: right;
      height: 25px;
      line-height: 25px;
      color: #04a1e9;
    }
  }
  &-promotion{
    background: #fff;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;

    &-title{
      height:80px;
      line-height:100px;
      font-size:$font-size-xlarge;
      color:#656565;
      background:$light-background;
    }

    &-list{
      width: 100%;
      margin-bottom:$gap*3;
      overflow: hidden;

      li{
        width: 25%;
        float: left;
        padding-top:50px;
        transition:transform 0.3s ease-in;

        &:hover{
          transform:translateY(-10px);

          a{
            color:$base-color;
          }
        }
      }

      a{
        display: block;
      }

      img{
        display: block;
        margin:0 auto;
        @include size(215px,215px);
      }
    }

    &-price{
      font-size:$font-size-medium;
      color: $red;
      font-weight: 700;
      padding: 10px 0;
      width: 215px;
      margin: 0 auto;
    }

    &-tit{
      font-size:$font-size-medium;
      color: #656565;
      width: 215px;
      margin: 0 auto;
    }
    &-tag{
      font-size: 12px;
      color: $light-text;
      padding: 5px 0;
      width: 215px;
      margin: 0 auto;
    }
  }

}
