.product-list{
  width: 100%;
  padding: 15px;
  margin: 0 auto;
  background: #f8f8f8;

  &-con {
    width: 1200px;
    padding: 0 $gap;
    overflow: hidden;
    background: #fff;
    margin: 0 auto;
  }

  &-filter {
    margin-bottom:$gap;
    background: #fff;

    &-box{
      display:inline;
      margin-bottom:10px;
      line-height:20px;

      span,
      a{
        display:inline-block;
        height:22px;
        line-height:22px;
        vertical-align:middle;
        color: #959595;
        box-sizing:border-box;
      }
    }

    &-item{
      position:relative;
      margin-right:10px;
      padding:0 30px 0 3px;
      overflow:hidden;
      border:1px solid $base-color;

      &:after{
        @include size(22px, 22px);
        @include absolute(right 0 top 0);
        content:"X";
        display:block;
        text-align:center;
        line-height:22px;
        color:#fff;
        background:$base-color;
      }
    }

    dl {
      margin-top: -1px;
      overflow: hidden;
      border: 1px solid #eaeaea;
      background: #f9f9f9;

      &:first-child {
        margin-top: 0;
      }
    }

    dt {
      @include size(90px, 40px);
      float: left;
      padding-left: 15px;
      line-height: 40px;
    }

    dd {
      margin-left:100px;
      padding-right:$gap;
      background: #fff;

      a {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        color: #959595;
        padding: 0 20px;

        &:hover {
          color: $base-color;
        }
      }
    }
  }

  &-filter-mobile{
    display: none;
  }


  &-result {
    @include size(100%, 45px);
    margin-bottom:$gap;
    padding-left:$gap;
    line-height: 45px;
    background: #fff7ea;
    color: #666666;
    font-size:$font-size-medium;

    &-num {
      color: $red;
      padding: 0 2px;
    }
  }

  &-search-sort {
    @include size(100%, 50px);
    padding:0 $gap;
    margin-bottom: $gap;
    border: 1px solid #c2c2c2;
    border-left:0;
    border-right:0;
    overflow: hidden;
    font-size: $font-size-medium;

    p {
      float: left;
      height: 48px;
      line-height: 48px;
      color: #656565;
      text-align: center;
    }

    &-btns {
      float: left;
      margin-left: 20px;

      a {
        display:block;
        position:relative;
        float: left;
        padding: 0 20px;
        height: 48px;
        line-height: 48px;
        color: #656565;
        text-align: center;

        &:after{
          @include absolute(right 10px top 0);
          @include size(10px, 48px);
          line-height:48px;
          font-family:"iconfont";
        }

        &.desc:after{
          content:"\e63a";
        }

        &.asc:after{
          content:"\e63b";
        }

        &:hover,
        &.active{
          color:$base-color;
        }
      }

      .sortbutton{
        display: none;
      }
    }

    &-pages{
      float: right;
      padding: 11px 0;

      span,
      a{
        display: inline-block;
        vertical-align:middle;
      }
      span{
        margin-right:10px;
        color: #656565;
      }
      a{
        @include size(40px, 24px);
        margin-left:-5px;
        text-align: center;
        border: 1px solid #c2c2c2;
        color: #656565;
        line-height:22px;

        &:hover{
          background:#f6f6f6;
        }
      }
    }
  }

  @mixin product-list-triangle($direction) {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid #ffa917;
    border-#{$direction}: 10px solid transparent;
    position: absolute;
    #{$direction}: 0;
    top: 30px;
  }

  &-content {
    @include size(100%, auto);
    background: #fff;
    margin: 0 auto;
    overflow: hidden;

  }

  &-item {
    position: relative;
    float: left;
    width:277.5px;
    margin-bottom:20px;
    margin-right:20px;
    padding:20px $gap;
    border: 1px solid $grey-border;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &-top{
      margin-bottom:$gap;
      text-align:center;

      img,
      .product-list-item-remark{
        display:inline-block;
        vertical-align:bottom;
      }
    }

    &-bottom{
      position:relative;
      min-height:120px;
    }

    img {
      @include size(90%, auto);
    }

    &-remark{
      @include size(110px, 110px);
      position: relative;

      h4 {
        position: relative;
        display: block;
        height:30px;
        line-height:30px;
        font-size: 14px;
        text-align: center;
        color: #fff;
        background: #ffa917;

        &:before {
          @include product-list-triangle(left);
        }

        &:after {
          @include product-list-triangle(right);
        }
      }
    }

    &-promotion{
      position:relative;
      margin:0 5px;
      padding:5px 0;
      min-height: 75px;
      background: #ea1979;

      p{
        position:relative;
        padding:0 10px;
        font-size:$font-size-base;
        color: #fff;
        line-height: 20px;
        text-align:left;
        overflow:hidden;
        white-space:nowrap;
        text-overflow:ellipsis;

        &:before {
          @include absolute(top 8px left 3px);
          content: "";
          width:4px;
          height:4px;
          margin-top:-2px;
          border-radius:100%;
          background: #fff;
        }
      }
    }

    &-title{
      display:block;
      width: 100%;
      color: #656565;

      &:hover {
          color:$base-color;
      }
    }
    &-subtitle{
      font-size: 12px;
      color: $light-text;
      padding:5px 0;
    }
    &-price{
      // @include absolute(left -5px bottom 0);
      font-size: 22px;
      color: $red;
    }

    .iconfont{
      @include absolute(right 0 bottom 0);
      @include size(30px, 30px);
      line-height:30px;
      background:$red;
      text-align:center;
      font-size:18px;
      color:#fff;
      border-radius:100%;
      cursor:pointer;
      display:none;
    }

    &-sale span{
      @include size(auto, 16px);
      display:inline-block;
      padding:0 3px;
      color:#fff;
      line-height:16px;
      background:#E4393C;

      &.new{
        background:$base-color;
      }
    }


    // &-tag{
    //   @include size(30px, 30px);
    //   @include absolute(top 0 left 0);
    //   color:#fff;

    //   &:after{
    //     @include size(0, 0);
    //     @include absolute(top 0 left 0);
    //     content:"";
    //     border-width:15px;
    //     border-style:solid;
    //     border-color:$base-color transparent transparent $base-color;
    //   }
    // }

    &:hover{
      box-shadow:0 0 3px 3px #f8f8f8;

      .iconfont{
        display:block;
      }
    }
  }

  .pagination{
    margin-right:0;
  }
}
