.form{
  &-item{
    display:flex;
    flex-wrap:wrap;
    padding-left:0;
    margin-bottom:$gap;
    min-height:0.3rem;
    line-height:0.3rem;
  }

  &-title{
    @include relative(left 0 top 0);
    @include size(0.75rem, 0.3rem);
    display:block;
    line-height:0.3rem;
    text-align:left;
  }

  &-item-block{
    padding-left:0;

    .form-title{
      @include relative(left 0 top 0);
      width:auto;
      text-align:left;
      font-size:$font-size-medium;
    }
  }

  &-select,
  &-search,
  &-datepicker{
    position:relative;

    .input{
      padding-right:0.3rem;
    }

    &:after{
      @include size(30px, 30px);
      @include absolute(right 0 top 0);
      display:block;
      margin:0 !important;
      text-align:center;
      line-height:30px;
      font-size:12px;
      font-family:"iconfont";
      color:$grey-text;
    }
  }

  &-select:after{
    content:"\e644";
  }

  &-search:after{
    content:"\e61c";
  }

  &-datepicker:after{
    content:"\e610";
  }
}

.input{
  height:0.3rem;
  line-height:0.28rem;
  font-size:$font-size-medium;
  flex:1;

  &-error{
    border-color:$red;
  }
}

.textarea{
  height:100px;
  line-height:20px;
  padding:0 10px;
  border:1px solid $grey-border;
  background:$light-background;

}
.input-check{
  display:none;

  &:checked + span i{
    display:block;
    font-size:12px;
    line-height:16px;
  }

  & + span{
    @include size(15px, 15px);
    display:inline-block;
    vertical-align:middle;
    border:1px solid $grey-border;
    background:$grey-background;
    border-radius:3px;
    cursor:pointer;
    text-align:center;
    box-sizing:border-box;

    i{
    color:$base-color;
    display:none;
  }
    }
}

.error{
  width:100%;
  margin-top:5px;
  padding-left:0.75rem;
  color:$red;
  font-size:$font-size-base;

}
