$footer-grey:#a1a1a1;
.footer{
  display:none;
}

.footer-mobile{
  @include size(100%, $footer-mobile-height);
  @include fixed(bottom 0 left 0);
  padding:0.15rem 0;
  display:flex;
  background:#fff;
  border-top:1px solid #cdcdcd;

  a{
    @include size(25%, 100%);
    display:block;
    position:relative;
    padding-top:0.15rem;
    text-align:center;
    color:$dark-text;
    box-sizing:border-box;

    &:after{
      @include absolute(top -5px left 50%);
      @include size(20px, 18px);
      font-family:"iconfont";
      margin-left:-10px;
      font-size:16px;
      font-weight:700;
    }

    &.curr{
      color:$base-color;
    }

    &:nth-child(3):after{
      margin-left:-12px;
      top:-7px;
      font-size:19px;
    }
  }

  &-homepage:after{
    content:"\e659";
  }
  &-catlog:after{
    content:"\e65a";
  }
  &-cart:after{
    content:"\e65c";
  }
  &-me:after{
    content:"\e658";
  }
}
